---
layout: build.njk
kit: ACA2174
---
{% import "layouts/macros.njk" as m %}
<p>
  Another undocumented build.  The NMF on this one is quite grainy - I wonder if
  I used Tamiya {{'16'|txf|safe}} Flat Aluminum.  I know I used aftermarket decals,
  Superscale, but I can't remember which set.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
