---
layout: build.njk
kit: ACA2129
---
{% import "layouts/macros.njk" as m %}
<p>
  This is the Academy 1/72 Hawker Hurricane Mk IIc, kit number 2129.  I built this
  to try out a
  new technique for RAF camouflage.  I tried to use rolls of Play-Doh to outline
  the areas to be masked, using rubber cement to make the Play-doh stay put.  (In
  my experience, Play-Doh does not stick to matte surfaces very well.)  That
  technique didn't work well at all, so I went back to just cutting Scotch
  green masking tape to the appropriate shape.  That did work well.
</p>
<p>
  primed with Krylon Ruddy Brown primer, which I've found works well.  It sticks
 to the plastic and provides a smooth surface.  I sprayed the yellow bands on
 the front of the wings first, masked them, and then sprayed the rest.  The yellow
 was Floquil Reefer Yellow.  I used the new Tamiya RAF colors for the rest.  The
 Sea Grey Medium on the bottom went on rather rough, as Tamiya often does for me.
 However, I tried thinning it much more than I usually do for the top colors, and
 they went on very well.  I used to thin about 1:1 paint to thinner, but got much
 better results using two or three parts thinner to one part paint.  I used plain
 91% rubbing alcohol as a thinner, and was pleased with the results.
</p>
<p>
  I think this is the first plane that I've painted the wing tip lights, and painted
  the landing lights.  I just used silver for the landing lights.
</p>
<p>
  have learned from experience that Academy decals leave something to be desired,
 to put it mildly.  I used Techmod decals 72073M.  I had to use hot water, and leave
 the decal in the water for twenty seconds or so to get them to come off the backing
 paper.  I found they moved very well once on the model, so I didn't use any setting
 solution.  That was a mistake, as they silvered very badly.  They were also impervious
 to solvent, as even Solvaset did not soften them up.
</p>
<p>
  I masked the canopy in several steps, painting the vertical frames first, and then
  the horizontal frames.  The windscreen took four steps.  It was laborious, and doing
  it this way makes putting a flat coat on the canopy frames impossible, which is why
  the frames are a little darker then the rest of the plane.  However, the paint job
  itself came out well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
