---
layout: build.njk
kit: OT226
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is the Otaki 1/48 Fw 190A-8.
    I originally started this to use the Play-Doh techinque of masking, but
    since it didn't work well for the {{ mymacros.linkTo('Hurricane', '0401/') }},
    I didn't use it here.
</p>
<p>
    I primed with Krylon Gray primer. I had a little trouble covering the primer
    with the {{ mymacros.rlm('76') }}, and had to use a couple of coats.
    I did notice that in spots where I had to lay down a second coat of primer,
    the primer was much smoother. Since I always have a devil of a time trying
    to get a good gloss coat, I am going to use two coats on my next kit.
</p>
<p>
    Colors are mostly Model Master Enamels, {{ mymacros.rlm('76/75/74') }} for the exterior
    and {{ mymacros.rlm('02') }} for the wheel wells.
    The cockpit and tires are Tamiya {{ mymacros.txf('63') }} German Grey. I masked the windscreen
    with an {{ mymacros.linkTo('EZ Mask', 'http://www.ezmasks.com') }}, and hand masked the
    canopy. It came out pretty good.
</p>
<p>
    Although they were not yellowed, the decals didn't look all that great, so I
    used Aermomaster 48-231 Rammjagers part 1. I didn't bother with the stencils,
    since (1) I hate applying them and (2) this wasn't too great a kit anyway.
    As mentioned earlier, I had trouble getting a good gloss coat. I started with
    Future and then switched to my old standby, Krylon Acrylic gloss in a rattle can.
    In person, there is a little silvering, but it is not very visible in the photos.
    I'm not sure the fuselage insignia is correct - I would have expected a solid
    black interior - but that is what the instructions showed.
</p>
<p>
    Looking back at this kit in 2015, I realize that it should not have had the
    underwing gun pods - but I do like the look of them.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
