---
layout: build.njk
kit: HAS09600
---
{% import "layouts/macros.njk" as m %}
<p>
  At last I have a French plane in my collection - Hasegawa's French
  F6F-5 Hellcat, kit number 09600.  I built this one because
  I wanted to complete something rather quickly, and since this plane is all
  one color, it seemed an appropriate choice.  It was also a little different
  from the usual nationalities.  It is also the second 1/48 Hellcat I've
  tried to build - I did not complete the Otaki kit.
</p>
<p>
  As with the {{ 'Otaki Fw 190A-8' | linkTo('../0501/') | safe }},
  I primed with Krylon Gray primer.
  This primer is rather dark, but I didn't think it would be a problem since
  the main color is so dark.
  I used Model Master enamel Flat Sea Blue for the main color.  The surface
  ended up being rather
  rough, so I may have to break down and use a primer intended for models.
  The instructions
  said the wheels could be either blue or silver; I chose blue for simplicity.
  In retrospect, silver would have made painting the tires a bit easier, as
  there isn't much contrast between the blue of the wheels and the black of the tires.
</p>
<p>
  Again I used an {{ 'EZ Mask' | linkTo('http://www.ezmasks.com') | safe }}
  for the canopy, which worked well.
</p>
<p>
  I used Krylon Acrylic gloss in a rattle
  can for the gloss clear.  The kit decals worked very well, and I was very
  pleased with how they turned out.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
