---
layout: build.njk
kit: ACA2132
---
{% import "layouts/macros.njk" as m %}
<p>
    Here is the Academy 1/72 P-51D, kit number 2132. It is a rather simple kit,
    but it went together well.
</p>
<p>
    My primary reason for building this kit was to try out a NMF. I used
    {{'8'|mrcolor|safe}} Silver. I had sprayed this color on scrap plastic,
    and it looked quite good. I also used {{'Mr. Surfacer'|nowrap|safe}} 1200 as a primer.
    Although the {{'Mr. Surfacer'|nowrap|safe}} was a great primer, it was not glossy, and the
    silver didn't come out that as well as I had hoped. In the future, I will
    use {{'Mr. Surfacer'|nowrap|safe}} only for camouflaged exteriors, and use a gloss primer for NMF's.
</p>
<p>
    The landing gear, wheels and spinner are Gaia Silver {{'EX-07'|nowrap|safe}}. This was brighter
    than the Mr.&nbsp;Color, even over unprimed plastic, and I will be using this for a
    NMF at some point in the future. The tires are Auto-Borne black, which worked okay.
    I tried to use it on the propeller blades, but it did not stick to the plastic.
    I ended up using Floquil Engine Black. The olive drab anti-glare panel is
    {{'12'|mrcolor|safe}} Olive Drab. The cockpit was {{'27'|mrcolor|safe}} Interior Green,
    which seemed too light to my eyes. This project was my first large-scale attempt
    to use Mr.&nbsp;Color, and all in all I was pleased.
</p>
<p>
    The canopy was masked by hand. I tried to use the
    {{ 'EZ Mask' | linkTo('http://www.ezmasks.com') | safe }}
    that was designed for the Tamiya kit, but it didn't come close to fitting.
    I used a large curved blade to cut the tape, pressing rather than slicing.
    It turned out okay.
</p>
<p>
    Having had issues with Academy decals in the past, I used Superscale 72-667
    P-51D Mustang Aces. I chose the scheme with the simplest paint job (no invasion
    stripes) and the fewest decals, as I do not enjoy decals. I did not have to
    spray a gloss clear coat - the Mr.&nbsp;Color was glossy enough as is. I flat
    coated with First Step Clear Matte, thinned with windshield wiper fluid,
    which works well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
