---
layout: build.njk
kit: ARIIA328
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  Here is the Arii 1/48 Ki 44.  This is the second time I've built this kit (the first was
  the Otaki boxing) and represented another chance to create a natural metal finish (NMF).
</p>
<p>
  The kit went together well.  The only anomaly is that in the area next to the fuselage, the bottom of
  the wing is a little wider than the top, so it sticks out a little.  I later realized that this is
  accurate, and is due to the butterfly flaps.  Good thing I didn't fix it.
</p>
<p>
  I used Tamiya {{f.tx('1')}} Black as a primer for the NMF.  I created a mixture of the Tamiya paint and
  91% isopropyl alcohol, mixed 50/50, some time before priming this.  I created the mixture because I
  figured that I'd be using it for several NMF projects, and I've had good luck with storing thinned
  Tamiya paint.  Unfortunately, it did not stick that well, and some came off on the anti-glare panel.
  It looks somewhat like weathering, but it was not intentional!  The other times I've used pre-thinned
  paint was with flat colors, so maybe that has something to do with it.  At any rate, in the future,
  I will thin the gloss black as I need it.
</p>
<p>
  The NFM itself was Floquil Bright Silver, thinned with Floquil thinner.  There were a couple of areas
  on the wing where I had sanded and did not get the surface as smooth as I should have.  These areas did not
  turn out well, but the rest of the plane came out pretty nicely.  Fortunately, the defects don't show well
  in the photo.  Since I've had issues with Floquil silvers not drying, I slightly buffed the plane with a
  bit of old T shirt and applied some Floquil gloss clear before handling.
</p>
<p>
  The leading edges of the wings and the drop tanks were painted {{f.mrcolor('58')}} Orange Yellow.
  It looked too orange when I was painting it, but I think it looks better now.  I knew the drop tanks
  would be difficult to attach, which is why I left them off the last time I built this kit.  I ended
  up drilling the four mounting holes in the tanks and using brass tubing to run to the bottom of the
  wing.  In a couple of spots, there is a gap.
</p>
<p>
  The canopy was masked by hand.  The decals are from the kit.  There were quite thin.  The 11 on the port
  side broke as I was putting it on, but I was able to move the pieces into the appropriate positions.
  Also, the national insignia is too bright, but to be honest, this kit really isn't worth aftermarket
  decals.  I have a couple of Hasegawa boxings of this subject that are more deserving.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
