---
layout: build.njk
kit: TAM61046
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    After struggling with several kits, I decided I wanted to build one that
    wouldn't be too much of a challenge (I find myself saying that a lot), so I
    chose the Tamiya F4U-1.  I had actually
    hoped to finish this one in December, but it was not to be.
</p>
<p>
    Assembly wasn't too difficult, but not as simple as, say the Tamiya Bf 109E kits.
    The cockpit is a little complex, as I'm sure it was in real life.  I also had a
    little trouble with the wings, but sanding the spars a bit helped.  I actually
    delayed attaching the folding wing sections until after painting, as they are the
    same color top and bottom.
</p>
<p>
    This kit was going to be the same colors as {{ mymacros.linkTo('the Wildcat', '../2018/1101/') }}
    I build last year, so
    I used with Krylon White Primer again.  As with the Wildcat, the underside is Model Master
    Enamel Flat Gull Gray FS36440 and the top is Model Master Enamel Navy Blue Gray.
    I remembered that the top was not quite as dark as I had hoped, but I stuck with the
    Model Master Enamel anyway.
</p>
<p>
    I used Future as a gloss coat prior to applying the decals, Mr. Mark Setter on the decals,
    and Model Master Acryl Flat Clear as a final flat coat.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildFooter() }}
