---
layout: build.njk
kit: TAM35270
---
{% import "layouts/macros.njk" as m %}
<p>
    As with last month's {{ 'Sherman' | linkTo('../../0201/') | safe }},  I built this kit
    because the last several projects had been frustrating.  My shelf of doom is
    getting full.
</p>
<p>
    Even though this is an old kit - according to
    {{ 'Scalemates' | linkTo('https://www.scalemates.com/kits/tamiya-35270-sdkfz-222-leichter-panzerspaehwagen-4x4--128398') | safe }},
    this kit was originally released in 1975 - there really isn't to much to say.
    I debated whether or not to use the photo etch.  In the end I did, although I
    did not get it to fit quite right.
</p>
<p>
    I primed the exterior with Krylon Red Primer.  I'll have to avoid using this on
    photo etch in the future - it is so thick it clogged some of the screen on top.
    The exterior is Tamiya
    {{'63'|txf|safe}} German Grey.  The tires were painted Tamiya {{'1'|txf|safe}} Flat Black.
    I usually use NATO Black for tires, but I wanted a bit more contrast with
    the rest of the exterior.
</p>
<p>
    Once again I used Future as a gloss coat prior to applying the decals, and also as a sealer
    after the decals had been applied.  The flat coat was a mixture of Future with
    Tamiya {{'21'|tx|safe}} Flat Base.  Unlike my other armor builds, I didn't do any
    weathering.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
