---
layout: build.njk
kit: TAM35149
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is the second month in a row that I've built a Tamiya armor kit that was
    tooled long ago, in this case the T-34/76 ChTZ version.  Like the
    {{ mymacros.linkTo('Sd.Kfz. 222', '0301/') }}, construction was pretty simple and it
    went together pretty quickly.  The most
    time-consuming part was painting the tires on the road wheels.  I used an
    artist's pen to "paint" the part of each tire that touches the wheel, then
    used Tamiya {{ mymacros.txf('1') }} Flat Black to paint the rest of each tire.  I may try
    to pain the wheels and tires before assemblying the two halves together next time,
    and that would make the painting a bit less awkward.
</p>
<p>
    I primed the bottom of the hull - the part with the road wheels - with
    DupliColor Hot Rod Gray Primer.  (I had also used this primer on the wheels.)
    The last time I used this, it left quite of
    bit of what can only be described as dust on the model.  This time, it went on
    fine.  I later tried to prime the tracks with it, and it did not spray well.
    In retrospect, I think that was because the tracks are vinyl rather than
    polystyrene.  However, I decided to use Ace Hardware Gray Primer on the top of
    the hull and the turret.  It worked fine.  The exterior is Model Master Enamel
    Medium Green FS34102.  This is the shade, albeit in the Gunze Mr. Color line, that
    Dragon recommends for Soviet armor.  I liked the way it came out.  The tracks were
    painted my Tamiya Gun Metal mix of equal parts {{ mymacros.txf('1') }} Flat Black and
    {{ mymacros.txf('56') }} Metallic Grey.
</p>
<p>
    After painting, I brush painted Future on the area where the decals would go,
    and then applied the decals (both of them!).  A coat of Future was then sprayed
    over the entire model to seal the decals.  Although I didn't weather the Sd.Kfz. 222,
    I decided to do a little to this kit, so a wash made with Turpenoid and Payne's Gray
    oil paint was applied.  The model was then sealed with a flat coat of Future and
    Tamiya {{ mymacros.tx('21') }} Flat Base.  When I applied the wash, I thought it was a bit too
    heavy, but after applying the flat coat I thought it turned out okay.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildFooter() }}
