---
layout: build.njk
kit: MENGWWT011
---
{% import "layouts/macros.njk" as m %}
<p>
    July was another month of FUBAR'ed kits.  I think I messed up four of them before
    finishing this Meng kit.  After the FUBARs, I wanted something simple that I could
    actually finish.
</p>
<p>
    It went together well, although not as well as I remember the first two going
    together, especially {{ 'the T-34/76' | linkTo('../../2018/0901/') | safe }}.  I primed with
    Tamiya Grey Primer from the 40 ml jar.  The exterior was an old bottle of
    Floquil SP Lark Dark Grey, which quite frankly didn't go on as smoothly as
    it seemed to in the past.  That being said, it has been a while since I used
    any Floquil, so maybe my memory is faulty.  The exhaust was Model Master Enamel Rust.
</p>
<p>
    I first tried Model Master Metalizer Sealer for a pre-decal gloss coat.  As in the
    past, it seemed to have no effect at all on the finish.  I then tried Testor's Glosscote
    Lacquer (part number 1161),
    and that didn't seem to have any effect either.  I then tried Future, which worked.
    The decals went down with Microset, after which I set them with another coast of Future,
    followed by a coat of Right Step Matte.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
