---
layout: build.njk
kit: HAS09063
---
{% import "layouts/macros.njk" as m %}
<p>
    Sometimes I wonder why I still pursue this hobby.  Well, to be honest, not just
    sometimes but frequently, as even after thirteen years as an adult, I'm still not
    any good at it.
</p>
<p>
    Like {{ 'my previous build of this kit' | linkTo('../../2017/0101/') | safe }}, this was
    one of the collection of bagged 109 kits I purchased a few years back.  It was missing
    the tall tail wheel, which is why this kit has a short tail wheel. I am trying
    different brands of paint.  I purchased from Vallejo Model Air
    colors from {{ 'Sprue Brothers' | linkTo('https://store.spruebrothers.com/') | safe }}, and this
    kit was an attempt to use them.
</p>
<p>
    There's nothing much to say about assembly.  I first tried thinning the Model Air
    a bit before spraying, even though the paint is intended to be airbrushed straight
    from the bottle.  The thinning didn't work too well, so I ended up sprayed straight
    from the bottle, which worked well.  The mottling was hand painted, as the profile
    from the decal sheet - the individula markings came from
    Aeromaster 48-097 Reich Defense part 2 - showed the
    mottling as hard-edged.  The "{{'84'|rlm|safe}}" on the sides of the fuselage is Tamiya
    {{'12'|txf|safe}} JN Grey.  The undersides of the wings are Model Air {{'76'|rlm|safe}}.
</p>
<p>
    Most of the decals came from the kit.  The '7' on the side was the only thing I
    took from the Aeromaster sheet.  I dry-fitted the canopy before masking and painting
    it, but it still did not fit right.  The model sits crooked - the starboard side is
    significantly lower than the port side.  I'm not sure how that happened.  Also, it
    wasn't until I took these photos that I realized one of the prop blades fell off.
    I was able to find it and glue it back on.  It is drying as I'm writing this.
    Once it is dry, this build will go on the shelf, unless it goes straight
    to the trash can.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
