---
layout: build.njk
kit: TAM35346
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    I decided I wanted to build an armor kit, so I perused my stash and found this kit.
    It is a modern Tamiya kit, and goes together very well, as modern Tamiya kits
    tend to do.
</p>
<p>
    There isn't much to say about construction.  Although attaching all the small
    parts to the hull and turret was rather laborious, it wasn't too difficult.
    The most difficult part was attaching the eleven angle brackets on each fender.
    As a matter of fact, I lost one, so the left side only has ten.  I struggled a bit
    trying to attach them, until I realized the trick: put the top in, then use
    your thumb to push horizontally on the bar, and the bottom will snap into place.
</p>
<p>
    The paint scheme was about as simple as it gets.  Except for the silver ring
    about the barrel, for which I used Testors Silver Lacquer from their auto line,
    the rest of the tank is US Olive Drab.  I actually used a mix of three parts
    {{f.txf('62')}} Olive Drab to one part {{f.txf('60')}} Dark Yellow.  I ran across this
    mix on a web page, but I did not save the link.  I think it was recommended by
    Steve Zalonga.  The tires were painted Tamiya {{f.txf('69')}} NATO Black.  I think
    I will go with actual black next time, as there isn't that much constrast
    between the wheel and the tire.  The tracks and machine guns were painted my
    gun metal mix of one part {{f.txf('1')}} Flat Back and one part {{f.txf('56')}}
    Metallic Grey.
</p>
<p>
    There were only six decals - five white stars and a label for the ammo box
    on the machine gun on the turret.  I brush painted Future over those areas
    and then applied the decals.  After that, I sprayed the entire kit with Future
    to provide a consistent gloss.  It took quite a bit of spraying to make the
    rest of the kit as shiny as the areas that had been brush painted.  I tried
    two different flat coats, first a mixture of Future with Tamiya Flat Base,
    and then Right Step matte.  The airbrush I use for clears clogged up, so
    painting the flat coat was difficult.
</p>
<p>
    After the flat coat had been applied, I attached the clear parts on the headlights.
    There are six clear windows in the ring around the commander's hatch on the turret.
    Tamiya provides clear parts, but they glue from the inside, and I didn't want to
    have to mask them, so I left them off.  I used Krystal Klear (from the same folks
    who make Microset and Microsol) to make those windows.  I got a little outisde
    the windows but didn't turn out half bad.  I didn't do any weathering.  I had also
    given some thought to using the commander figure that comes with the kit, but
    chickened out.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
