---
layout: build.njk
kit: MENGWWT003
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    As with {{ mymacros.linkTo('my previous Meng World War Toons build', '0701/') }},
    this build came about because I was frustrated with other builds.
</p>
<p>
    There really isn't much to say about this build, as these World War Toons
    kits are so simple.  It went together easily.  I painted the exterior with
    AMMO by Mig 008 RAL 7021 Dunkelgrau.  This was my first experience using
    AMMO paints over a reasonably large surface, and I was pleased.  I did not have
    to thin the paint at all.  It also dried glossy enough so that I did not need
    to spray a gloss coat prior to applying the decals.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildPhotoLink(path, 4) }}
{{ mymacros.buildLastModified(stats.mtime) }}
