---
layout: build.njk
kit: HAS08150
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This build - my first 1/32 kit - was difficult.  I started this kit some time ago, and it sat on
    the shelf of doom for several months.  The SOD was getting rather full, so I
    decided to take a look at this kit and see how bad it was.  It didn't seem so
    bad, so I decided to finish it.
</p>
<p>
    Construction was a little awkward.  First, you need to cut out the openings
    in the fuselage for the exhaust.  That was a pain.  Also, each cylinder on the
    engine is a separate piece, and my boxing had quite a bit of flash - not surprising,
    since this kit dates from the 1970's.  The tail wheel had broken off on my kit.
    I tried gluing it back on, but it broke again.  I glued it on a second time,
    and then dabbed on epoxy all around the join.  That kept together.
</p>
<p>
    Since I figured that this kit might well be headed for the trash can anyway,
    I decided to try something new for the NMF.  I primed the exterior with Krylon
    Gray Primer, and then sprayed Krylon 1403 Dull Aluminum for the final coat.
    Since I've had trouble with metallic paint not drying, I let it sit for several
    days to fully cure.  I was pleasantly surprised at how it turned out, and as
    this is a 1/32 kit and is therefore rather large, using spray paint was much
    easier than airbrushing.  I was able to mask to paint the anti-glare panel,
    the yellow on the front edge of the wings, and the wheel wells without any issue.
</p>
<p>
    Since the surface was rather smooth, I decided to try to decal without applying
    a gloss coat first.  I had trouble with the decals, but because they were so
    thin, not due to lack of a gloss coat.  The insignia on the upper right wing
    shattered (as you can see in one of the photos).  As a matter of fact, I got so
    frustrated with the decals that I didn't bother to apply any stencils, including
    the small yellow stripes on the propellor blads.  It wasn't until after I was
    done that I realized I also forgot to put the black walkway area decal on the
    upper left wing.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
