---
layout: build.njk
kit: TAM61037
---
{% import "layouts/macros.njk" as m %}
<p>
    After struggling with the last few builds, I wanted something relatively easy,
    so of course I reached for a Tamiya kit.  I had also purchased some Hataka
    paints from {{ 'Sprue Brothers' | linkTo('https://store.spruebrothers.com/') | safe }}
    and wanted to try them out, so a German subject seemed appropriate.
</p>
<p>
    I've built several Tamiya Fw 190's, but this is the first A-3.  I have some
    aftermarket decals for a Turkish version and a captured version, so I may
    build another of these at some point.  It went together well, as expected.
    I used AMMO by Mig paints for the {{'66'|rlm|safe}} in the cockpit and the
    {{'02'|rlm|safe}} in the wheel wells.  These paints were airbrushed without any
    thinning, and they went on well.  I tried using {{'113'|mrcolor|safe}} {{'04'|rlm|safe}}
    for the rudder and the underside of the cowling, but it had a bit of a greenish
    tinge to it, so I overpainted it with my Tamiya mix for {{'04'|rlm|safe}}.
</p>
<p>
    Once the cowling and rudder were masked, I re-sprayed a light gray over the
    yellow overspray.  I have learned that yellow will bleed through, especially
    if the color sprayed over it is light blue (it makes the blue look slightly greenish,
    as expected).  I then used Hataka paints for the {{'76'|rlm|safe}} on the bottom and
    sides of the fuselage, and {{'75'|rlm|safe}} and {{'74'|rlm|safe}} for the camouflage.
    If I recall correctly, I thinned it with {{'Mr. Color'|nowrap|safe}} Thinner. It sprayed very well.
    I actually applied the mottling freehand, and was pleased with how it turned out.
</p>
<p>
    The Hataka paints were rather glossy, but I sprayed Testors Glosscote 1161 over them
    anyway, as a pre-decal coat.  To be honest, jsut as with previous uses of
    Glosscote, I really didn't notice any difference in sheen.  I don't know if that
    is because the Hataka paints are glossy as-is, because the Glosscote isn't that
    glossy, or because my eyes just aren't good enough to pick up differences in
    sheen.  I applied the kit decals, using Mr. Mark Setter underneath them.  I had
    to apply two or three coats of Solvaset on top of them to get them to conform,
    as they were rather thick.  The stripe around the fuselage broke, and I was not
    able to align it just right.  I used Testors Dullcote 1160 for the flat coat.  I must
    admit, the lacquer clears are much easier to airbrush than Future.
</p>
<p>
    All in all, I was very pleased with how this build turned out.  It may very well
    be my best build so far.  Except for the fuselage stripe, and couple of places
    where a fiber from a Q-Tip was on the paint, everything went well.  But after
    the build was complete, I noticed was that I forgot to put on
    the gunsight!  Oh, well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
