---
layout: build.njk
kit: MONO6802
---
{% import "layouts/macros.njk" as m %}
<p>
    I built this kit several times as a kid, and once before as an adult (although
    I notice I haven't yet documented it on this site).  I picked it up for $5 at
    a local swap meet, and used it to try out some more of the Hataka paints.
</p>
<p>
    It goes together rather easily.  As you might expect from a kit made for kids
    in the 1960's, it isn't detailed.  The cockpit consists of the armor plate and
    a pilot figure (which I didn't put in).  The wheel wells are devoid of detail
    as well.  I have never built this kit as a Mk. IId, so that's the version
    I built.
</p>
<p>
    I used Hataka paints for the azure blue on the bottom, the middlestone (labelled
    as 'Mid Stone' on the Hataka bottle) and dark earth on the top.  I decided to
    try spraying the dark earth freehand, as I always find masking the curvy RAF
    camouflage to be a pain.  I first outlined the curves with diluted paint using
    a microbrush, then sprayed.  I was very pleased with how it turned out, and
    plan on freehanding RAF planes in the future.
</p>
<p>
    I was not as pleased with the spinner and propellor.  I tried spraying the spinner
    with Tamiya {{'7'|txf|safe}}, using a mixture of denatured alcohol and Createx 4012
    reducer, but the mixture must have been mostly denatured alcohol.  The paint
    dried too quickly and appeared as a translucent pink.  I then sprayed Polly Scale
    Pacemaker Red, but it still turned out poorly.  I hand-painted the prop blades
    and that didn't turn out well either.  Since I knew this model wasn't going to
    turn out that well overall, I hand painted the canopy too, and was reminded of
    why I shouldn't do that.
</p>
<p>
    As with the {{ 'Fw 190A-3' | linkTo('../1101/') | safe }}, I used Glosscote and Dullcote
    for the clears.  I used the kit decals.  As the decals were probably a few
    decades old, I had to use very hot water, but they settled down okay.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
