---
layout: build.njk
kit: TAM61032
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    This is the second time I've built this kit.  I wanted to use a set of Superscale
    decals I had that showed some Spitfires with the black and white undersides.
    Plus, after having freehanded the camouflage on {{f.linkTo('my previous build','../1102/')}},
    I wanted to try it again, with Tamiya paints.
</p>
<p>
    Assembly was mostly trouble-free.  However, I had to sand the top of the seat to
    get the rear part of the canopy to fit.  If I recall correctly, I have had this
    issue with every Tamiya Spitfire I've built, and yet I never remember to try to
    keep the seat low.  Perhaps the retooled Mk I doesn't have this issue.
</p>
<p>
    I used Tamiya paints on this one.  The bottom is {{f.txf('2')}} Flat White and
    {{f.txf('1')}} Flat Black.  For the dark earth on the top, I used {{f.txf('72')}}
    Brown / JGSDF, as suggested by Jon Bius at {{f.linkTo('Agape Models','https://www.agapemodels.com/')}}.
    The dark green was {{f.txf('81')}} Dark Green 2 (RAF).  As mentioned above, I
    freehanded it, and it turned out okay.
</p>
<p>
    I used Testors Metalizer Sealer for the gloss coat and Dullcote
    for the flat coat.  The decals were from Superscale 48-630 Spitfire Mk I
    May 1939 to "The Phoney War", Nov. 1939.  According to the decal set instructions,
    the subject is a Spitfire Mk I 72 Squadron in May, 1939.  There was a lot of
    silvering on the fuselage, perhaps because I used Solvaset to try to get the decals to settle
    down.  I'm thinking that Solvaset may have been too strong, and I should have
    stuck with Microset and Microsol.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
