---
layout: build.njk
kit: TAM61095
---
{% import "layouts/macros.njk" as m %}
<p>
    This build was much longer than expected.  I began the build in December,
    and had the underside painted by the just after Chrismas.  But then I lost my
    modeling mojo, and the build sat idle for about two months, until the end of
    February.  I think one of the reasons for the slump was that I had been packing
    up my models in preparation for some work done on my house.  I found that
    with the stash out of sight, modeling itself was out of mind.  At the end of
    February, I decided to unpack everything, take a simple inventory, and then sell
    some kits that I knew I would never get to.  Once I had the kits out of the boxes,
    I found myself thinking, 'That one is going to be fun to build!' and my mojo
    came back.  I have sold some, but I've still got enough to keep my busy for some time!
</p>
<p>
    I was a little surprised to find that this is only the second time I have built
    this kit.  The reason for the surprise is that the Fw 190 is one of my favorite
    aircraft, and the Tamiya kit goes together very well.  I have build several of
    the F-8's, but only one A-8 before this build.
</p>
<p>
    Throughout the twelve years I've been modeling as an adult, I have gone back and
    forth between several brands of paint.  For this build, I decided to try to stick
    with acrylics.  I have struggled with water-based acrylics in the past, although
    I've had some luck with Tamiya, which are alcohol-based.  I have had good results
    using Tamiya when thinned with either Tamiya lacquer thinner or Mr. Color Leveling
    Thinner.
</p>
<p>
    Well, it didn't quite go as I planned.  The rudder was sprayed with Polly Scale
    {{'04'|rlm|safe}}, and the underside was underside was Polly Scale {{'76'|rlm|safe}}.  I have
    discovered through my travails with using Future, that acrylics - at least the water-based
    ones - spray better at about 20 psi, which is a little higher than I normally use.
    Using this higher pressure, and by not thinning the paint at all, the Polly Scale went on well.
    But then came the two month lull, and at that point I decided to abandon my
    experiment.  Model Master Enamel was used for the {{'74'|rlm|safe}} and {{'75'|rlm|safe}}.
    I used my Badger Rage Velocity, a recent acquisition, to spray the mottling, and I
    thought it came out quite well, much better than some of my previous attempts.  I
    thinned the Model Master Enamel with either Mr. Color Leveling Thinner or with
    Xylene (which I picked up on a trip to Vegas last year - it isn't sold here in
    California) - I can't remember which.  Both work well.
</p>
<p>
    I used Testors Glosscote for my decal undercoat.  It didn't seem to have much effect,
    but the Model Master Enamel Luftwaffe colors are semi-gloss, so there probably
    wasn't much difference.  The decals came from Aeromaster 48-233 Rammj&auml;gers Part 3.
    I used Tamiya XF-8 Flat Blue for the spinner, which matched the blue 4 on the
    fuselage.  Since I don't enjoy applying decals that much, I only applied the stencils
    to the drop tank.
</p>
<p>
    After applying the decals, I attached the landing gear,
    drop tank, and so forth.  I always seem to have trouble attaching the landing
    gear on 190's, due to the actuating arm.  The model does not sit quite level,
    but since I do not enter contests, I didn't worry about it.  The pitot tube was
    from the {{ 'Quickboost' | linkTo('http://www.quickboost.net') | safe }} 48120 set,
    and the wheels were {{ 'Ultracast' | linkTo('http://www.ultracast.ca') | safe }} 48231.
    After attaching everything, I gave the model a
    final gloss coat of Future, sprayed though my Badger Anthem at about 20 psi.
    I used Right Step Matte as a final flat coat.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
