---
layout: build.njk
kit: HAS09196
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is my first Hasegawa J2M in this scale.  I've build Tamiya's 1/48 J2M3 (which I
    believe is actually 1/50 scale), and their 1/72 J2M3 twice.  I've got two 1/48
    Hasegawa J2M3's in the stash for the future.
</p>
<p>
    This kit went together well, as Hasegawa kits usually do, at least for me.  As a
    matter of fact, I seem to have fewer issues with Hasegawa kits than with Tamiya
    kits, which have a better reputation in terms of fit.
</p>
<p>
    As with the {{ mymacros.linkTo('Fw 190A-8', '0301/') }}, I used mostly Tamiya paints on this kit.
    This made things a bit simpler, as Tamiya offers nearly all the needed colors
    right out of the bottle.  The cockpit was painted XF-71 Cockpit Green, which is
    intended for Mitsubishi aircraft.  The yellow on the front of the wings was
    my Tamiya mix for {{ mymacros.rlm('04') }}, which is a reasonably close match for Japanese
    Orange-Yellow.  I also used this for the tips of the propellor blades.
    The underside was XF-12 JN Grey.  This was also used for the landing gear
    and wheel wells.  This made the painting process simpler!
    The top was XF-70 Dark Green 2
    (IJN), which is Mitsubishi Dark Green.  (I believe XF-11 is for Nakajima
    aircraft.)  The XF-70 has a slight bluish tint to it.  When I first saw the paint,
    I thought that the blue was bit too much, but after the fact I think it looks
    right.  It seems a close match to FS34092, and might be appropriate for a P-47
    cockpit, although it would probably have to be lightened a bit.
</p>
<p>
    The anti-glare panel was painted X-18 Semi Gloss Black.  I believe it is
    actually supposed to have a bit of a bluish tint.  The tires were hand-painted
    XF-69 NATO Black.  I used Tamiya Acrylic Retarder to thin the paint a bit
    when I brushed it on, and it worked very well.  As a matter of fact, I have
    made some home-brew thinner for Tamiya using a mix of denatured alcohol and
    the Tamiya Retarder, and it works very well.  The gun barrels were painted
    a 50/50 mix of XF-1 Flat Black and XF-56 Metallic Grey.  I use this rather than
    Tamiya's own X-10 Gun Metal because the X-10 is glossy, which makes it more
    difficult to use.  I had purchases some aftermarket gun barrels from Master
    Models, but decided to save those for a future build.
</p>
<p>
    I used Future for my decal undercoat, sprayed through my Badger Anthem at
    about 20 psi, a bit more than I normally use.  The fact that the Anthem is
    siphon feed rather than gravity feed may have something to do with the better
    results I get with a higher pressure.  The decals are from the kit, and went
    on well with very warm water.  I used Right Step Matte as a final coat.
</p>
<p>
    As often happens with my builds, I had a bit of trouble with the canopy.
    It didn't quite sit right.  This is rather visible on the starboard side.
    Also, I left out the armored glass.  The little bracket that is supposed to
    hold it was warped it my kit, and I could not get the plate to fit.
</p>
<p>
    I made one significant blunder when building this kit, although it isn't
    immediately apparent from the photos.  On the sprue, there is a disk in the
    middle of the opening of the cowling, held in place by two small branches.
    I thought it was just there as part
    of the molding process, so I removed it.  Turns out it was part of the real
    plane.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildFooter() }}
