---
layout: build.njk
kit: TAM61033
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    I picked up the Eagle Strike 48228 U.S. Spitfires Part 2 (Africa and Italy) some
    time ago (meaning years), and I was struck by the second subject on the sheet.
    It is a Spitfire Mk. Vb flown by Bob Curtiss and has a very unusual camouflage
    scheme consisting of two shades of green over azure blue.  The decal sheet even mentions that
    the plane may have been RAF Dark Earth and RAF Dark Green instead of the two
    shades of green.  The book Spitfires And Yellow Tail Mustangs: The U.S. 52nd Fighter
    Group in WWII contains
    {{f.linkTo('artwork and a photo','https://books.google.com/books?id=DZtIAQAAQBAJ&lpg=PP1&pg=PA192-IA10#v=onepage&q=curtis&f=false')}}
    of this plane, in the two shades of green.  Even if the camouflage is fictious,
    I found it striking, so I decided to go with it.
</p>
<p>
    I don't recall running into any issues when building this kit, with one exception
    that happened at the end.  I used Model Master Enamel RAF Interior Green for the
    cockpit.  As I was building {{f.linkTo('the Raiden','../0501/')}} at the same time,
    I compared this cockpit with the Raiden's cockpit, which was painted Tamiya {{f.txf('71')}}
    Cockpit Green.  Although the {{f.txf('71')}} is intended to represent Mitsubishi cockpits,
    not British ones, it is pretty close, and
    Brett Green of {{f.linkTo('Hyperscale','http://www.hyperscale.com')}} has used it for
    RAF planes.  The {{f.txf('71')}} is a bit more yellow, whereas the RAF Interior Green is
    a bit more gray, but they are close.
</p>
<p>
    The underside was painted with a 50/50 mix of Model Master Enamel Azure Blue
    and Flat White.  I made this mix up some time ago, and have used it several times.
    I found the Azure Blue straight from the bottle a bit too dark.  For the upper side,
    I first sprayed Model Master Enamel Green FS34258.  After looking at it, I
    thought it was a too light and too yellowish.  I repainted using the same
    RAF Interior Green that I used for the cocpit.  It looked much better.  Also,
    if the plane really was two shades of green, it makes sense that cockpit green
    would have been used, since presumably there would have been some on hand.  I
    used Model Master RAF Dark Green for the dark green.
</p>
<p>
    The tires were hand painted with Vallejo Game Cascade Heavy Charoal.  This was
    the first time I used this paint.  It was easy to brush, as Vallejo paints are
    known for, but it was very glossy.  Also, it looked just like flat black to me.
</p>
<p>
    For a decal precoat, I first tried Model Master Metalizer Sealer.  I have read
    on the web of folks using this, and being pleased with it, but to be honest
    it does not seem to have any effect on the finish.  I ended up spraying with
    Krylon 51301 Gloss Acrylic Crystal Clear from a spray bomb, which was very glossy.
    As mentioned above, the decals are from Eagle Strike 48228.  They went on without
    any trouble.
</p>
<p>
    For a post-decal flat coat, I used a mixture of Future and
    Tamiya {{f.tx('21')}} Flat Base.  This didn't work too well at first.  I had what I thought
    was a bottle of the Flat Base, and I mixed it with Future in what I thought
    was the correct ratio, but it was still glossy.  Turns out that what I thought
    was Flat Base was a Future/Flat Base mixture I had made some years ago.  I was
    in effect using only a very small amount of Flat Base.  Once I adusted the ratio,
    it sprayed on well.
</p>
<p>
    After the flat coat, I attached the clear parts.  This is where things went haywire.
    I attached the identification lamp - the tiny bulb that is just aft of the antenna
    mast - by putting a piece of Tamiya masking tape on the top of it and using that
    to place the lamp in the hole in the fuselage.  After the glue dried, I lifted
    the tape and found that the lamp was crooked.  Then I put on the canopy.  I had
    dry-fitted the canopy before masking it (as I have learned to do), and thought it
    fit properly.  However, the rear portion would not sit all the way down.  As with
    every previous build of this kit, the seat was too high and prevented the clear
    part from resting on the fuselage.  I had already sanded the seat, but I had to
    sand it some more.  The rest of the canopy did not fit too well either.  I will
    freely admit that when I hear people describe this kit as 'shake and bake', I
    grit my teeth a bit - but maybe it's just me.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
