---
layout: build.njk
kit: HAS09011
---
{% import "layouts/macros.njk" as m %}
<p>
    Like {{ 'the Bf 109G-6 I built a year ago' | linkTo('../../2017/0701/') | safe }}, this kit was
    one of a lot that I purchased cheaply.  It did not have decals, so I used
    Aeromaster 48-129C Mediteranean Bf 109s of JG 53.  I decided to try
    a couple of new things with this build.  This is actually the first 109F that
    I've built - all my previous 109's were either E's, G's or K's.
</p>
<p>
    For the most part, this kit went together well.  However, I had trouble with the
    cowling.  It comes in two parts.  I should have glued each half to its respective
    fuselage half before putting the two fuselage halves together.   I should also
    have cut off the machine gun barrels and glued them to the inside of the cowling -
    the way they attach, only one is visible.
</p>
<p>
    I think I primed with Ace Hardware brand gray primer from a spray can.  One of the
    things that I decided to try with this kit was to use water-based paint, which I
    haven't used for a while and have never had good luck with.  The {{'76'|rlm|safe}} was
    Model Master Acryl.  I think I tried using Createx 4012 High Performance reducer
    to thin it.  It did go on pretty well.  The {{'75'|rlm|safe}} and {{'74'|rlm|safe}} were
    Lifecolor, a brand I had not tried before.  I first tried using airbrush medium
    and water.  That worked okay, but not great.  I then tried using
    {{ "Jason Jones' reducer" | linkTo('http://jason-jones.com/articles/106-airbrushing/302-homemade-reducer') | safe }},
    and that worked better.
</p>
<p>
    It wasn't until after I had painted the camouflage that I realized I had forgotten
    to paint the white fuselage stripe and the {{'04'|rlm|safe}} under the cowling, so they
    were masked and painted.  It was much more difficult that way - need to make a note
    to myself to do these first!  After they were done, I hand-painted the mottling,
    which matched the way the mottling was shown on the decal sheet.
</p>
<p>
    Another new technique I tried was to polish the canopy.  I used Blue Magic Metal
    Polish, which had been recommended by Gregg Cooper on his
    {{ 'Gekko build on Hyperscale' | linkTo('http://hyperscale.com/features/2002/gekkogc_3.htm') | safe }}.
    It did not seem to make any difference, and in the end I dipped the canopy in
    Future as I usually do.  I used a mask from {{ 'EZ Masks' | linkTo('http://www.ezmasks.com') | safe }}
    to mask the canopy.
</p>
<p>
    As mentioned above, the decals are from Aeromaster 48-129C.  They went on without
    any trouble.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
