---
layout: build.njk
kit: HAS09740
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    Here is the first P-40 I've build.  I had started an AMT P-40N some time ago, but
    that one ended up FUBAR.
</p>
<p>
    As with {{ mymacros.linkTo('last month\'s build', '0701/') }}, this kit went together well.
    I had read enough on the web to know to be careful with the fuselage inserts, which
    all of the Hasegawa P-40 kits have.  I didn't have too much trouble, although next
    time I might attach the inserts to their respective fuselage halves before putting
    the halves together.  I also had trouble with the canopy, which I always seem to do.
    The middle section - which  I put on last - did not fit well.  As a matter of fact,
    when I was taking the photos below, the middle section came loose, and I had to
    reattach it.
</p>
<p>
    The cockpit was painted with the Tamiya mix for US Interior Green.  I painted the
    area beneath the rear canopy section with the cockpit color, as the instructions
    called out for.  I'm not 100% sure this is historically correct.  I used Badger
    Stynylrez Gray Primer.  This is a water based primer, that you spray without thinning.
    It went on pretty well, but it turned out to be very close to the Tamiya {{ mymacros.txf('53') }}
    Neutral Grey that I used on the underside.  It was very difficult to see where I had
    sprayed the Neutral Grey and where I had not.  The top was Tamiya {{ mymacros.txf('51') }}
    Khaki Drab, which I prefer to Tamiya's Olive Drab for aircraft.  However, it came out
    darker than I expected, perhaps due to the primer.
</p>
<p>
    I wasn't sure if the plane depicted had the Medium Green splotches that many P-40's had,
    so they were painted after the rest of the camouflage.  I used Model Master Acryl Euro I
    Dark Green (FS34092).  The color was what I wanted, but masking the scallops was a pain.
    Next time I will paint the Medium Green first, then paint the rest of the camouflage.
</p>
<p>
    I used decals from {{ mymacros.linkTo('Techmod', 'http://www.techmod.pl') }} 48054.
    I had originally intended to use them on the AMT
    kit.  Because I did not check the decal sheet closely until I was halfway through the
    kit, I did not notice that the real plane did not have a mast, but did have the circular
    antenna.  I followed the kit instructions, which used the mast and not the circular antenna.
    Also, some profiles of this plane I have seen on the web show the tip of the spinner in white.
</p>
<p>
    I searched the web for tips on using Techmod decals, and found
    {{ mymacros.linkTo('this page', 'http://aerospacehistorymodels.blogspot.com/2012/03/') }} that
    suggested using plain water, without any decal setting solution, so that is what I
    did.  I did not have any trouble placing the decals (from what I have read, that is a
    common problem with Techmod decals), but they didn't stick that well.  I half expect them
    to come off at some point.  Because I thought I might have trouble with the decals, I
    painted the stripes on the tail.  I used Tamiya {{ mymacros.txf('18') }} Medium Blue, which is both
    too dark and too gray.  It should match the blue on the national insignia.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildFooter() }}
