---
layout: build.njk
kit: TAM61032
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    I spent the first part of August struggling with the Eduard Spitfire IXe.
    I knew from many reviews on the web that it was a fiddly kit, and in the end
    I put it on the shelf of doom.  I'm pretty sure it will end up FUBAR.  I wanted
    something that was simpler, so I chose the Tamiya Spitfire Mk I, which I hadn't
    built before.
</p>
<p>
    The kit went together without any drama - a big change from the Eduard kit.  I was
    careful inserting the cockpit on this one.  In the past, I've always put the
    cockpit in too high, so the rear section of the canopy does not fit.  This time, I
    held the rear canopy in place while I inserted the cockpit, so as not to insert
    it too high.
</p>
<p>
    I primed the exterior with Brite Touch Gray Primer that I purchased at Pep Boys.
    The exterior colors were Tamiya - {{f.txf('21')}} Sky on the underside,
    {{f.txf('72')}} Brown (JGSDF) for the Dark Earth and {{f.txf('81')}} RAF Dark Green.
    Jon Bius at {{f.linkTo('Agape Models','http://www.agapemodels.com')}} has mentioned
    that he uses {{f.txf('72')}} for RAF Dark Earth, and I thought it looked pretty good.
</p>
<p>
    One nice thing about the Mk I over the Mk Vb is that there are no yellow bands
    on the front of the wings, and there is no Sky band on the fuselage.  For an RAF
    aircraft, this one was pretty easy to paint.  I say "for an RAF aircraft", because
    there is still the wavy camouflage to paint, which is always a challenge for me.
    I ended up painting the Dark Earth, the putting masking tape over most of the
    area that would stay Dark Earth, then using masking fluid for the curves.  I worked
    out okay, but there was at least one area - the middle rear of the starboard wing -
    where I couldn't get the masking fluid off.
</p>
<p>
    The decals came from the kit.  I only applied one stencil, the one that goes
    just behind the fuel cap on the top of the fuselage.  I was going to apply others,
    but I realized the wing walk markers need to be applied before the national
    insignia, and since I don't like applying decals, I didn't apply any more stencils.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
