---
layout: build.njk
kit: MENGWWT006
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    September was not a good month.  Three models ended up FUBAR: a Hasegawa 1/48
    P-47D, an Airfix P-51D, and a Revell King Tiger.  The P-47 was built and
    ready for the exterior color.  I very foolishly tried to use a spray can from
    the hardware store - Ace Hardware Chrome Aluminum.  It went on very shiny.
    After it had dried for a couple of days, I masked it to paint the ant-glare
    panel.  The masking tape brought up some of the paint.  At that point, it went
    in the trash.
</p>
<p>
    The Airfix P-51D is currently on the shelf of doom.  It has a lot of inserts.
    It went on the SOD when the gun inserts in the wings did not fit at all.  And
    the Revell King Tiger, which is a rebox of the ICM kit, only lasted about ten
    minutes.  I assembled the two halves of the gun mount, and that was enough to
    tell me that the kit was not worth spending any time on.  With the size of my
    stash, I've learned not to spend time of ill-fitting kits.
</p>
<p>
    At this point, I went looking for something simple, and I spied this kit, which
    I had purchased from {{ mymacros.linkTo('Sprue Brothers', 'https://store.spruebrothers.com') }}
    some time ago.  This kit represents a tank from World War Toons, which I believe is a
    video game.  I didn't realize it until I started working on it, but it is
    intended to be assembled without cement, although I did use some in a few places.
    It went together well, and I had all the assembly done in about an hour and a half.
    It makes my optimistic about their P-51D kit, which is also cement free.
</p>
<p>
    I primed the exterior with Krylon Gray Primer.  I've been trying to evaluate
    what green to use on my next Soviet Tank.  I used Tamiya {{ mymacros.txf('73') }} Dark Green (JGSDF)
    for the exterior, and I liked the way it turned out.  I don't think it is
    historically accurate, as I believe the actual color was a bit more of an olive.
    I didn't paint the tracks.  The track on the turret was painted with Tamiya
    {{ mymacros.tx('18') }} Semi Gloss Black.
</p>
<p>
    I used Future as a gloss coat prior to applying the decals, and also as a sealer
    after the decals had been applied.  The flat coat was Model Master Acryl Flat
    Clear, thinned with
    {{ mymacros.linkTo("Jason Jones' reducer", 'http://jason-jones.com/articles/106-airbrushing/302-homemade-reducer') }}.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
