---
layout: build.njk
kit: TAM35353
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    After the frustrations of last month, I wanted something different, so I grabbed
    an armor model from my stash - the Tamiya Sturmpanzer.
</p>
<p>
    The kit has two options, one of which has the sch&uuml;rzen and one which does not.
    I don't particularly like the look of sch&uuml;rzen, and - given last month's
    experience - I didn't want to make things more complex than they had to be.
    Plus, the options without sch&uuml;rzen had only two decals, half the number of the
    option with sch&uuml;rzen.
</p>
<p>
    As is typical with modern Tamiya kits, this went together pretty easily.  There
    were a couple of gotchas, mostly because I did not attach the tools until after
    everything else was complete.  This made it easier to paint.  The one thing
    I would have done differently would be to not attach the rear bracket for the
    sch&uuml;rzen support rail until after I had attached the rail.  I don't think it
    is obvious from the photos, but I didn't attach the bracket at the proper right
    angle, so it doesn't line up with the support rail.  Interestingly, this happened
    on both sides.  Also, I had a devil of a time trying to attach the tow cable
    on the right side.  In the end, I left it off.
</p>
<p>
    I primed the exterior with Krylon Red Oxide Primer.  The primary exterior color
    was Tamiya {{f.txf('60')}} Dark Yellow.  The camouflage was Tamiya {{f.txf('58')}} Olive Green
    and Model Master Acryl Burnt Sienna.  All three of these were thinned with a mixture
    of denatured alcohol and Createx 4012 High Performace Reducer.  I was hesitant
    to try this with the Acryl, but it worked well.
</p>
<p>
    I used Future as a gloss coat prior to applying the decals, just spraying the
    sides where the decals would go.  I used Mr. Mark Setter on the decals, which
    went on with no problem.  After both decals had been applied, I used Krylon
    51301 Gloss Acrylic Crystal Clear to seal them, and to prepare for a wash.
    I applied a wash of
    Burnt Umber, thinned with Turpenoid from the blue can.  Apparently, I did not
    thin the paint enough, because it went on heavier than I intended.
    The post-wash flat coat was Model Master Acryl Flat
    Clear, thinned with
    the same denatured alcohol / reducer mix I used with the Burnt Sienna.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{{ m.buildPhotoLink(path, 4) }}
