---
layout: build.njk
kit: TAM61034
---
{% import "layouts/macros.njk" as m %}
<p>
    This build may be one of my fastest in several years - I started on October 30
    and finished on November 13.  With my lifestyle and the way I build kits, I
    should be able to finish two kits a month, but I usually only get one, and sometimes
    not even that.
</p>
<p>
    This is the second time I've tried to build this kit.  If I recall correctly,
    the first time I attempted to build this kit I screwed up the landing gear.  This
    time I was much more careful.  The build really didn't give me any problems.
</p>
<p>
    Once the major assembly was done,
    I primed with Krylon White Primer, which worked well.  The underside is Model Master
    Enamel Flat Gull Gray FS36440 and the top is Model Master Enamel Navy Blue Gray.
    I think the top is not quite dark enough.  I have a F4U-1/2 Corsair which I am
    going to paint in the same scheme, and I may use a Tamiya mix for the top on that kit.
</p>
<p>
    I used Future as a gloss coat prior to applying the decals.  As with
    {{ 'the Sturmpanzer' | linkTo('../1001/') | safe }}, I used Mr. Mark Setter on the decals.
    However, these decals were quite thick, after Mr. Mark Softer failed to get them
    to settle, I use Solvaset.  They still didn't conform completely, partially
    because this kit has lots of prominent rivets.  After I was satisfied - in other
    words, once I figured the decals had settled as much as they were going to -
    I attached the landing gear, arrestor hook, pitot tube, and propellor and then
    gave the kit another coat of Future.  I tried to attach the drop tanks, but
    the attachment points did not line up, so I left them off.
    I used Model Master Acryl Flat Clear as a final flat coat.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
