---
layout: build.njk
kit: HAS09013
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This was another one of the bagged kits that I bought from a fellow modeler
    on {{ mymacros.linkTo('Hyperscale', 'http://www.hypescale.com' ) }}.  I wanted to test out
    various clear coats, and I figured the bagged kits would be good for that.
</p>
<p>
    I've built several Hasegawa Bf 109's, enough so I know what to watch out for.
    I attached the little air intakes before assembling the fuselage, and made sure
    the radiator attachment on the bottom of the cowling was assembled and fit well
    before attaching the upper cowling.  One thing I didn't do, that I have made
    a mental note to do on each model, is to dry fit the canopy before masking and
    painting it.  That bit me later in the build.
</p>
<p>
    The cockpit was painted Tamiya {{ mymacros.txf('63' ) }} German Grey.  The propellor and
    spinner were painted Tamiya {{ mymacros.txf('27') }} Black Green over Kyrlon Gray Primer.
    I have had issues with the {{ mymacros.txf('27') }} not sticking to plastic, so now I always
    use a primer under it.
</p>
<p>
    I primed the kit with Brite Touch Gray Primer from Pep Boys.  I first tried to use
    {{ mymacros.mrcolor('C-113') }} {{ mymacros.rlm('04') }} for the yellow, but it sprayed very poorly.  I ended
    up using my Tamiya mix for it.  For the {{ mymacros.rlm('02') }} I used Model Master Enamel
    thinned with Xylene, and it worked well.  For the exterior, I used Model Master Enamel
    for the {{ mymacros.rlm('76') }}, but when I tried to use the same brand for the upper colors,
    I found the paint was very thin, even though it was purchased quite recently.
    I ended up using Tamiya {{ mymacros.txf('54') }} Dark Sea Grey for the {{ mymacros.rlm('75') }} and
    a mix of roughly three parts {{ mymacros.txf('24') }} Dark Grey and one part {{ mymacros.txf('27') }}
    Black Green for the {{ mymacros.rlm('74') }}.  This was less {{ mymacros.txf('27') }} than Tamiya calls for,
    and I don't think it was quite green enough.
</p>
<p>
    When it came time for the pre-decal gloss, I used Model Master Acryl on the bottom
    this worked fine.  I also decided to try Wicked Gloss Clear Coat.  This is part number
    5620 from Wicked paint, which is made by Createx.  I had tested this paint before,
    using the recommended reducing ratio of 10%, and it sprayed very badly.  The
    mixture was far too thick.  This time, I used by denatured alcohol / 4012 High
    Performance reducer mix, thinned it about 50/50, and it sprayed well.
</p>
<p>
    I intended to use the kit decals, and started with the insignia on the bottom of
    the wings.  The kit decals were very difficult to work with.  I had to put them in
    very hot water for almost a full minute to get them to come off the backing.  I
    decided to use the insignia from the Hobbycraft HC1538 kit for the insignia on
    the tops of the wings and the fuselage - they worked better.  I did have to use
    the kit decals for the white 5 and dash and the kill markings on the tail.  For a
    final flat coat, I used Future mixed with Tamiya {{ mymacros.tx('21') }} Flat Base.
</p>
<p>
    As I mentioned earlier, I had not attempted to dry fit the canopy until I was
    ready to attach it.  (I had used the Eduard EX018 mask, which fit well.)  It fit
    very badly.  This may very well have been due to me, rather than the kit, but there
    is a large gap at the bottom of the canopy, particlarly on the starboard side.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
