---
layout: build.njk
kit: ACA1667
---
{% import "layouts/macros.njk" as m %}
<p>
	This is Academy's 1/72 P-51B Mustang, kit 1667.  This turned out to be one of my better
	efforts.  As with other Academy kits I've built, assembly was rather straightforward and
	didn't present any problems.
</p>
<p>
	The cockpit was painted {{'27'|mrcolor|safe}} Interior Green.  I had also used this color on
	{{ 'the Academy P-51D' | linkTo('../../2012/1001/') | safe }}
	and, as with the P-51D, I thought it was
	too light.  Unlike other Mr. Color paints, it didn't spray that well either.  The
	cockpit is rather detailed for 1/72 scale, although I'm not too sure how accurate it is,
	since (unlike most modelers) I don't pay much attention to that.
</p>
<p>
	I primed with Mr.&mbsp;Surfacer 1200, which went down smoothly.  The undersurfaces are Tamiya
	{{'53'|txf|safe}} Neutral Gray and the top is Tamiya {{'51'|txf|safe}} Khaki Drab.  I got smooth surfaces with both
	(for once!) by thinning more than usual - probably about two parts thinner to one part paint.
	I used the Tamiya {{'X-20A'|nowrap|safe}} Acrylic Thinner.  After I sprayed the final flat coat, I noticed that
	the upper surface of the wings, next to the fuselage, is rather rough.  I'm thinking that
	it might have been the primer, rather than the topcoat, that was the problem.  I was pleased
	with the Khaki Drab - it looked much better than the {{'62'|txf|safe}} Olive Drab I used on
	{{ 'the Tamiya 1/48 P-51B' | linkTo('../../2011/0702/') | safe }}.
</p>
<p>
	The prop blades were Gaia Flat Black, with {{'4'|mrcolor|safe}} for the tips.  The spinner is Polly Scale
	Pacemaker Red.  I think I originally bought the bottle to use for Japanese Hinomarus, but I
	think it came out well.  The drop tanks are Gaia {{'EX-07'|nowrap|safe}} Silver.  The tires are Polly Scale
	Grimy Black.
</p>
<p>
	The landing gear painting turned out to be quite convoluted.  I originally painted the landing
	gear and wheels (before the tires) using Humbrol 27001 Metal Cote.  I tried to paint the tires,
	but it didn't turn out well, so I used some rubbing alcohol to remove the paint.  Unfortunately,
	it also removed the Metal Cote on the wheels.  So I sprayed the wheels Grimy Black, and then used
	Golden Fluid Acrylic Iridescent Silver (Fine) for the wheels.  I sprayed the wheel wells Tamiya
	{{'11'|tx|safe}} Chrome Silver.  I have had reasonable luck with this paint before, but this time it did
	not turn out well.
</p>
<p>
	I hand-masked the canopy.  For the windscreen, I had to mask in three steps.  It did turn out
	pretty well (for me, at any rate).  However, since I had to paint in steps, there is no
	flat coat on the canopy, so it is a slightly different shade than the rest of the upper surfaces.
</p>
<p>
	As with all Academy kits, I wanted to use aftermarket decals.
	These decals are from Microscale {{'72-364'|nowrap|safe}}, and represent Colonel 'Tex' Hill's
	{{'P-51B'|nowrap|safe}}, part of the
	26 FS / 51 FG stationed in China in 1945.  They worked okay, but I had to use quite a bit of
	solvent to get the decal on the starboard side of the tail to conform.  Since they were
	Microscale decals, I used Microset and Microsol. I used Right Step flat as a final cote,
	thinned with Testors Acryl thinner.  I got a little bit of spider webbing, but it went on well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
