---
layout: build.njk
kit: HAS00372
---
{% import "layouts/macros.njk" as m %}
<p>
	I now have a P-40 in my collection.  This is Hasegawa's 1/72 kit, in the popular
	Aleutian Tiger markings.  This build was rather peculiar in that it went quite well
	up to a point - and then went straight downhill.
</p>
<p>
	The cockpit was painted Polly Scale US Interior Green.  This same color was used for the
	wheel wells and the inside of the gear doors, but these areas were painted after
	the rest of the exterior.  I primed the outer surface
	with Mr. Surfacer 1200, which worked well.  I painted the underside with Tamiya XF-53
	Neutral Grey, masked that off, and then used Tamiya XF-1 Flat White for the stripes.
	I masked the stripes and finished off with Tamiya XF-51 Khaki Drab for the upper surfaces.
	At this point I had to mask and paint the part of the fuselage stripe that covers the
	underside, since I had painted the Neutral Grey before the Flat White.
</p>
<p>
	The spinner was painted with Floquil Reefer Yellow, in an attempt to match the yellow
	decals.  It came pretty close.
	The canopy was masked using the Eduard mask designed for the kit.  I've had issues with
	Eduard masks not fitting properly in the past, but this one worked quite well.  I used
	Right Step for the pre-decal gloss coat.
</p>
<p>
	This kit only has twelve decals (since I had painted on the stripes), and two of those
	are small red dots - one for the port side of the fuselage just below the canopy and one
	on the drop tank.  I applied the national insignia and "U.S. ARMY" to the bottom of the
	wing, and the national insignia to the top of the wing.  I then applied the numbers on
	the fin and the national insignia to the fuselage sides.  All was going okay, although
	the decals were quite thick and required a lot of soaking to get them off the backing
	sheet.
</p>
<p>
	This was when things went downhill.  When I tried to apply the tiger markings, they
	did not conform well
	at all and also broke in a couple of places.  I should have cut out the hole that the
	exhaust goes through, but I didn't.  The two red dots went on fine, but that was
	small consolation.
</p>
<p>
	I then attached the landing gear, the drop tank and prop.  The landing gear went on fine,
	and I did a better than average job with the gear doors.  However, the drop tank
	did not fit - only two of the braces actually touch the plane.  I gave the kit
	another coat of gloss, and then a coat of Right Step matte clear.
	I unmasked the canopy and attached it.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
