---
layout: build.njk
kit: ACA12474
---
{% import "layouts/macros.njk" as m %}
<p>
	Another attempt at a natural metal finish (NMF) that didn't turn out terribly
	well - and I did this one twice.
</p>
<p>
	This is the Academy 1/72 P-47D Thunderbolt in the "Eileen" boxing.  This had new
	box art, and a new kit number, 12474.  The first attempt at painting went like this,
	with the appropriate masking between steps: prime with a 50/50 mix of Tamiya
	Flat White {{'2'|txf|safe}} and Sky Grey {{'19'|txf|safe}}; paint the red on the cowling ring, the top of
	the fin and the warning areas on the wings with Polly Scale Pacemaker Red;
	prime again with Tamiya Flat Black {{'1'|txf|safe}};
	then paint with Gaianotes {{'EX-07'|nowrap|safe}}.  This did not
	come out well at all.  I almost chucked the model at that point (as I usually do when
	a paint job turns out that bad).  Then I decided to try stipping the paint.  I used
	isopropyl alcohol, which stripped it quite well.
</p>
<p>
	The second time, I again primed with the Tamiya mix, then painted the red with Tamiya
	{{'7'|txf|safe}}.  After masking, I painted the black with Auto Air's Air Borne Dark Sealer.  After
	that was masked, I used Air Borne Black as a primer, as it is quite glossy.  I then
	painted the NMF with Auto Air Aluminum Base (Fine).  That turned out poorly too, so I
	then painted with Golden Fluid Acrylic Silver, which improved the look considerably.
	However, I do think I will stick with solvent-based model paints for NMF in the future.
</p>
<p>
	The wheels were brush painted with Air Borne black.  The landing gear were painted
	Tru Color Black followed by Tru Color Aluminum.  The invasion stripes were painted
	after the main colors, and were Air Borne White and Air Borne Dark Sealer.  I was pleased
	with them.
</p>
<p>
	The decals are from Eagle Strike 72058 "362nd FG Jugs Pt. II".  They went on beautifully
	with MicroSet.  I had to apply a little Mr. Mark Softener to the underwing insignia, as it
	bumped up against the landing lights.
</p>
<p>
	There are a couple of flaws.  Once again, I was unable to attach the canopy brace.
	I don't think I'll ever be able to use one of those in 1/72.  Also, the rear view mirror
	is not attached.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
