---
layout: build.njk
kit: TAM61041
---
{% import "layouts/macros.njk" as mymacros %}
<p>
	Although I've built several Fw 190's before, this is my first Dora. It went together
	like a typical Tamiya kit - very easily.
</p>
<p>
	There really isn't much to say about the construction. It represents Theo Nibel's aircraft
	from Operation Bodenplatte, which is one of the options included with the kit decals.
	The {{ mymacros.rlm('04') }} under the cowling and on the rudder are not shown on the kit instructions,
	but I noticed that
	{{ mymacros.linkTo2('Tom Cleaver painted them that way', 'http://www.modelingmadness.com/review/axis/cleaver/cleaver24190d.htm', '.') }}
	I used Floquil Reefer Yellow for the {{ mymacros.rlm('04') }}, and Model Master Enamels for the
	RLM&nbsp;76/82/83. I freehanded the mottling on the fin, which is actually one of my
	better attempts. One of the reasons I chose these markings is the lack of mottling
	on the fuselage.
</p>
<p>
	The kit decals didn't really go on that well. It took quite a long dip in water
	to get them to come off. The spiral on the spinner broke, so I left it off.
</p>
<p>
	I always seem to have trouble attaching the landing gear on 190's, due to the
	activator arm. I did a better job this time - I held the arm against the strut with
	my thumb, and then used tweezers to attach the other side. I did notice that it
	helped to attach the inner end towards the surface of the wing, rather than
	against the wheel well.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
