---
layout: build.njk
kit: TAM61063
---
{% import "layouts/macros.njk" as m %}
<p>
	This is the third time I've built this kit, and it won't be the last.  I've got
	three more of these in the stash.
</p>
<p>
	I got this kit, along with a few others (insert nonchalant whistle here) from a
	guy in Nebraska.  Included in the purchase was a Bf 109E-4/7 Trop and a Bf 109E-3.  The seller
	included a second E-4/7 that had been slightly started.  He figured that I liked
	109's, and kits that have been started are difficult to sell.  I decided to work on
	the previously started kit.
</p>
<p>
	When I built this kit for the first time, I went with the JG27 desert scheme.
	The mottling on that build was terrible - I did it by hand, and the paint went on
	so thick it was almost three-dimensional.  When I got this kit, I decided I would
	do the same scheme, but try to do a better job, especially with the mottling.
</p>
<p>
	There were no real issues with construction.  I primed with Mr. Surfacer 1000.
	I used Mr. Base White 1000 for the
	fuselage stripe and the white on the spinner.  The red on the spinner is Model Master
	Enamel {{'23'|rlm|safe}}.  The red seemed to be a bit pastelish (for want of a better term), which
	I thought looked good.  I will use this color when I build a Me 163 Komet.
</p>
<p>
	The {{'78'|rlm|safe}} on the bottom and the {{'79'|rlm|safe}} on the tops of the wings and fuselage are
	from White Ensign Models.  I purchased some of these tins some time ago.  The {{'78'|rlm|safe}}
	did not go on well - it was very rough and I had to sand it.  I think I did not thin it
	enough.  Also, I used Xylene substitute from Home Depot to thin it.  I've had good results
	with that in the past, but when I sprayed the {{'79'|rlm|safe}}, I decided to use regular paint
	thinner, and to thin a bit more.  The {{'79'|rlm|safe}} sprayed much better.  However,
	the {{'80'|rlm|safe}} for
	the mottling did not spray well at all.  I was so frustrated that I tossed the rest of
	that tinlet and used Tamiya {{'58'|txf|safe}} Olive Green.  The only part that was done with WEM
	was the starboard horizontal stailizer.  The colors did match well.
</p>
<p>
	I used Future for the gloss coat.  I used a higher pressure than most, around 25 psi,
	but I get better results that way.
	The kit decals were terrible.  I had to soak them in water for five full minutes
	to get them to come off the backing paper (I used an egg timer).  The smaller ones
	did not take quite that long, but all took at least three minutes.  In the future I will
	be hesitant to use Tamiya kit decals.  Fortunately, I have quite a few aftermarket
	decals for 109's.
</p>
<p>
	As in the past, I lost the aileron weights.  Well, I lost one of them.  I was holding
	it with tweezers when it went flying away to some corner of the hobby room.  Since
	I wanted the wings to be symmetrical, I left the other one off too.  In the future, I
	will have to file the part that fits into the wing, so it isn't such a tight fit.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
