---
layout: build.njk
kit: HAS09067
---
{% import "layouts/macros.njk" as m %}
<p>
	This is my first Hasegawa Frank, and, as with the {{ 'Oscar' | linkTo('../../2011/0301/') | safe }},
	I had a little trouble. This kit has a great reputation on the web, and it is
	quite detailed, but I found it a bit over-engineered. For example, there are no
	less than nine parts that attach to the cockpit floor, and that does not count
	the seat or the two support bars for the back panel. The fuel cooler on the
	bottom of the wing is three pieces, and the pilot's headrest is four (!). That
	being said, the kit goes together well. It uses numerous nylon inserts - the main
	landing gear, the fuel cooler, the drop tanks, and the propellor are all held
	in with inserts. The next time I build this kit, I will glue the inserts that
	hold the main landing gear, as the kit is a bit wobbly.
</p>
<p>
	I primed with Mr. Surfacer 1200, sprayed through my airbrush. The bottom is
	Tamiya {{'14'|txf|safe}} JA Grey and the top is Tamiya {{'13'|txf|safe}} JA Green.
	The bottom looked fine, but the top looked blotchy (for want of a better term).
	I can never consistent results when spraying large areas.
</p>
<p>
	I used Polly Scale Weyerhauser Green for the cockpit interior, as I have read
	build articles by Ian Robertson where he mentions that it is a good substitute
	for Nakajima Interior Green. The landing gear and inside of the wing flaps are
	Floquil Bright Silver, and the wheels are Polly Scale Grimy Black. The rear
	landing gear is Polly Scale Flat Aluminum. I didn't use the same color as the
	main landing gear because it was not painted at the same time, and the main
	landing gear were airbrushed whereas the rear landing gear was hand painted.
</p>
<p>
	From what I have read on the web, the wing flaps were never deployed on the
	ground. (As a matter of fact, being where they are, I was not able to attach
	the step on the port side.) When I build this kit again, I will try to assemble
	them in the closed position, which will take a bit more work. In addition to
	being inaccurate, having them open make it quite difficult to handle the finished model.
</p>
<p>
	The engine and guns are Mr. Color Steel. The tarp on the tail wheel is Floquil
	CN Gray #17. I had used this color on the {{ 'Hasegawa A6M3' | linkTo('../2010/0901/') | safe }},
	thinking it would be a light gray with a hint of green, but it turned out to be
	a light tannish gray. It was not what I wanted for the A6M3, but it fit the bill here.
</p>
<p>
	The prop blades were Model Master Enamel Green FS34258, and the yellow IFF bands
	on the wings are Floquil Reefer Yellow. I used Tamiya {{'76'|txf|safe}}
	Grey Green (IJN),
	which was recommended on a forum somewhere. I think it was
	{{ 'Britmodeller' | linkTo('http://www.britmodeller.com') | safe }}, but I can't remember
	now. Note: Looking back at this page a few years later, I confess I have no
	idea where I used the {{'76'|txf|safe}}. The inside of the cowling and the wheel
	wells are Mr. Color Metallic
	Blue Green, and the spinner is Tamiya {{'1'|txf|safe}} Flat White.
</p>
<p>
	I used the Eduard mask for the canopy, and it fit very well.
</p>
<p>
	The decals came from the kit. They went on pretty well, especially after I
	learned to let them soak for about 45 seconds rather than 20. The insignias on
	the tops of the wings did wrinkle just a touch. Also, I did not leave as much
	room at the top of the fin for the "932" as I should have. I applied some of
	the stencils, but not all. According to the kit instructions, this represents
	a plane from the 22nd Flight Regiment. No further information is provided.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
