---
layout: build.njk
kit: TAM61033
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	This is my second completed Tamiya Spitfire, the first being {{f.nowrap('the Trop version','../../2010/0801/')}}.
	As always, I had a few issues with this kit.  This is at least the second time, and maybe the third, that
	I've tried to build this kit, and I almost tossed it after the painting stage.  More on that below.
</p>
<p>
	As with most Tamiya kits, it fit together quite well, although the fuselage to wing fit is very snug.
	When I build this kit or the Trop version again, I will sand the inside of the bottom of the fuselage
	where it fits against the wing.  There is a tab on the bottom wing that fits inside the fuselage, and
	that was quite tight. I also need to remember to check the fit at the top of the tail - there was a
	small gap.  The seat appeared to be too high - it interfered a bit with the rear window.
</p>
<p>
	The cockpit was painted a Tamiya mix to represent RAF interior grey-green.  The wheels and landing gear
	were Floquil Old Silver.  After painting these, I noticed that the instructions said they were supposed
	to match the underside.  Oh, well.  The spinner and the fuselage band where Model Master Enamel Sky Type S.
	It did not quite match the squadron codes, but wasn't too far off.  The propellor blades were Floquil
	Engine Black, and I think I used Tamiya {{f.txf('3')}} Flat Yellow for the tips.
	The exhausts were Tamiya {{f.txf('69')}}
	NATO Black.  In retrospect, I should have used a more brownish color.
</p>
<p>
	I painted the yellow wing bands with Floquil Reefer Yellow, and used Model Master Insignia Red for the
	machine gun covers.  I painted these first, before the rest of the airframe.  In retrospect, I should
	have pained them last.  After painting and masking them, I tried to spray the bottom of the plane, and
	found that the Medium Sea Grey would not cover the yellow overspray, so I decided to prime.  I used
	a hardware store primer, in this case Krylon Gray Primer.  It covered well and evenly, and
	it even matched the Ocean Grey that would go on top very closely.
</p>
<p>
	After letting the primer dry for
	24 hours, I sanded it with a 4000 grit Micro Mesh sanding cloth.  The result was quite smooth.
	I then airbrushed WEM ACRN04 Medium Sea Grey BS 637 on the bottom, which went on quite roughly.  I
	suspect that there was some interaction with the primer, or I had not let the primer cure long enough.
	I sanded the Medium Sea Grey with the same 4000 grit cloth until it was smooth, then masked the bottom
	and sprayed the top with WEM ACRN07 Ocean Grey.  It had the same rough texture, so I sanded it as well.
</p>
<p>
	It was now the critical time for me when I build an RAF aircraft - masking the camouflage curves.
	This time, I used some adhesive vinyl I had purchased some time ago on eBay, using the template
	provided in the kit as a guide.  It worked quite well, although it left some adhesive in a few spots,
	some of which I neglected to remove before the clear coat.  The green was WEM ACRN09 Dark Green BS 241.
</p>
<p>
	The kit wheels were not that great, so I used the True Details 48018/46107 set.  I used my micrometer
	to measure the axle diameter, and used a 1/16 inch drill.  The tires were painted Model Master Acryl
	4749 Engine Gray.  I had seen a recommendation for this color on the web somewhere, and I think it
	does represent tires quite well.
</p>
<p>
	For the clear coat, I tried Future.  Unlike many others, I have not had good luck spraying it and
	this was no exception.  Perhaps I needed to let the enamel paints cure longer - I think I let them cure
	for 36 hours, maybe 48 - but the surface was very, very rough.  In exasperation, I sprayed Krylon
	Crystal Clear, which is an Acrylic, on the model, but it was rough too.  At this point, I thought
	the heck with it, I'm going to go from here.
</p>
<p>
	With the surface being so rough, the decals did not go on well.  I used to leave decals in the
	water for about 20 seconds, but based on my experience with the
	{{f.linkTo('Hasegawa Hayate','../0901/')}}, I let them sit for
	45 seconds this time, and they slid off the paper much more easily.  According to the kit instructions,
	this represents a plane from No. 316 Squadron.  I used Future with a bit of Tamiya
	{{f.tx('21')}} Flat Base for
	the final flat coat.  It added a touch of white, but does dull the finish well.
</p>
<p>
	The mask for the windscreen came from the {{f.linkTo('EZ Masks','http://www.ezmasks.com')}} set number 6.
	I masked the canopy and the rear section by hand, since the edges are pretty much straight.  I used
	FBS 48530 ProBand Fineline tape, cut into thin strips, for the canopy, and it worked very well.  There
	was no seepage underneath it, and it did not leave any residue after removal.  It is quite thick,
	thicker than Tamiya tape, but I will use it again.
</p>
<p>
	The canopy did not fit that well.  One thing I need to start doing is to
	assemble the fuselage, then try to fit the canopy and sand it as needed, before masking it.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
