---
layout: build.njk
kit: ACA1670
---
{% import "layouts/macros.njk" as mymacros %}
<p>
	This kit was built because I wanted to build something quick. It didn't turn out
	to be that quick, but that was because the paint job was something complex.
	This kit also made me realize that 1/72 is not my scale, and I'm in the process
	of selling most of my 1/72 stash.
</p>
<p>
	There really isn't much to say about this kit. It went together quite well - I
	don't recall any fit issues. I primed with Mr. Surfacer 1200. The {{ mymacros.rlm('76') }} on the
	bottom is Model Master enamel, as is the {{ mymacros.rlm('75') }} on the top. The {{ mymacros.rlm('74') }} is
	White Ensign enamel. The propellor blades are Floquil Brunswick Green, and I
	used Floquil Reefer Yellow for the {{ mymacros.rlm('04') }}. The exhaust is Mr. Color Burnt Iron,
	which I really didn't like. The Testor Metalizer is better.
</p>
<p>
	Knowing Academy decals, I used the decals from the Airfix A02029A kit. I didn't
	bother to apply the stencils, since they aren't noticeable at this scale.
	The spinner is supposed to have a thin black spiral, but I could not apply
	the decal with any degree of accuracy, so I left it off.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
