---
layout: build.njk
kit: TAM61050
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	This must be my December kit, as I just noticed that the first time I built
	this was a year ago. This particular build started out well, but crumbled near the end.
</p>
<p>
	Assembly went pretty well. As you expect with a modern Tamiya kit, it went together
	easily. Interestingly enough, the first part I assembled was the prop, but that
	was because I was building the {{f.linkTo('Academy Bf 109G-6','../1101/')}}
	at the same time, and it used the same colors.
</p>
<p>
	I primed with Tamiya Grey Lacquer Primer, from the 40 ml jar, thinned with generic
	lacquer thinner. It went on pretty smoothly, but I still rubbed down the airframe
	with an old T-shirt before putting on the exterior colors. The last time I built
	this kit, I used all Tamiya for the exterior. This time, I used Polly Scale for
	the {{f.rlm('65')}}, and Tamiya for the {{f.rlm('02')}} (a custom mix) and
	{{f.rlm('71')}} ({{f.txf('61')}} Dark Green)
	on the top. Everything sprayed well, but when I pulled off the masking tape,
	some of the {{f.rlm('65')}} came up with it. There were several spots where a chunk
	came off. On closer examination, it was clear that the primer had come off - not
	just the top coat. I was so frustrated at this time that I did not bother to mask
	and respray, but rather tried to touch up with a hand brush. Unfortunately,
	the touch ups turned out much darker than the rest.
</p>
<p>
	The decals are from the kit. According to the instructions, it represents Adolf
	Galland's plane from III/JG26 in France some time in 1940. The decals worked
	very well, after letting them sit in the water for about 40 seconds. I was even
	able to apply the red walk area marker on the wings. I used Microset with a bit
	of glycerin added to the bottle. I've learned that adding the glycerin makes
	it work much better.
</p>
<p>
	I used a little foresight on the canopy this time. I sanded the windscreen
	so it would fit snugly against the fuselage, which it did. I also sanded the
	rear part so it would fit well. I did all of this before dipping the clear parts
	in Future. However, when trying to clear up some overspray on the clear parts,
	I managed to smudge them. Also, the rear part is crookedly attached.
	It is always something.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
