---
layout: build.njk
kit: HAS09010
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  This is another bagged 109 kit.  I kind of just grabbed this one, partly because
  I had a mask for it.
</p>
<p>
  There were some gaps around the cowling that I had to fill with putty,  but it went
  together reasonably well, as Hasegawa kits tend to do.  Although it comes with
  six different marking options, I decided to use one of the subjects on
  Aeromaster 48-228, {{f.nowrap("Bf-109's")}} of {{f.nowrap('JG 3')}} due to
  its interesting scheme.
</p>
<p>
  I used Tamiya {{f.txf('3')}} Flat Yellow for the {{f.rlm('04')}} and a 50/50 mix
  of {{f.txf('23')}} Light Blue and {{f.txf('2')}} Flat White for the {{f.rlm('76')}}.
  The tops of the wings are {{f.rlm('02')}} and {{f.rlm('71')}}.  The 02 was
  {{f.txf('22')}} RLM Grey lightened with (IIRC) {{f.txf('2')}} Flat White and some
  {{f.txf('49')}} Khaki (I made this mix some time ago).  I used {{f.txf('67')}} NATO
  Green for the 71.  The top of the fuselage was mostly {{f.rlm('75')}}, for which
  I used {{f.txf('54')}} Dark Sea Grey, with a little bit of {{f.rlm('74')}} ahead
  of the cockpit.  I used a mix I made some time ago for the 74 - I think it was the
  Tamiya recommendation of {{f.txf('24')}} Dark Grey with some {{f.txf('27')}} Black
  Green added.  The mottling was Polly Scale {{f.rlm('70')}} Black Green, applied
  by hand with a microbrush.
</p>
<p>
  I didn't follow the profile on the decal sheet precisely.  I painted the whole spinner
  {{f.txf('27')}} Black Green, but the profile shows concentric circles of light
  green and white on the front half.  I knew there was no way I was going to get
  that to look even halfway decent.  Also, the areas under the green snakes on the
  cowling are supposed to show the {{f.rlm('76')}} with mottling - apparently,
  the yellow was painted after the snakes.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
