---
layout: build.njk
kit: TAM61035
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  I have a couple of aftermarket decal sheets for Spitfire Vc's, so I picked up a
  couple of conversion sets for the Tamiya Vb kit over the years.  I decided to bite
  the bullet and try to use one, namely Aeromaster {{f.nowrap('48-667')}}.
  I've used some resin in the past, but this one was going
  to be major surgery.  I ended up botching the attempt, so I decided to just use the
  decals on a stock Vb - thus this build does not represent historical accuracy.
</p>
<p>
  Nothing special about the build.  The colors were Model Master Enamel {{f.rlm('76')}}
  (to represent RAAF Sky Blue) for the spinner and fuselage band, and Azure Blue
  from the same line for the bottom.
  The top was Tamiya {{f.txf('72')}} Brown/JGSDF for the RAF Dark Earth and
  {{f.txf('27')}} Black Green for the RAAF Foilage Green.  My understanding is that
  the planes came from the North Africa theater, where they had been painted in
  the standard RAF Tropical scheme of Middlestone and Dark Earth over Azure Blue,
  and the Australians just painted Foilage Green over the Middlestone.  However,
  the profile included with the decal sheet didn't match the standard RAF painting,
  in that the top colors reached farther down over the Vokes Filter.  Since I was
  already using the wrong wing type, I just used the standard RAF demarcation.
</p>
<p>
  There was quite a bit of silvering under the decals.  It's been almost
  seventeen years since I returned to this hobby, and I still can't get a smooth
  coat of paint down.  I used Montex SM 48024 mini mask for the canopy, which fit
  quite well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
