---
layout: build.njk
kit: TAM61090
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  I attempted to build the {{f.linkTo('Italeri P-47D','https://www.scalemates.com/kits/italeri-2728-p-47d-thunderbolt--197535')}}
  with the Italian Campaign decals some time ago, and of course botched it, but I
  kept the decals for a Tamiya build.
</p>
<p>
  At this point I could almost build one of these blindfolded.  I didn't do anything
  special.  The yellow is Hataka C104 Traffic Yellow.  I originally bought this paint to
  use as {{f.rlm('04')}}, but it looked a little too pure yellow for that.  However, I
  think it did look good here.  The bottom is Ammo 0239 Neutral Gray and the top is
  Ammo 0237 FS23070 USAAF Olive Drab.
</p>
<p>
  The decals went on OK.  I used Microscale underneath them.  There was some silvering
  under the 24 on the fuselage.  As I mentioned in my {{f.linkTo('last build','../0301')}},
  I still can't seem to get a smooth coat of paint.
</p>
<p>
  As it happens, I completed this build on April 8, 2023, which is the 17th
  anniversary of the day I returned to this hobby.  I've completed 173 builds in that
  time, and FUBARed many more than that.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
