---
layout: build.njk
kit: TAM32599
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  For some time, I've wanted to try one of Tamiya's 1/48 armor kit.  I picked one up
  at my local hobby shop a few months ago, and this one at a local kit swap meet in
  March.
</p>
<p>
  The kit went together well, as you would expect from a modern Tamiya kit.  The only
  thing that made me a little apprehensive was the link-and-length tracks, but since
  {{f.linkTo('the Panzer 38(t)','../../2022/1201')}} didn't really give me any trouble,
  I wasn't too worried.  As it happened, the tracks didn't fit quite as well as on the
  Panzer, but well enough for me.  (If you've perused this site, you know my standards
  are pretty low.)
</p>
<p>
  Tamiya recommends one of their spray paints for the exterior, but I used
  {{f.txf('73')}} Dark Green / JGSDF.  I like the way it turned out, although I think
  the actual green would have been a bit more olive-ish.  I did not weather this kit
  at all.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
