---
layout: build.njk
kit: TAM61050
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  I decided to build another Romanian subject, and found I had the RB productions
  {{f.nowrap('RB-D48103')}} Romanian Messerschmitt BF 109E Part 2 decal sheet.  It
  had an {{f.nowrap('E-3')}} on it, so I picked up a Tamiya kit to use.  To be honest,
  I had to pick up two.  I had the first one assembled and ready to prime when I knocked
  the cockpit out of place.  Even though I've assembled this kit several times before,
  I didn't glue the cockpit in place - I assumed it was locked in place by locating
  pins.  So I picked up a second kit and started over.
</p>
<p>
  The yellow is Floquil Reefer Yellow, and the {{f.rlm('65')}} on the bottom is a Tamiya
  mix.  I don't know the mix I used for sure, as I just labelled the bottle "RLM65 mix".
  I used AMMO 0233 RLM71 Dunkelgr&uuml;n.
</p>
<p>
  I was going to make my own masks for the canopy, using a program I am writing.
  I didn't quite get to that point, plus my vinyl cutter is not set up, so I ended up
  using the Black Magic 48471 mask as a template, and cut the masks manually.  They fit
  very well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
