---
layout: build.njk
kit: HAS09063
---
{% import "layouts/macros.njk" as m %}
<p>
    Some time ago, I purchased a collection of seventeen bagged Hasegawa 1/48
    Bf 109 kits.  I got them very cheaply, and intended to use them as test
    subjects for weathering.  This was one of those kits.  Right up to the end
    I did intend to weather it, at least with a simple wash, but I changed my
    mind after the clear coats proved disastrous.
</p>
<p>
    Mr. Color paints were used almost exclusively throughout the build.  The
    cockpit was painted {{'C-116'|nowrap|safe}} {{'66'|rlm|safe}},
    the propellor blades and spinner were painted
    {{'C-18'|nowrap|safe}} {{'70'|rlm|safe}}, and
    the landing gear and insides of the wheel wells were
    painted {{'C-60'|nowrap|safe}} {{'02'|rlm|safe}}.
    I used Model Master Metalizer Burnt Iron for the
    exhaust, Tamiya {{'18'|tx|safe}} Semi Gloss Black for the wheels, and
    Tamiya {{'63'|txf|safe}}
    German Grey for the tires.
</p>
<p>
    The camouflage was all Mr. Color - {{'C-117'|nowrap|safe}} {{'76'|rlm|safe}}
    on the bottom, and {{'C-37'|nowrap|safe}}
    {{'75'|rlm|safe}} and {{'C-124'|nowrap|safe}} {{'83'|rlm|safe}} on the top.
    I was going to try for a soft-edged
    demarcation, but got lazy.  For the demarcation on the fuselage, I first
    applied masking tape in a rough outline of where the demarcation was, and
    then applied masking fluid at the edge to make a wavy line.  It worked
    rather well.  For the mottling on the fin, I first applied it using a
    microbrush.  That looked terrible, so I stripped the paint, re-applied
    the {{'75'|rlm|safe}}. and then used more masking fluid to outline the
    {{'83'|rlm|safe}} areas.
    This approach gave much better results.
</p>
<p>
    I decided to try something a little different for a pre-decal gloss coat, so
    I tried spraying with Testor's Glosscote.  It didn't damage the paint or
    anything, but to be honest, I did not see a difference.  Perhaps it is
    because the Mr. Color RLM colors are semi-gloss.  Anyway, I decided to
    spray Future.  It went on terribly splotchy.  I then applied Krylon clear
    acrylic gloss from a spray bomb to the bottom of the plane - that went on
    terribly.  I was almost crushed, as I had been very pleased with how the
    build was progressing up to this point.
</p>
<p>
    I went ahead and applied the decals.
    I decided to try to use diluted vinegar as a setting solution - but that did
    not work very well, so I went back to Microset, which did work well.  I had
    a heck of a time getting the decals to come off the backing paper.  I had
    to let the decals sit in the water for over a minute, and they still stuck.
    I then heated the water much more than usual, and that worked much better.
    For a final flat coat, I used Right Step Matte finish.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
