---
layout: build.njk
kit: HAS09144
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    I was perusing my considerable stash, trying to decide which kit to start next,
    and this one kind of jumped out at me.  Like most Japanese aircraft, it has
    a relatively simple paint scheme, so I figured it would be reasonably quick.
</p>
<p>
    Per {{f.linkTo('this discussion','http://www.network54.com/Forum/149674/thread/1267495108/Ki-100+interior+color+question')}}
    on the {{f.linkTo('Hyperscale forums','http://www.clubhyper.com/forums/forum.htm')}},
    the cockpit floor was supposed to be a greyish purple, which reminded me of {{f.rlm('75')}}.
    I used Tamiya {{f.txf('82')}} Ocean Gray.  I used {{f.txf('13')}} JA Green for the rest of the
    cockpit.  The same discussion said the radio panel should be greyish khaki.
    The color sample reminded me of Tamiya {{f.txf('51')}} Khaki Drab, but I figured
    the difference in color would not be visible, so I left it in the same color
    as the rest of the cockpit wall.
</p>
<p>
    The underside was painted Alclad II Aluminum, with the control surfaces being
    Tamiya {{f.txf('14')}} JA Gray.  The top was {{f.txf('13')}} JA Green, the same as the cockpit.
    The propellor and spinner were {{f.mrcolor('131')}} Propellor Color, and the
    yellow on the leading edges of the wings and the tips of the propellor
    blades was {{f.mrcolor('58')}} Orange Yellow.  I used Tamiya
    {{f.txf('16')}} Flat Aluminum for the landing gear and wheels.  This color is rather
    grainy, but it is not particularly noticeable on small parts.  The tires were
    painted Tamiya {{f.txf('69')}} NATO Black.  This is the first time I've used that color,
    and I thought it looked just right.
</p>
<p>
    As with the {{f.linkTo('Bf 109K-4','../0101/')}}, I decided to try a different
    pre-decal gloss coat.  This time I used Model Master Metalizer Sealer.  I
    put two coats on the top, but it still didn't look that glossy.  I didn't bother
    to put it on the bottom, since the Alclad looked glossy enough.  I had a lot
    of silvering.  To try to fix this, I applied a lot of decal solvent, which left
    a lot of white residue.  The decals came from the kit, and otherwise worked
    well.
</p>
<p>
    The canopy was masked using
    {{f.linkTo('Montex Maxi Mask MM48149','http://www.montex-mask.com/en/oferta')}}.
    This was the first time
    I used one of their products, and the canopy mask fit perfectly - much better
    than any Eduard or EZ-Mask I've ever used.  The mask set actually came with
    masks for all the outside markings except the stencils, but I was not brave
    enough to try them.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
