---
layout: build.njk
kit: TAM61090
---
{% import "layouts/macros.njk" as m %}
<p>
    This build had took longer than expected.  I started it in February (I think),
    and hoped to complete it by the end of that month.  I kind of lost my mojo for a
    few weeks, so I didn't finish it until the first weekend of April.
</p>
<p>
    Like the {{ 'Razorback' | linkTo('../2016/0501/') | safe }}, it went together well,
    although there are a lot of pieces.  I used Humbrol 88 Deck Green for the cockpit and
    Testor's Yellow Zinc Chromate (from the 1/4 ounce bottle) for the wheel wells.
    The landing gear was painted Gaianotes {{'EX-07'|nowrap|safe}} Silver.
</p>
<p>
    I primed with Tamiya Gray Primer, from the 40 ml bottle.  I painted the cowling,
    the area where the invasion stripes would go, and the area where the recognition
    stripes (the stripes on the tail and horizontal stabilizers)
    would go with Tamiya {{'2'|txf|safe}} Flat White.  I masked the white invasion stripes and
    painted the black ones.  I think masked the cowling, the recognition stripes and the black
    invasion stripes and gave the areas with white overspray another coat of primer.
    I then painted the underside Model Master Enamel Sky, masked that, and painted
    the top Model Master Enamel RAF Dark Green.  It took a lot longer to do than it
    did to write it down.
</p>
<p>
    For the pre-decal gloss coat, I used Future, sprayed through my Badger Anthem.
    I've had trouble spraying Future before, but this time it went well.  The decals
    came from Superscale 48-878 and went on easily with hot water and Microset.
    The checkers on the cowling came in two halves.  In retrospect, I should have
    cut each half into thirds and applied them that way - there was some wrinkling.
    After the decals dried, I attached the landing gear, drop tank, pitot tube and
    propellor and gave the model another coat of Future.  I used Right Step Matte
    for the flat coat, again using the Anthem.  It sprayed well also.
</p>
<p>
    For the canopy, I tried something different.  I had purchased a Silhouette
    Portrait viny cutter, and I manually created an SVG file for the windscreen and
    used it to make my own masks.  They fit well.  I masked the canopy by hand,
    using thin strips of 3M masking tape, but plan on creating an SVG file for that
    as well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
