---
layout: build.njk
kit: HAS09147
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    This build even longer than the {{f.linkTo('Bubbletop Thunderbolt','../0401/')}}.
    I definitely lost my mojo for a
    few while.  One reason was that I custom made the canopy mask for this, using
    a Silhouette Portrait vinyl cutter.  It took a while to get around to creating
    the SVG files for it.
</p>
<p>
    This kit was one of a collection of bagged kits I purchased some time ago.
    As such, it did not have any decals.  I decided to use up some aftermarket
    decals, and to try my hand at some simple weathering, which I have not done on any of
    my aircraft builds to date.
</p>
<p>
    There isn't too much to say about the build.  I used Model Master Enamel
    Engine Gray FS36076 for the {{f.rlm('66')}} in the cockpit.  The underside was {{f.rlm('76')}},
    and the upper was painted {{f.rlm('75')}} and {{f.rlm('74')}}.  All of these were also Model
    Master Enamels, as was the {{f.rlm('04')}} on the underside of the cowling, the underside
    of the wing tips, and the fuselage stripe.  I also used Model Master Enamel
    {{f.rlm('02')}} for the landing gear and wheel bays.  The guns were Model Master Metalizer
    Gun Metal and the exhausts were Metalizer Burnt Iron.  The spinner was part
    {{f.rlm('21')}} Semi-Gloss White and {{f.rlm('70')}} Black Green, with some black mixed into the
    {{f.rlm('70')}} to make it darker.  These were also Model Master Enamels.
</p>
<p>
    The mottling was applied by hand.  I have used this before in 1/72 scale, and
    it didn't turn out any better in 1/48.  I simply dipped a microbrush in the paint,
    and dabbled away.  On the plus side, it was quick.
</p>
<p>
    The tires were painted Tamiya {{f.txf('85')}} Rubber Black.  The wheels were painted
    with Liquitex Soft Body Mars Black.  I was hoping for a little more contrast
    between the tires and the wheels.
</p>
<p>
    For the pre-decal gloss coat, I used Future, sprayed through my Badger Anthem.
    The insignia came from Microscale 48-005, a sheet of just insignia.  Surprisingly,
    they were a bit difficult to work with, and were very glossy.  The individual
    markings came from EagleCals 37-48.  Because I had no kit decals - or so I thought -
    there are no stencils anywhere, even on the drop tank.  I say "or so I thought"
    because as I was writing this page, I came across a partial set from the kit
    that does have some stencils.
</p>
<p>
    I decided to try some simple weathering on this kit.  After decaling, I applied
    another coat of Future.  I think applied a simple filter - that is, a wash over
    the entire airframe - of Davy's Gray.  I just mopped in on with a wide brush.
    In retrospect, I should have wiped off the excess.  I then flat coated with
    Model Master Acryl Flat Clear.  This went on rather chalky.
</p>
<p>
    As with the {{f.linkTo('Thunderbolt','../0401/')}}, I manually created an SVG file for the canopy and
    used it to make my own masks.  They really didn't fit that well, so I will have
    to work on improving them for the next tiime.  I applied the canopy after weathering,
    which is why it looks pristine.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
