---
layout: build.njk
kit: TAM61063
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This yet another build of the Tamya Bf 109E-4/7 Trop.  I decided to go with
    aftermarket decals for this build, namely Aeromaster 48-248
    Marauding Emils part 3.  The build was going to represent the second subject
    on the sheet, so it was built as an E-4.
</p>
<p>
    As with my {{ mymacros.linkTo2('previous build', '0701/', ',' ) }} there isn't much to
    say about the actual assembly.  I used my usual Tamiya mix for the {{ mymacros.rlm('02') }},
    a 50/50 mix of Tamiya XF-2 Flat While and XF-23 Light Blue for the {{ mymacros.rlm('65') }},
    and straight XF-61 Dark Green for the {{ mymacros.rlm('71') }}.  Although I have used XF-61 for
    {{ mymacros.rlm('71') }} several times in the past, I think it is too dark.  One page I came
    across (but have lost the URL) suggested using XF-81 RAF Dark Green for {{ mymacros.rlm('71') }},
    and based on some visual comparisons on the web, I think that may be a good
    choice.  Have to remember that for the next build!
</p>
<p>
    As with the previous build, the mottling was applied by hand.  This time, it
    turned out a bit better, since the drawing on the Aeromaster sheet showed the
    mottling as rather heavy.  Also, I thinned the paint a bit before applying,
    and I think that helped.
</p>
<p>
    I broke the guns from the kit, so I purchased the Quickboost 48-090 set.
    I used Tamiya X-10 Gun Metal, with some X-21 Flat Base to flatten it.
    The X-21 didn't seem to do much.
</p>
<p>
    For the pre-decal gloss coat, I used Tamiya TS-13 Clear Spray.  Although I
    almost always impressed with Tamiya products, this didn't any better than the
    Krylon sprays I tried in the past, and is much more expensive.  After the decals
    were applied, I sprayed Future, cut a bit with Jason Jones reducer, sprayed
    through my Badger Anthem.  It went on well.  After that gloss coat, I used
    Right Step Matte for the final finish.
</p>
<p>
    I manually created an SVG file for the canopy and
    used it to make my own masks.  This time, they fit quite well.  I used
    Oramask 810 for the masking material, which worked well.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
