---
layout: build.njk
kit: TAM61063
---
{% import "layouts/macros.njk" as m %}
<p>
    This yet another build of the Tamya Bf 109E-4/7 Trop.  I decided to go with
    aftermarket decals for this build, namely Aeromaster 48-248
    Marauding Emils part 3.  The build was going to represent the second subject
    on the sheet, so it was built as an E-4.
</p>
<p>
    As with my {{ 'previous build' | linkTo('../0701/') | safe }}, there isn't much to
    say about the actual assembly.  I used my usual Tamiya mix for the {{'02'|rlm|safe}},
    a 50/50 mix of Tamiya {{'2'|txf|safe}} Flat While and {{'23'|txf|safe}} Light Blue for the {{'65'|rlm|safe}},
    and straight {{'61'|txf|safe}} Dark Green for the {{'71'|rlm|safe}}.  Although I have used {{'61'|txf|safe}} for
    {{'71'|rlm|safe}} several times in the past, I think it is too dark.  One page I came
    across (but have lost the URL) suggested using {{'81'|txf|safe}} RAF Dark Green for {{'71'|rlm|safe}},
    and based on some visual comparisons on the web, I think that may be a good
    choice.  Have to remember that for the next build!
</p>
<p>
    As with the previous build, the mottling was applied by hand.  This time, it
    turned out a bit better, since the drawing on the Aeromaster sheet showed the
    mottling as rather heavy.  Also, I thinned the paint a bit before applying,
    and I think that helped.
</p>
<p>
    I broke the guns from the kit, so I purchased the Quickboost 48-090 set.
    I used Tamiya {{'10'|tx|safe}} Gun Metal, with some {{'21'|tx|safe}} Flat Base to flatten it.
    The {{'21'|tx|safe}} didn't seem to do much.
</p>
<p>
    For the pre-decal gloss coat, I used Tamiya TS-13 Clear Spray.  Although I
    almost always impressed with Tamiya products, this didn't any better than the
    Krylon sprays I tried in the past, and is much more expensive.  After the decals
    were applied, I sprayed Future, cut a bit with Jason Jones reducer, sprayed
    through my Badger Anthem.  It went on well.  After that gloss coat, I used
    Right Step Matte for the final finish.
</p>
<p>
    I manually created an SVG file for the canopy and
    used it to make my own masks.  This time, they fit quite well.  I used
    Oramask 810 for the masking material, which worked well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
