---
layout: build.njk
kit: TAM61044
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    When I first started this kit, I intended to make it a yellow nose Mustang.
    Then I perused my past builds, and realized I
    had {{ mymacros.linkTo('already done', '../2016/0801/') }} a yellow nose
    P-51, in August of last year.  I had completely forgotten - I am definitely
    getting old.  Since I had already done yellow, I went with green this time.
    I chose Josephine II from Aeromaster 48-652 Green Nose Mustangs of East Wretham
    part 5.
</p>
<p>
    I used Model Master
    Enamel FS34151 Interior Green for the cockpit.  The propellor blade tips
    were Tamiya XF-3 Flat Yellow and the propellor blades themselves were
    Model Master Lacquer Gloss Black.  For some reason I often have trouble
    getting black to stick, but this worked well.  The landing gear, wheels and
    drop tanks were painted CreateFX Silver.
</p>
<p>
    For the exterior, I started by painting the green on the nose using Model Master
    Enamel FS34095 Medium Field Green.  I think it was a bit too dark.  If I do
    another green nose Mustang, I think I will use Interior Green.  The anti-glare
    panel was Model Master Enamel Olive Drab FS34087.  It should have been
    ANA 613, but my bottle had dried up, and I had the FS34087 on hand.  The rudder
    was painted Testors Cobalt Blue, from the small jar.  The antenna mast was
    hand painted Model Master Enamel Insignia Red.
</p>
<p>
    The exterior was primed with Tamiya Light Grey Primer from a spray can.  I think
    this was the first time I've used this, and I was pleased.  The NMF was Model
    Master Lacquer Silver.  It looked much too bright when I sprayed it, and I was
    somewhat dismayed.  However, after all the clear coats had been applied, it
    turned out all right.  After the NMF had dried, I used Model Master Lacquer
    Flat Black for the recognition stripes on the wings and horizontal stabilizers.
</p>
<p>
    I used Future for my decal undercoat, sprayed through my Badger Anthem at about
    20 psi.  This combination of airbrush and pressure seems to be the sweet spot
    for me when spraying Future - I don't find it nearly as foolproof as many others do.
    The Aeromaster decals went on
    well, using Microset and a little bit of Microsol.  I actually applied
    nearly all the stencils on this build, something I usually don't do.
    I used Future after
    applying the decals and attaching the landing gear, drop tanks, and so forth,
    then used Right Step Matte as a final flat coat.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
