---
layout: build.njk
kit: HAS09531
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This was one of those builds that makes me wonder why I engage in this hobby.
    It started out okay, but once it got to the decaling stage it went downhill.
    It didn't so much decline as plummet.
</p>
<p>
    The cockpit was painted Model Master Enamel Green FS34258.  This is not a precise
    match for Nakajima cockpits, but is rather close.  I think the actual color has
    a bit more of an olive tone to it.  The propellor blades were painted Mr. Color
    C-131 Propellor Color.  I knew I was going to be using Lifelike decals 48-036
    Nakajima Ki-44 part 1, so I painted the spinner Testors Flat Red (from the 1/4
    ounce bottle) to match the red on the decals.  The tires were Tamiya XF-85 Rubber
    Black.
</p>
<p>
    The exterior was primed with Ace Hardware Primer from a spray can.  The yellow
    on the front edges of the wing was the Tamiya mix for {{ mymacros.rlm('04') }}, which I figured
    was close enough for Japanese Orange-Yellow.  The rudder was painted Tamiya XF-13
    JA Green.  After masking the wing edges and rudder, I primed again to cover
    the yellow and green overspray, and then painted the bottom with Model Master Lacquer
    Silver, which had worked out well on {{ mymacros.linkTo('my previous build', '1101/') }}.
    It turned out a bit rough at a few spots.
</p>
<p>
    The underside was masked, and the top was painted Tamiya XF-69 NATO Black.  The
    decal instructions said the actual plane was black misted over natural metal.  I
    thought the NATO black turned out well.  I masked the NATO Black, and then used
    Tamiya X-18 Semi Gloss Black for the anti-glare panel.  When I removed the masking,
    I ran into my first major issue.  The masking lifed up the NATO black in places,
    so this was touched up.
    It turned out the Silver had not adhered to the primer.  I think in the future I
    will need to buffer the Silver to remove any excess before proceeding.
</p>
<p>
    I used Future for my decal undercoat, again sprayed through my Badger Anthem at about
    20 psi.  I then applied the decals.  The decals were very thin, but did seemed
    very stiff.  Several applications of Microset did not seem to help them melt
    over the irregularities of the surface.  I could not get the blue stripe to fit
    correctly - the bottoms don't line up.  The red decals on the fin did not go on
    well either.  In addition, the red on the decals seems very bright.  This was my
    first experience with Lifelife decals, and I wasn't impressed.  That being said,
    applying decals has never been my strong suit.
</p>
<p>
    After applying the decals, I attached the landing gear,
    drop tanks, and so forth.  One of the landing gear covers was not aligned properly -
    the connection with the landing gear itself was not secure.  I also messed up a
    number of the small landing gear covers.
    I used Krylon Clear Gloss to seal everything.  I had used it before on a P-47N
    painted with Gaianotes
    paint, and it caused the NMF to come off the model.  Since the kit had already been
    coated with Future, I figured I was safe, and at this point I was so disgusted that
    I really didn't care.  I used Right Step Matte as a final flat coat.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
