---
layout: build.njk
kit: HAS64742
---
{% import "layouts/macros.njk" as m %}
<p>
  Hasegawa has teamed with Creator Works to package some of their models in the markings
  used in various manga and anime.  Even though I'm not a big anime fan, I like the
  way these planes look, and they are definitely a bit different than the typical build.
  I've got a number in my stash.  This one is the J2M3 Raiden.
</p>
<p>
  The kit went together without any fuss, at least until the end, when I messed up
  a couple of things (as I nearly always do).  Even though the markings are unusual,
  the paint scheme is the usual dark green over gray.  The top is Tamiya
  {{'70'|txf|safe}} Dark Green 2, which is appropriate for Mitsubishi-built Navy planes,
  and the bottom is {{'12'|txf|safe}} JN Grey.  The instructions give you the choice of
  either Aotake or the underside color for the wheel wells - I used the underside color
  simply to make things easier.  The actual subject, fictious though it is, uses the
  oblique cannon on the port side.  I left that off (which is why there is a gap in
  the lightning bolt on the port side) and plan to use it on a future build.
</p>
<p>
  The kit gives you the choice of insignia.  You can use the original insignia, which
  is a hinomaru with a Japanese character in the center, or the chipped away versions,
  which is what I used.  Since most of the chipped away version is clear, there is
  some silvering - perhaps I should have played it safe and used the original insignia.
</p>
<p>
  As mentioned above, I did mess up a couple of things.  First, when I attached
  the radio mast, I did not get it quite centered.  As a result, the canopy is
  not quite straight.  Also, the top of the brace that holds the radio mast should
  be the exterior color.  I didn't realize this until the end.  I also had trouble
  attaching the gunsight and the armored glass, which is why they are not there.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
