---
layout: build.njk
kit: HAS09109
---
{% import "layouts/macros.njk" as m %}
<p>
  My modeling mojo pretty much disappeared at the first of the year, for reasons I'm
  not quite sure of.  I started a couple of kits, but lost interest pretty quickly.  I decided
  something simple might get me back in the groove, so I chose another one of the bagged
  109 kits I bought years ago.
</p>
<p>
  Although this is shown as an Emil kit, the bagged kit was actually kit
  {{ '09326' | linkTo('https://www.scalemates.com/kits/hasegawa-09326-messerschmitt-bf109t--197182') | safe }},
  the Bf 109T.  This kit, as well as the real plane, is based on the E-4/7.  I did not
  want to fuss with the resin, so I built it as an Emil.  I went through my decal
  stash to find some markings, and came across RB Productions RM-D48013 Romanian
  Messerschmitt Bf 109E Part 2, so that is what I used.  This is an E-7.
</p>
<p>
  It has been a while since I've built a Hasegawa Emil.  It went together quite well,
  although I had a bit of difficulty getting the cockpit in the fuselage (an area I
  often struggle with).  I was even able to get the plane to sit level, rather than
  lopsided, as a few of my recent builds have done.
</p>
<p>
  There were three colors used, {{'65'|rlm|safe}} light blue on the bottom, {{'71'|rlm|safe}}
  dark green on the top, and {{'04'|rlm|safe}} yellow for the theater markings.
  The light blue is a Tamiya mix I made up some time ago.  I didn't label the bottle,
  but it is probably Tamiya's recommendation of {{'23'|txf|safe}} and {{'2'|txf|safe}},
  mixed 50/50.  (I just realized that I also use this mix for {{'76'|rlm|safe}}.)  The
  dark green is Polly Scale, and I liked the color.  The yellow is {{'3'|txf|safe}}.
</p>
<p>
  As mentioned above, the decals are from RB Productions.  Since they are aftermarket
  decals, I just used Microset and Microsol on them.  There is a little silvering on
  the numbers on the fuselage, especially the right side, but less than I usually
  get with decals with large clear areas.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
