---
layout: build.njk
kit: TAM61089
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  This build took me a bit longer than expected, as I got sidetracked by tasks
  outside of modeling.  A while back, I had FUBARed the Airfix Mustang, but I kept
  the decals and used them on this build.
</p>
<p>
  Having built a couple of Tamiya P-51D's, assembly itself didn't give me any
  problems.  As a matter of fact, I think I had fewer difficulties with this build
  than previous attempts at this kit.  Maybe, after sixteen years, I'm finally getting
  the hang of it.
</p>
<p>
  I primed with regular Tamiya paint - I think it was a mixture of {{f.txf('19')}}
  Sky Grey and {{f.txf('2')}} Flat White.  This mixture isn't really a primer per se,
  but being a flat Tamiya paint, it adheres well to plastic.  I knew I was going to be
  using water-based paints on this, and I didn't want to have any adhesion issues.
  I used AMMO by Mig paints for the basic exterior colors: 0246 Medium Sea Grey
  {{f.nowrap('BS 637')}} for the bottom, and 0245 Ocean Grey {{f.nowrap('BS 629')}}
  and 0206 {{f.rlm('81')}} FS34079 {{f.nowrap('BS641')}} on the top.  I did try
  something different this time.
</p>
<p>
  I still have most of a bottle of Future, but it seems to be getting harder to
  find, so I looked around for a substitute.  I came across Quick Shine Multi-Surface
  Floor Finish at Home Depot, so I decided to give it a try.  It worked well as a
  thinner for the AMMO paints, and also well as a gloss clear coat.  It is a bit
  thinner than Future, and does not seem to work quite as well for dipping canopies.
  I used it on this kit, and the canopy was nice and shiny, but it did not seem to
  fill in scratches as well as Future.
  It is a milky white in the bottle, similar to what the clears from AMMO, Model
  Master Acryl and Polly Scale look like, but it does dry clear.
</p>
<p>
  I experimented by using the Quick Shine to thin some AMMO paint, and applied it
  to bare plastic.  I did wipe down the plastic with an alochol wipe first.  I let
  it dry overnight, and then applied masking tape.  The paint adhered perfectly,
  even with 3M Masking Tape For Hard-To-Stick Suraces, which is stickier than most
  tapes.  So I used it to thin the AMMO on this kit, and it worked well.
</p>
<p>
  The rudder was painted with Humbrol 109 Matt WWI Blue, which is what the Airfix
  instructions recommended.  Bearing in mind that Airfix and Humbrol are both owned
  by Hornby, it is not surprising that they recommend a Humbrol paint, just as Tamiya
  always specifies which of their paints to use.  I did like the way it turned out.
  The yellow on the wing leading edges was Tamiya {{'3'|txf|safe}} Flat Yellow.
</p>
<p>
  I used the Aeroproducts spinner and propellor from the Tamiya kit, but they don't
  look anything like the drawings in the Airfix instructions.  Based on the info
  on {{ 'this page' | linkTo('https://www.mustangsmustangs.com/p-51/variants/p51k') | safe }},
  what Tamiya describes as an Aeroproducts propellor (in their F-51D instructions)
  is actually a later version of the Hamilton Standard propellor.
</p>
<p>
  As mentioned above, the decals were from the
  {{ 'Airfix Mustang Mk. IV' | linkTo('https://www.scalemates.com/kits/airfix-a05137-north-american-mustang-mkiv-p-51k-mustang--1121429') | safe }}
  kit.  They
  went on well, with just a little silvering on the large letters on the fuselage
  and the stars on the tail.  The subject
  is an Australian Mustang in Italy in July 1945.  According to the Airfix
  instructions, the plane was actually a P-51K (which is why I used the Aeroproducts
  propellor).
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
