---
layout: build.njk
kit: TAM61041
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  I have been in something of a funk the last few months, which is why this is my
  first completion since June.  I had some aftermarket decals for a captured Dora,
  so I picked up this kit.
</p>
<p>
  Assembly presented no problems, as is the norm with Tamiya kits.  I had chosen
  the D-9 from Karaya decals D4807 Captured Butcherbirds vol. VI.  The decals instructions
  simply said standard D-9 camouflage, so I assumed {{f.rlm('76')}} on the bottom
  and {{f.rlm('75')}} and {{f.rlm('82')}} on the top.  The 76 was my mix of
  {{f.txf('2')}} and {{f.txf('23')}}, mixed 50:50, and I used {{f.txf('54')}}
  Dark Sea Grey for the 75 and {{f.txf('61')}} Dark Green for the 82.  Since this
  build was intended to get me out of my rut, I wasn't too concerned with getting
  the colors just right.  Except for the wing root, the camouflage was freehanded.
</p>
<p>
  I used Quick Shine Multi-Surface Floor Finish as the pre-decal gloss coat, and also as the
  decal setting agent.  It worked well.  However, while I was constructing the kit,
  I noticed that the subject required eight red stars, but the decal sheet only
  had six, so I used two stars from Eagle Strike 48134 Russain National Insignia
  WWII for the bottom of the wings.  When I applied the decals to the side of the
  fuselage, I realized they were a bit too large - although perhaps the kit is a
  bit undersized.  At any rate, I used two more decals from the Eagle Strike sheet
  for the markings on the fin.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
