---
layout: build.njk
kit: TAM35369
---
{% import "layouts/macros.njk" as m %}
<p>
  I think I started this kit a couple of months ago.  One of the reasons I put it
  aside is that it has the link-and-length tracks, which I had never done before,
  and, to be honest, they looked rather intimidating.
</p>
<p>
  As it happened, the tracks realy weren't that difficult.  However, I did need one
  less track link per side than the instructions indicated.  Other than that, assembly
  went smoothly.
</p>
<p>
  The exterior was primed with Tamiya {{'66'|txf|safe}} Light Grey, which isn't really
  very light.  I used this as a primer so the AMMO 008 RAL 7021 Dunkelgrau that I used
  for the exterior would adhere.  I am always a little lerry of using water-based
  paints directly on plastic.
</p>
<p>
  As with last month's Dora, I used Quick Shine both as a pre and post decal gloss coat,
  and as a setting agent.  It does reduce - but not completely eliminate - silvering.
  I didn't do any weathering.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
