---
layout: build.njk
kit: HAS09073
---
{% import "layouts/macros.njk" as m %}
<p>
  Like {{'the Panzer 38(t)'| linkTo('../1201') | safe }}, this kit was
  started a few months ago and then put aside.  It was pretty much ready for
  painting when I restarted it.
</p>
<p>
  I decided to use enamels on this.  As it happens, all three external colors are
  Floquil Railroad colors.  The yellow on the wings is Reefer Yellow, the bottom was
  Bright Silver, and the top was Reading Green.  I do like how the green came out.
</p>
<p>
  I used Quick Shine as a pre-decal gloss coat, and as a decal setting solution.
  I'm rather pleased with how it works - very little silvering.  Silvering is a problem
  that has plagued me throughout my modeling journey.
</p>
<p>
  There is a clear piece that goes on the top of the fuselage, just behind the
  cockpit.  While I as attempting to glue it in place, it dropped inside the fuselage
  and I was unable to get it out.  This is why there is a gaping hole there.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
