---
layout: build.njk
kit: ARIIA332
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  Yet another kit that was started some months ago, and then sat on the shelf.  I think
  I put this one aside when it came time to attach the landing gear bulges - there are
  no locating pins.  I hope I got them symmetrical.
</p>
<p>
  I had to use some putty, but it went together reasonably well, for a kit from the
  1970's.  I originally wanted to do an Aleutian subject, with the yellow tiger head
  over the engine, but I wasn't sure how the decals would work, as they were quite old.
  I had three bagged AMT P-40E's, one of which I had FUBARed some time ago, so I
  decided to do a subject from that kit.  I primed with Krylon gray automitive
  primer.  The azure blue on the bottom and the middlestone on top are Model Master
  Enamels.  I would have used an enamel for the dark earth, but I found I didn't have
  any, so I used Tamiya {{ f.txf('72')}} Brown/JGSDF.
</p>
<p>
  A coat of Quick Shine and it was ready for the decals.  The decals were quite thin,
  and I mean that in a good way.  I decided to go back to using Microset as a setting
  solution, and it worked well.  The AMT instructions indicate that the subject is
  from No. 450 Squadron, RAAF (hence the kangaroo on the left front fuselage) in
  the Western Desert in 1942.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
