---
layout: build.njk
kit: HAS09065
---
{% import "layouts/macros.njk" as m %}
<p>
	An undocumented build.  I think I used a Floquil railroad color for the light
	blue on the spinner and around the nose.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
