---
layout: build.njk
kit: HASA8
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	An undocumented build.  According to {{f.linkTo('Scalemates','https://www.scalemates.com/')}},
	this is the same kit as B008.  Both the NMF and the decals seemed to have turned out okay on this one.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
