---
layout: build.njk
kit: TAM61063
---
{% import "layouts/macros.njk" as m %}
<p>
	This was an undocumented build, but I do remember that I was not happy with it,
	which is why I built the kit again, with the same markings,
	{{ 'some time later' | linkTo('../../2014/0601/') | safe }}.
	The mottling was applied by hand and ended up so thick it was almost
	three dimensional.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
