---
layout: build.njk
kit: TAM35009
---
{% import "layouts/macros.njk" as m %}
<p>
	I didn't keep a record of this build, but I do remember that the paints
	were Polly Scale.  The red brown was freehanded.  I don't remember any major
	difficulty in the build, which is kind of odd, since I tried to build it again
	some time later and it ended up FUBAR.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
