---
layout: build.njk
kit: TAM97103
---
{% import "layouts/macros.njk" as m %}
<p>
	An undocumented build.  This was actually kit FA103, which was an earlier
	boxing of 97103.  I believe I used Tamiya paints on this.  Obviously, I had not
	yet learned that you need to flat coat the canopy frame to match the main
	airframe.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
