---
layout: build.njk
kit: HAS09313
---
{% import "layouts/macros.njk" as m %}
<p>
	An undocumented build.  Another one that, in retrospect, turned out pretty
	well (by my standards).
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
