---
layout: build.njk
kit: MONO6838
---
{% import "layouts/macros.njk" as m %}
<p>
	I think this was my first Monogram Thunderbolt.  I don't recall any issues.
	I actually have an aftermarket set of decals that includes this subject,
	The Turtle.  I may use them with a Tamiya kit at some point.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
