---
layout: build.njk
kit: HAS09090
---
{% import "layouts/macros.njk" as m %}
<p>
	Another undocumented build.  The mottling turned out pretty good on this one.
	The paint was probably Model Master Enamel.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
