---
layout: build.njk
kit: ACA2176
---
{% import "layouts/macros.njk" as m %}
<p>
	A build that I did not document - not that it was worth documenting.
	Looking back, I realize this turned out bad.  Maybe I have improved a bit in the
	intervening years after all.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
