---
layout: build.njk
kit: ACA2129
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	Like the {{f.linkTo('previous build','../0101/')}}, a Zero, this one was
	pretty crappy, although not as bad as the Zero.  I'm sure I tossed this kit at some point.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
