---
layout: build.njk
kit: OT228
---
{% import "layouts/macros.njk" as m %}
<p>
	Another undocumented build.  I wish I remembered what paint I used for the NMF -
	it isn't half bad by my standards.  It was probably Polly Scale Flat Aluminum,
	from the railroad colors.  I have an aftermarket decal set that thas this
	subject on it, and I plan to use it with the Tamiya kit at some point.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
