---
layout: build.njk
kit: TAM61095
---
{% import "layouts/macros.njk" as m %}
<p>
	Another undocumented build.  I obviously did the mottling by hand, and it
	did not turn out well.  The rest of it looks okay.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
