---
layout: build.njk
kit: TAM61018
---
{% import "layouts/macros.njk" as m %}
<p>
	Another undocumented build.  Not sure what paint I used.  It is obvious I forgot
	to put a flat coat on the canopy frame, or else had not yet learned that I need
	to do so.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
