---
layout: build.njk
kit: OT224
---
{% import "layouts/macros.njk" as m %}
<p>
	Another undocumented build.  This is my second build of this kit.  I probably
	used Model Master Enamels on it.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
