---
layout: build.njk
kit: HAS51631
---
{% import "layouts/macros.njk" as mymacros %}
<p>
	After completing the {{ mymacros.linkTo('Academy Bf 109G-6', '../2014/1101/' ) }}, I decided
	I had had enough of 1/72 scale. I actually packaged up most of my 1/72 stash and put
	it up for sale on Hyperscale and ARC. I found that building a 1/72 kit took almost as
	long as building a 1/48 kit, masking - particularly of the canopy - was harder, and
	it did not look as impressive on the shelf once completed. I kept a few, mostly ones
	that I'd already started or ones that I could use to practice a NMF. While the kits
	were sitting in boxes, waiting for me to list them, I pulled this one out and started it.
	I wanted to try yet another technique for NMF.
</p>
<p>
	The kit was pretty easy to assemble and it went together quickly. I used a Tamiya
	mix I had lying around for the cockpit. It wasn't the critical, since there really
	is no cockpit - just the tub. I used Mr. Color C-58 Orange Yellow for the IFF bands
	on the front of the wings, and for the drop tanks. It was actually difficult to
	cover the primer. After masking the bands, I used Tamiya X-1 Black as a primer,
	thinning with Tamiya Lacquer Thinner. I masked the anti-glare panel and the walkway
	marking on the wing, and used Testors CreateFX Aluminum for the NMF. I wanted to
	see if this paint was repackaged Floquil Old Silver, or close to it. It wasn't,
	and didn't spray well at all. I tried using a Xylene substitute, which I've
	successfully used with other enamel paints, and also lacquer thinner.
	Neither worked terribly well.
</p>
<p>
	The propellor blades and spinner were painted Mr. Color C-131 Propellor Color.
	The landing gear was painted CreateFX Aluminum, the same paint that was used
	for the exterior. I think I used Model Master Acryl Flat Black for the tires.
	For the exhaust, I used Testors Rubber from the 1/4 ounce jar. I had used this
	paint for tires before and noticed it is actually a very dark brown. I thought
	the exhausts came out well, both with regards to color and keeping the paint
	where it belonged!
</p>
<p>
	I had to enlarge the holes for the drop tanks. I used a #55 bit, which was perfect.
</p>
<p>
	I used Model Master Metalizer Sealer for the gloss coat. The decals were from
	Aeromaster, and are from the kit. Apparently, at some point Hasegawa released
	a series of kits with Aeromaster decals. There were a couple in the batch of 1/72
	kits I sold that also had Aeromaster decals. According to the instructions, these
	decals represent an aircraft from 70th Hiko-sentai, 3rd Chutai, Kashiwa Airfield,
	Chiba, Japan in June of 1945. The pilot was Chutai leader Captain Yoshio Yoshida.
	This aircraft was also an option in the Otaki/Arii kit - as a matter of fact, I
	used those decals in {{ mymacros.linkTo('one of my builds', '../2012/1102/' ) }}  - so
	I assume it was a well-documented plane.
	I used Right Step Matte finish, thinned with Jason Jones reducer, for the flat coat.
</p>
<p>
	If you look closely, or even not-so-closely, you will notice there is no antenna
	mast on the cowling. I could not get the mast to attach, so I just left it off,
	as I was rather frustrated with the kit by then.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
