---
layout: build.njk
kit: HAS09412
---
{% import "layouts/macros.njk" as m %}
<p>
	This is the Hasegawa 1/48 Ki61 Tony.  I have several boxings of this kit, and several aftermarket decals sheets.
	It went together well - I don't recall any real difficult spots.  It is not as overengineered as the
	{{ 'Ki84 Frank' | linkTo('../../2014/0901/') | safe }}.  The painting was the most difficult part of this kit -
	which says something, given the simple paint scheme.
</p>
<p>
	The cockpit was painted Model Master Enamel {{'79'|rlm|safe}}.  I used
	{{'28'|mrcolor|safe}} Steel for the guns.
	The propellor blades and spinner were painted
	{{'131'|mrcolor|safe}} Propellor Color.
	The landing gear was painted CreateFX Aluminum.
	The tires are Model Master Acryl Flat Black.  For the exhaust, I used Model Master Metalizer Burnt Iron.  The kit
	is engineered so that you can attach the exhausts after painting the exterior, which is handy, but I did have to
	sand the starboard exhaust quite a bit to get it to fit.  I didn't have that problem with the port side.
</p>
<p>
	For the exterior, I first primed with {{'Mr. Surfacer'|nowrap|safe}} 1000.  I painted the white background for the
	fuselage hinomaru with Testors Lacquer Header White, from their automotive line.  That did not
	cover as well as I had hoped, so I then sprayed with Mr. Base White 1000.  I also painted the
	leading edges of the wings with Floquil Reefer Yellow.  I masked those areas and covered the
	white and yellow overspray with another coat of primer.  I have found that yellow can bleed
	through a bit, odd as that seems.
</p>
<p>
	I then sprayed Testors CreateFX Aluminum on the bottom.  That looked terrible.  After thinking
	about it for a few days, and almost tossing the model, I decided to spray the top, and then go
	back to the underside.  I used Tamiya {{'13'|txf|safe}} JA Green.  The first coat was rather rough, so I
	gave it a light sanding and did a second coat.  This time it turned out better, although
	it is still rough just below the cockpit on the port side.
</p>
<p>
	At this point, I went back to the underside.  I've never tried spraying the top first, since
	the lower side is nearly always a lighter color.  I masked the top - not as easy as masking
	the bottom - and sprayed Tamiya {{'1'|tx|safe}} Black as an undercoat, then sprayed
	Tamiya {{'16'|txf|safe}} Flat
	Aluminum.  This paint turned out grainy, as it usually does, but a little buffing helped.
	I had sanded the old paint prior to applying the Tamiya Black, but there were still spots
	where it turned out rough.  I decided to live with it.
</p>
<p>
	For the wheel wells, I used Polly Scale {{'79'|rlm|safe}}.  This was a slightly darker shade than
	the cockpit, which was Model Master Enamel, but I wanted something that would dry quickly
	so I could apply the clear coat.
</p>
<p>
	My first attempt to mask the canopy was to use the {{ 'EZMask' | linkTo('http://www.ezmasks.com') | safe }}
	for it, but it did not fit well.  I remove that and tried to mask by hand, but ended up
	putting a few scratches in the canopy.  I re-Futured the canopy and tried a different
	approach: I scanned the EZMask cover sheet, scaled it down, and used it as a template.
	This worked quite well - the canopy turned out better than usual, and since I did not
	cut anything on the canopy, there were no scratches.
</p>
<p>
	I used Future for the gloss coat.  I had to apply several coats, and was reminded of
	why I don't normally use Future.  The decals are from the kit, and represent an aircraft
	from the 56th Flight Regiment stationed at Itami Airfield in 1945.
	The pilot was Major Haruyoshi Furukawa.  I didn not apply the stencils, since they
	were mostly for the upper surface, and black writing doesn't show up terribly well
	on a dark green background.  The fact that I really don't like applying small decals
	was also a factor in this decision.  I used Right Step Matte finish, thinned with
	Jason Jones reducer, for the flat coat.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
