---
layout: build.njk
kit: TAM61081
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	This is my second Tamiya 1/48 Dora. This is the JV44 boxing of this kit, but I used
	EagleCals 1-48 to do Werner Zech's "Black 8" from JG 26. There was no way I was going
	to try the red bottom with white stripes that the kit decals would have required.
</p>
<p>
	I don't recall any particular problems with assembly. I used the usual of Tamiya {{f.txf('61')}}
	German Grey for the {{f.rlm('66')}} in the cockpit and my Tamiya mix for {{f.rlm('02')}} in the wheel wells.
	For the greenish {{f.rlm('76')}}, I used Tamiya {{f.txf('14')}} JA Grey. I thought it turned out well. Others
	have recommended {{f.txf('21')}} Sky, which is a bit lighter, but would have worked well also. One
	thing I did not do that I should have was prime. There were a few places where the JA Grey
	rubbed off, something I have not experienced with Tamiya flat colors before. For the
	{{f.rlm('82')}} and {{f.rlm('83')}} on top I used Model Master enamels.
</p>
<p>
	Rather than trying to freehand the mottling, I used a technique I read about some time ago.
	I took a piece of a thin cardboard (from a flyer I got in the mail), punched random holes
	with a knife, and then used it as a mask. I put the side I had punched from against
	the model. I was rather pleased, especially since the method was rather painless.
</p>
<p>
	The tires are Polly Scale Grimy Black, which really isn't dark enough. The propellor blades
	are Tamiya {{f.txf('27')}} Black Green, which I have also had adhesion issues with. The spinner is
	Tamiya {{f.tx('18')}} Semi-Gloss Black. The guns were painted with Testors Gun Metal from
	the 1/4 ounce jar. Thinned a bit, it brushed very well.
</p>
<p>
	I used Model Master Acryl for the first gloss coat. It went on rather well, but didn't
	seem too glossy, so I put on a coat of Right Step Gloss Clear. It still didn't seem
	that glossy, but I figured more coats wouldn't improve things. The decals went on well
	with Micro Set. After they were dry, I added a bit of Micro Sol in a few places. I did
	notice that the wing surface was still rough, even after several coats of gloss clear.
	I just can't seem to get smooth coats. For the final flat coat, I used Future with some
	Tamiya {{f.tx('21')}} Flat Base added. It went on very well. For some reason, this mixture sprays
	much better than straight Future.
</p>
<p>
	As is often the case with 190's, I had trouble attaching the landing gear. I always
	have trouble attaching the activating rod, but on this plane I even had trouble attaching
	the gear itself. The struts are terribly misaligned. I should have filed the square ends
	that insert into the bay before attaching. Also, on my next kit, I will try attaching
	the strut to the plane before attaching the cover to the strut. I have always attached
	the cover to the strut before mounting the gear, and I'm thinking it may be a bit easier
	to do it the other way around. The bottom photo shows the misalignment - it is quite severe.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
