---
layout: build.njk
kit: TAM61040
---
{% import "layouts/macros.njk" as mymacros %}
<p>
	Here is my first completed 1/48 P-51D, with the emphasis on "completed."  I've started a few before,
	but usually messed up the NMF.  That wasn't an issue with this build, as I intended from the start
	to build Passion Wagon.
</p>
<p>
	In addition to being my first completed 1/48 P-51D, this build is also my first major attempt at using
	resin.  Passion Wagon was a P-51D-5, and did not have the fillet just ahead of the fin.  I have a Hasegawa
	boxing of their P-51D that has markings for Passion Wagon, and it just tells you so saw off the fillet.
	However, {{ mymacros.linkTo('Ultracast', "http://www.ultracast.ca" ) }} makes a resin tail for the Tamiya kit (part number
	48024), and that is what I used.  After cutting off the existing tail, it fit pretty well, although I did
	have to use a little Tamiya putty to smooth things out.  In retrospect, I think it would have been just
	as easy to cut off the existing fillet and sand the area smooth.  For one thing, using the resin tail meant
	having to attach the rudder, as it is a separate piece.  I'm sure many modelers prefer this, but it was a
	bit awkward for me.  Also, the tail wheel well doors had to be attached, where they are molded into the
	Tamiya fuselage.  I always have trouble attaching these, although they came out rather well on this build.
	Thirdly, I found that the resin was actually a bit difficult to prime, even with Mr. Surfacer.
</p>
<p>
	The cockpit was painted Polly Scale Interior Green.  The landing gear, wheel wells and drop tanks
	(which came from a Tamiya P-51B kit) were CreateFX
	Aluminum, which is quite grainy - definitely not suitable for a NMF.  I used Testors Flat Black from the
	1/4 ounce jar for the prop blades - it sprayed nicely.  I used Model Master Enamel Insignia Red and Insignia
	Yellow for the spinner and the front of the cowling.  The red on the checker board is a decal - the paint on
	the spinner did not quite match, but it was close.
</p>
<p>
	The camouflage was Model Master Enamel Medium Sea Gray on the bottom and RAF Dark Green on top.  I did a
	little (very little) research on the web, and there is no firm consensus on what paints were used.  It wasn't
	until after I had painted the camouflage that I realized I needed to paint the white recognition stripes.  I
	used Model Master Enamel Flat White for them.  I was not sure if Passion Wagon had invasion stripes on the
	bottom of the fuselage.  The decal sheet showed them, but I've seen a couple of builds without them.
	To be candid, I did not relish the task of painting them, so I skipped them.
</p>
<p>
	The decals came from a couple of sources.  I had some decals from the Tamiya 8th AF Aces boxing (61089), so I
	used the national insignia from those.  I could not get the one of the top of the port wing to snuggle down.
	The Passion Wagon-specific decals came from EagleCals EC-103.  They worked fine.
</p>
<p>
	As always, I messed up a few things.  I filed the part of the gear legs that goes into the wheel well
	before attaching, so I'd have a little wiggle room.  That made attachment easier, but the legs are not aligned
	properly.  Also, I forgot to dry fit the wheel covers on the wheel, so when I attached the starboard one,
	it did not go on as far as it should.  I was smarter on the port side - I opened up the hole for the axle
	before gluing, and it went on much better.  On the plus side,
	I did something a little different on this build in that I attached
	the landing gear legs to the wheel wells before attaching the covers to the gear legs.  That worked well -
	the landing gear covers fit perfectly.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
