---
layout: build.njk
kit: HAS09080
---
{% import "layouts/macros.njk" as m %}
<p>
	Yet another Hasegawa Oscar for my collection.  This one is a Ki 43-I, whereas my previous
	Hasegawa Oscars have been Ki 43-II's.  There really isn't too much to say about this kit,
	as it was a pretty uneventful build.  The only lesson I learned, that I hope I will remember
	before starting my next Oscar build, is to glue the wing tips to the top and bottom before
	glueing the wing top and bottom together.
</p>
<p>
	I primed with Tamiya Liquid Surface Primer from the 40 ml jar.  I have not had good luck with this
	in the past, so this time I mixed it with my Badger electric paint stirrer.  It went on
	much better than in the past.  The exterior was Tamiya {{'14'|txf|safe}} J.A. Gray for the
	bottom and {{'13'|txf|safe}} J.A. Green for the top.
</p>
<p>
	The decals are from the kit.  I was a little apprehensive, since I often have trouble with
	large decals.  Some did wrinkle, particularly at the front of the wings, but not nearly as bad
	as I feared.  Having low expectations sometimes helps.
</p>
<p>
	I first painted the canopy Polly Scale Weyerhauser Green to match the cockpit interior.  I thinned
	this with Future, which resulted in a rather glossy finish.  In the past, my canopy frames always
	seem to be darker than the main airframe, so this time I lightened the
	{{'13'|txf|safe}} with some {{'2'|txf|safe}} Flat
	White before I sprayed it.  It went on very well, but was too light, so I then sprayed
	straight {{'13'|txf|safe}}
	on.  It did seem to match the rest of the plane better than it usually does.  The windscreen didn't
	fit that well, but it isn't too obvious in the photos.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
