---
layout: build.njk
kit: HAS09255
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	This is my first Hasegawa 1/48 P-51D.  It was not quite as easy a build as the Tamiya.
	It was originally planned to be a NMF build, but it didn't turn out that well, so I
	opted for a camouflaged scheme.
</p>
<p>
	The cockpit was painted with Model Master Enamel Interior Green, with Floquil SO Freight
	Car Brown for the floor.  The landing gear was CreateFX Aluminum, which turned out grainy.
	I don't think I'll be using this particular color again.  When it came time to paint the
	wheel wells, I used CreateFX Silver, thinned with Ronsonol.  It worked well, particularly
	over unpainted plastic (which is rather smooth) or a gloss undercoat.
</p>
<p>
	The drop tanks were painted with Ace Hardware Gray Primer from a rattle can, followed by
	Tamiya {{f.tx('1')}} (Gloss) Black, followed by tricked Model Master Metalizer Aluminum.  By "tricked",
	I mean I followed {{f.linkTo("Rog&eacute;rio Marczak's advice","http://hsfeatures.com/sslrm.htm")}} on
	Hyperscale - I removed the solvent from the bottle and replaced with a mixture of Metalizer
	Sealer and Metalizer Thinner.  I used his recommended ratio of two parts sealer to one part
	thinner, but it was a little thick.  When I do this in the future, I will try equal parts.
</p>
<p>
	I primed with Model Master Enamel Primer and used Medium Sea Gray and RAF Dark Green from
	the same line for the camo.  I used Insignia Yellow and Insignia Red for the spinner.  I also
	painted the front of the cowling yellow so that the green would not bleed through the
	checker decal.  The white stripes are Mr. Base White 1000, which didn't work that well - a
	paint designed to be a topcoat would cover a bit better.
</p>
<p>
	The decals are from Superscale 48-1081 P-51D Mustangs - 362nd and 363rd FS / 357th FG.  They
	went on well with Microset.
</p>
<p>
	Note for future builds: Attach the small bracket to the landing gear struts before painting.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
