---
layout: build.njk
kit: HAS09531
---
{% import "layouts/macros.njk" as m %}
<p>
    It wasn't until I looked backed at my modeling history that I learned that this is my
    first Hasegawa 1/48 Ki44.  I could have sworn I did one before.  It must have been
    one of the many, many kits I have FUBAR'ed.  As with most Hasegawa kits, it went together
    well, and was rather uneventful - and I mean that as I usually do, as a postive thing.
</p>
<p>
    I used a lot of Mr. Color paints on this, as I have found that I really like them.  The
    cockpit was painted with Mr. Color Cockpit Color (Nakajima), the engine and wing guns were Mr. Color Steel,
    and the landing gear was Mr. Color Silver.  I used Tamiya XF-14 IJA Gray for the wing and
    fin tips, and Tamiya XF-76 IJN Gray-Green for the control surfaces, even recognizing
    that this is an Army aircraft, not a Navy one.  The yellow on the wing leading edges was
    Mr. Color Orange Yellow.  The exhaust was Testor's Metalizer Burnt Iron.
</p>
<p>
    For the exterior, I used the same tricked Metalizer that I used on
    {{ 'my previous build' | linkTo('../1002/') | safe }},
    after priming with Mr. Surfacer 1200.  I was
    pleased with how it turned out, and I was able to handle the kit without any paint lifting.
    I used Tamiya {{'2'|txf|safe}} Flat Black for the anti-glare panel.
</p>
<p>
    I used {{'131'|mrcolor|safe}} Propellor Color for the spinner and prop blades, and
    {{'58'|mrcolor|safe}} Orange Yellow for
    the tips and the small stripes near the base.  The kit comes with decals for the tips
    and the small stripes, so I originally painted the entire thing
    Propellor Color, and then attempted to apply a decal to one of the tips.
    That was enough to convince me to try a different approach.  I attempted to mask off
    the parts that would stay Propellor Color and paint the Orange Yellow, but the paint
    pooled up on the masking tape with covering the unmasked area, almost as if static
    electricity or something was pulling the paint to the masking tape.  So I soaked the parts
    in isopropyl alcohol for a few hours, which completely stripped the paint.  I thin
    sprayed the Orange Yellow, using Mr. Color Thinner (not Leveling Thinner).  Interestingly
    enough, for this color, the non-leveling thinner worked better.  After that dried, I
    masked off the tips and the small stripe and painted the Propellor Color, and was much
    happier with the result.
</p>
<p>
    The instructions said to paint the drop tanks in a NMF, but most kits recommend either a light
    blue or a light gray-green.  I used a Tamiya mix for {{'65'|rlm|safe}} - I think the mix was half
    {{'2'|txf|safe}} Flat White to
    half {{'23'|txf|safe}} Light Blue.  The tires were Model Master Acryl Engine Gray, and the red over
    the gun ports was Tamiya {{'7'|txf|safe}} Flat Red.  I thought it turned out too light.  The wheel wells were
    {{'57'|mrcolor|safe}} Metallic Blue Green.  I had trouble spraying this paint in the past, and had some
    trouble this time too.  It just doesn't seem to spray well - unusual for Mr. Color paints.
</p>
<p>
    The decals are from the kit.  I used Microset on the wing decals, and then decided to use
    Mr. Mark Setter on the fuselage markings.  The Mr. Mark Setter worked much better.  I have
    read the the Mr. Mark products work well with the decals that come with Japanese kits, so
    I will stick with them in the future.
</p>
<p>
    Note for future builds: Paint the wheel wells first.  Don't attach parts J7, J8 and J9 until
    after painting the exterior.  Attach the covers to the landing gear struts before attaching
    the struts to the wing.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
