---
layout: build.njk
kit: HAS09870
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is my first Shiden, although I have four more waiting in the stash:
    Hasegawa N1K1-Jb, N1K2-Ja and N1K2-Jb,
    as well as the Tamiya N1K1-Ja (the same variant as this kit).
</p>
<p>
    As with {{ mymacros.linkTo('the Shoki', '1201/') }},
    I used a lot of Mr. Color paints on this.  The cockpit, however,
    was painted Model Master Enamel Medium Field Green FS34095.  This was actually too dark.  The instructions
    called for a 50/50 mix of Nakajima and Mitsubishi cockpit colors, but a little searching on the web
    showed the color to be a dark green, similar to FS34092.
    {{ mymacros.linkTo('This link', 'http://www.aviationofjapan.com/2010/05/shiden-kai-shiden-kyofu-colours-part.html') }}
    was helpful.  However, I intended to use FS34092 on the
    exterior, so I used something else in the cockpit for a bit of contrast.
</p>
<p>
    For the exterior, I used the Mr. Color Silver on the bottom and Mr. Color Green FS34092 for
    the top.  The spinner was also painted FS34092.  I used Eduard's EX137 mask, which worked very well.
</p>
<p>
    The instructions indicated that the drop tank should be silver, like the undersurface, but my
    understanding is that the tanks were made of wood, and painted either a light blue or a light
    green.  I used Tamiya XF-76 IJN Gray Green.  The propellor blades were Mr. Color Propellor Color,
    with Mr. Color Orange Yellow for the tips and the IFF bands on the front of the wings.
</p>
<p>
    The decals are from the kit.  I used
    Mr. Mark Setter, having had good results using it on Hasegawa decals on
    {{ mymacros.linkTo('the Shoki', '1201/') }}.
    It worked well here, although the decals weren't
    that good.  It turns out a similar aircraft ("8" instead of "5") is represented on
    Aeromaster 48-326, of which
    I have not one but two copies.  I intend on using those decals on the Tamiya kit.
</p>
<p>
    Note for future builds: Attach the small landing gear covers - the ones that go at the top
    of the strut - before attaching the gun pods.  I actually left them off, since I could
    not fit them between the gun pod and the landing gear.  Also, when opening the holes for the drop
    tank, go straight down, rather than perpendicular to the fuselage surface.  I had to spread
    the struts on the drop tank a bit to get them to line up with the holes.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
