---
layout: build.njk
kit: TAM35072
---
{% import "layouts/macros.njk" as m %}
<p>
	Here is another armor kit, my second Soviet piece and third total.
	Although the kit box and instructions list this as a Russian tank destroyer,
	it is actually a Soviet tank destroyer.
</p>
<p>
	This went together pretty easily.  It is an old kit, dating from the 1970's I believe.
	It was originally motorized, but that was dropped some time ago.  The only things I had to
	putty were the fuel tanks - the putty vastly improved the looks of them.  I also had to sand
	the barrel, but I didn't use any filler.
</p>
<p>
	The overall color is Tamiya {{'13'|txf|safe}} IJA Green.  It looked very good when sprayed,
	but the clear gloss made it much too dark.  I used Krylon Acrylic Gloss.  I may try
	Right Step Clear Gloss in the future, as it may not darken the base coat as much.
	The only areas
	I primed were the fuel tanks (because they were puttied) and the barrel (because it was
	sanded).  After everything was painted, I realized the primed areas were much smoother than
	the unprimed areas.  I used Krylon Red Primer.
</p>
<p>
	 The instructions call for stretching some sprue for the antenna.  I am not good at
	 stretching sprue, so I then got some thin wire from a coworker.  I straightened a
	 piece of that, and was going to attach it, but I could not get it to stay in the
	 socket at the base.  So I decided to heat up a safety pin and stick it in the socket
	 to clear it out.  The safety pin was then stuck very well, so just cut it off.
	 It is attached very firmly.  Next time I'll try a needle, since the safety pin is
	 really too thick.
</p>
<p>
	The tracks were painted with Krylon Fusion Satin Black.  Although it had several weeks
	to cure, it still came off a little when I assembled the tracks.  As you can tell by the
	photos, these are the old vinyl tracks.  I used the heated nail technique to assemble them.
	A poke around the web suggested that using thread to sew them together might be better.
	I may also try using fishing line to sew them together in the future.  Also, based on
	this photo, I may use a dark gray for the tracks next time.
</p>
<p>
	The wheels were Liquitex Soft Body Mars Black.
	The blanket is Tamiya {{'60'|txf|safe}} Dark Yellow.  I think I used Tamiya
	{{'64'|txf|safe}} Red Brown for the
	straps.  It wasn't until after I attached the blanket that I realized there was
	a huge molding seam on the blanket that I neglected to remove.  The silver on the
	shovel is {{'8'|mrcolor|safe}} and the shovel handle is the same color as the strap on the
	blanket.
</p>
<p>
	There is supposed to be a cable around the vehicle.  The kit comes with a straight cable,
	and you're supposed to heat the part and bend the cable that way.  After the fiasco with the
	stretched sprue for the antenna, I decided to just leave it off.
</p>
<p>
	I used the decals from the kit.  I had to align the numbers myself, but they turned
	out okay.  After I was done, I wondered if the star should have been red.  I have a
	set of aftermarket Soviet decals from Microscale, and the stars on that set are red.
</p>
<p>
	My first attempt at a wash was using acrylic paint in windshield washer fluid.  I had
	tried this before on some small area, and it worked reasonably well, but it failed
	miserably here.  You can see it puddled up at the bottom of the wheels.
	I then used artist oil paint (Payne's Gray) in odorless mineral spirits,
	which worked much better.  I also put some ground up artists chalk on the vehicle.
</p>
<p>
	For a final flat coat, I initially used the Right Step.  It was not nearly flat enough, so
	I put a coat of Future flattened with Tamiya Flat Base, and the result was much better.
	Planes can be satin, but military vehicles should be dead flat.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
