---
layout: build.njk
kit: HAS09111
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	This is the Hasegawa 1/48 Bf 109E, kit Jt11.  I got this as a bagged kit, which
	is why there is no scan of the box art.  I effectively took two kits to build
	this, and, as with the {{f.linkTo('Oscar','../0501/')}}, I thought it turned out poorly.
</p>
<p>
	I started to build the Revell kit (04572), which has the same plastic, although it
	does not have the photo etch that the Hasegawa kit has.  I was not happy about how
	it was coming along - I couldn't even get the fuselage to fit together properly,
	and this kit is ofter described as a fall-together kit.  I was going to build the
	plane in the desert camo, to replace the Tamiya kit I had built earlier
	in the same colors.  However, when the kit was ready for painting, I realized that
	I had used to wrong air filter - I had used the non-tropicalized one.  (I actually
	realized this while I was exercising.)  So I had to look for an alternate scheme.
	The night fighter was one of the options from the Revell kit, and it's a simple
	scheme, so I chose it.
</p>
<p>
	The windscreen was masked using the appropriate
	{{f.linkTo('E-Z Mask','http://www.ezmasks.com')}},
	but the canopy itself was masked by hand.  The black is Floquil Engine Black, which
	seemed a close match to the coal black that was recommended.  The hue was fine, but
	it came out very rough.  I thinned it with Ronsonol, which I've used with other enamel
	paints without any problem, but this did not work well.
	Even a couple of coats of Future - including one applied by
	hand - helped.  There was a lot of silvering.  I used quite a bit of Microsol and
	Solvaset, which helped somewhat.  I was so fed up with the model that I didn't
	try anything else.
</p>
<p>
	There are also a couple of omissions.  I missed masking the center line in the rear
	canopy piece, so it didn't get painted.  I also forgot to put the PE in the canopy,
	but truth be told, I probably wouldn't have bothered even if I had remembered.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
