---
layout: build.njk
kit: ARIIA334
---
{% import "layouts/macros.njk" as m %}
<p>
	This is my second build of the Arii {{'Bf 109G-6'|nowrap|safe}}.  After struggling with several
	kits that ended up FUBAR, this one didn't turn out half bad.  It took a while to
	complete, but was not particularly difficult.  And I did try a couple of new
	things, which worked well.  I used Aeromaster {{'48-105'|nowrap|safe}} Reich Defense Part II decals.
</p>
<p>
	The construction was rather straightforward.  The only thing I think I messed up
	was installing the cockpit.  The armor behind the pilot's head is part of the seat,
	and I think I installed it too far forward.  The cockpit was painted Tamiya
	{{'63'|txf|safe}}	German Grey to represent {{'66'|rlm|safe}}.
</p>
<p>
	I used {{'Mr. Surfacer'|nowrap|safe}} 1200 as a primer.  I can't remember if I used Mr. Color
	Leveling Thinner or Five Star Acrylic Lacquer Thinner to thin it, but it went on
	well.  I have some Tamiya primer to try out, but the Mr. Surfacer works well.  I
	don't think I'll be using DIY primer for a while.
</p>
<p>
	I used Floquil Reefer Yellow for the {{'04'|rlm|safe}} bands on the fuselage and the rudder.
	The {{'76/75/74'|rlm|safe}} were Model Master enamels, thinned with Floquil thinner.  After
	reading	a
	post by Huey Gunner on {{ 'ARC' | linkTo('http://www.arcair.com') | safe }},
	I decided to thin
	the paints more than I usually do - more thinner than paint.  They sprayed very well.
	I also tried the thread-under-masking-tape technique for the first time.  I used it to
	get a feathered edge between the {{'76'|nowrap|safe}} on the side of the fuselage
	and the {{'75'|rlm|safe}} on top.
</p>
<p>
	Unfortunately, it wasn't until I was almost done that I looked more closely at the
	decal sheet and realized that I used the wrong colors. According to the decal
	sheet, they should have been {{'81'|rlm|safe}} (or 71)/82/84.  I suppose the decal sheet could
	have been wrong, as Aeromaster does not have the best reputation for accuracy.
	This represents a G-6 from {{'2./JG302'|nowrap|safe}} in October of 1944.  I used the Black Magic mask
	for the canopy, which fit perfectly.
</p>
<p>
	The spinner is Floquil Engine Black.  The propellor blads are Floquil Brunswick Green,
	which is so dark as to be almost indistinguishable from the black.  I've been meaning
	to try the Brunswick Green as a substitute for {{'70'|rlm|safe}} for a while, and I think it
	worked well.
</p>
<p>
	The landing gear bays were painted a 50:50 mix of Tamiya {{'22'|txf|safe}} RLM Grey
	and {{'49'|txf|safe}} Khaki,
	which is what Tamiya recommends for {{'02'|rlm|safe}}.  It was darker than I would have liked.
	I will mix in some {{'2'|txf|safe}} Flat White to tone it down a bit for the next model.
	I used Jo Sonja Carbon Black for the wheels, and Tamiya {{'63'|txf|safe}} German Grey for the tires.
	As in the past, I had a little trouble getting the Jo Sonja to stick to bare plastic.
	It works fine over a previously painted surface though.
</p>
<p>
	The guns were Floquil Graphite, which is something of a metallic black.  The cowling guns
	in the kit had some flash, so I cut some plastic rod to about the right size.  They
	don't look great, but I wasn't going to splurge for aftermarket parts
	for an inexpensive kit like this one.
	The exhaust was painted a mix of Tamiya {{'10'|tx|safe}} Gun Metal and {{'34'|tx|safe}} Metal Brown.
</p>
<p>
	I used Krylon Acrylic Gloss as my prep coat, and Right Step matte, thinned with
	Testor's Acryl thinner, for the flat coat.  The flat coat went on very well - thin,
	flat, and no runs.  This will be my go-to flat coat in the future.
</p>
<p>
	A couple of other things went wrong.  There is some splatter on the mottling - I need
	to work on my technique.  Also, the canopy did not fit very well, but I did not realize
	this until I had painted it.  I need to remember to test fit the canopy before painting it.
	The national insignia on the starboard side folded under, but it is difficult to see
	unless you look at the model from underneath.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
