---
layout: build.njk
kit: HASB008
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	Two P-47D Bubbletops in a row - and both in 1/72.  This is also my second build of this
	kit.  As with the {{f.linkTo('Academy kit','../0901/')}}, this was done to try out yet another NMF technique.
	This one didn't work out all that well either.
</p>
<p>
	The cockpit, which is very sparse, was painted Floquil Southern Green.  The instrument panel
	was painted black.  I didn't bother even attempting to paint any dials, as (1) I knew this
	build was just to try out a finish and (2) you can't see the panel anyway.  As it happens, it
	didn't matter - when I put some foam rubber in the cockpit opening to mask it, the panel broke
	off.
</p>
<p>
	Construction didn't really present any problems.  I used Tamiya {{f.tx('1')}} Black to prime, thinned with
	Tamiya Lacquer Thinner.  I used Floquil Bright Silver for the NMF.  Once again, I had adhesion
	problems - the NMF came off, even after letting it dry for several days.  I don't have this
	issue with other colors.  I'm now thinking that the Tamiya {{f.tx('1')}} is not sticking well, so I may have
	to stick with flat primers.
</p>
<p>
	I like to use a different NMF for the landing gear struts, just to give some contrast.  My notes
	indicate that I used Humbrol 11 for the landing gear structs and wheels.  When I was applying
	the decals, I learned that the wheels are supposed to be red.  Oh, well.  I apparently made
	the same mistake on the
	{{f.linkTo('Academy kit','../0901/')}},
	since the decals came from
	the same aftermarket sheet.  The tires and prop blades were Model Master Acryl Flat Black, hand
	painted.  The prop tips are insignia yellow.  The red - all of which is painted - is Tamiya
	{{f.txf('3')}} Flat Red.  I also used this to hand paint the hub of the spinner.
	The anti-glare panel is Model Master Enamel Olive Drab ANA-613.
</p>
<p>
	I used the leftover decals from Superscale {{f.nowrap('72-886')}}, which I had used on the
	{{f.linkTo('Academy kit','../0901/')}}.  The kit is not quite right - it should have
	a filet on the rear fuselage.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
