---
layout: build.njk
kit: TAM61050
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	I can't believe that I actually finished two kits in a seven day period.  First, the
	{{f.linkTo('Hasegawa 1/72 P-47D Thunderbolt','../1201/')}},
	and then this Tamiya 1/48 Bf {{f.nowrap('109E-3')}}.  This
	turned out better than the Thunderbolt, but still has a few flaws.
</p>
<p>
	The exterior is all Tamiya.  I used a custom mix for the {{f.rlm('02')}} in the cockpit.  I followed Tamiya's
	recommendation of one part {{f.txf('22')}} RLM Grey to one part {{f.txf('49')}} Khaki,
	but also added one part {{f.txf('2')}} Flat White
	to lighten it up a bit.  I used the same mixture for the {{f.rlm('02')}} part of the camouflage.
	For the {{f.rlm('65')}},
	I used the Tamiya mix of one part {{f.txf('23')}} Light Blue to one part
	{{f.txf('2')}} Flat White.  I actually think it is
	a little too light, perhaps being closer to {{f.rlm('76')}} than {{f.rlm('65')}}.
	I used {{f.txf('61')}} Dark Green straight from
	the jar for the {{f.rlm('71')}}.
</p>
<p>
	I used {{f.txf('63')}} German Grey for the tires, and Model Master Acryl Flat Black for the wheels.  The guns are
	all Floquil Graphite.  The propellor spinner is Tamiya {{f.txf('1')}} Flat Black, and the blade are mostly
	Floquil Brunswick Green.  The bare metal parts of the blades are Floquil Bright Silver.
</p>
<p>
	I used an airbrush purchased from the now-defunct pleasedshop.com to
	paint the mottling.  This airbrush has a 0.2mm needle, the smallest I've used.  I had tried a Chinese
	airbrush before, and was not happy with it, but this one was only about $20.  I used Tamiya paint,
	thinned down about four parts thinner to one part paint, and very low pressure.  The result is my
	best mottling job.  The only thing I would have done differently would be to make it darker.
	It has been my experience that the gloss clear coat darkens the colors, so I thought the mottling
	would be fine, but the clear coat didn't affect it.  I suppose I should be happy.
</p>
<p>
	The decals are from the kit.  According to the instructions, it represents a plane from
	{{f.nowrap('II/JG54')}}
	in France some time in 1940.  I chose this option because I wanted to try the mottling.  The only
	stencil I applied was the fuel octane indicator, on the upper part of the port fuselage.  I tried
	to apply the red walk area marker on the port wing, but the decal came apart, so I stopped.  For the
	first time, I used Mr. Setter.  It worked very well - there was no silvering at all.
</p>
<p>
	In addition to the decal mishap, a few other things went wrong.  I forgot to paint the front
	of the engine (actually just a block of plastic).  It shows - very slightly - through the slots in
	front of the cowling machine guns.  I also forgot to paint the grill on the front of the
	supercharger air intake.  I unmasked the cockpit before I applied the clear coats, and
	the clear flat got on the instrument panel.  I lost the gunsight.  I had cut it off the sprue, and was attempting
	to file it a bit, when it sprung out of the tweezers into never-never land.  The middle section of
	the canopy is almost falling off the plane.  I used foam-safe superglue, and held it in place for
	what I thought was long enough.  I took my hand off, and it stayed in place where it was supposed to.
	I left the room for a while.  When I came back, it had fallen down to its current position.  On the
	plus side, it is glued very well - I wanted to see if I could fix it, but it did not budge.  The
	front section of the canopy does not sit snugly up against the fuselage - I'll have to remember to
	test fit and sand it if needed, before I paint it.  After the frustration with the canopy, I did not
	bother to put on the armored glass in front of the windscreen.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{{ m.buildPhotoLink(path, 4) }}
