---
layout: build.njk
kit: TSTR7625
---
{% import "layouts/macros.njk" as mymacros %}
<p>
	This is the first kit I completed after returning to the hobby.
	It is a 1/48 scale Messerschmitt Me-163B Komet. It is the Testors kit (#7625),
	which I picked up in a local craft store for about $7. I learned later that
	this is actually an old Hawk kit and dates from 1960, so it is as old as I am.
	The kit has virtually
	no interior detail, but it was a nice way to slide back into modeling.
</p>
<p>
	For more details on the kit, refer to the reviews
	{{ mymacros.linkTo('here', 'http://www.modelingmadness.com/reviews/axis/luft/gren163.htm') }} and
	{{ mymacros.linkTo('here', 'http://www.modelingmadness.com/reviews/axis/luft/lacombe163.htm') }} on
	{{ mymacros.linkTo('Modeling Madness', 'http://www.modelingmadness.com') }}.
</p>
<p>
	The painting was not terribly difficult, especially since the lack of horizontal
	stabilizers eased the task of masking. I used Model Master Acryls,
	{{ mymacros.rlm('81') }} and {{ mymacros.rlm('82') }} over {{ mymacros.rlm('76') }}.  I would have preferred Polly Scale,
	but they were difficult to find locally. (I say "were" because one of my
	local hobby shops now carries Polly Scale.) That being said, the Acryls
	went on rather smoothly. The plane was primed with Painter's Touch
	flat white (from Home Depot) in a spray can. I used my Paasche H airbrush.
</p>
<p>
	This model represents a Me-163B-1 of 2/JG 400 at Brandis, January 1945.
	(This description is taken directly from the instructions.)
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
