---
layout: build.njk
kit: TAM61013
---
{% import "layouts/macros.njk" as mymacros %}
<p>
	Here is the second kit I completed since returning to the hobby. It is a 1/48
	scale Nakajima Ki 84-IA Hayate, Allied code name "Frank". It is Tamiya kit
	number 61013. I was looking for a kit with a relatively easy paint scheme.
	The fact that it has a bubble top canopy was also a plus, since I've learned
	it's going to take some practice to get good at masking canopies.
</p>
<p>
	For more details on the kit, refer to the review
	{{ mymacros.linkTo('here', 'http://www.modelingmadness.com/scotts/axis/j/tam85.htm') }} on
	{{ mymacros.linkTo2('Modeling Madness', 'http://www.modelingmadness.com', '.') }}
</p>
<p>
	I used a combination of paints on this model. I first primered with Painter's
	Touch flat white (from Home Depot) in a spray can. I then tried to paint the
	bottom with IJA light gray, but it was very close to the primer and I got very
	frustrated. I then reprimered with a gray primer, also from Painter's Touch.
	I discovered that paint designated as primer is significantly thicker
	than the regular colors.
</p>
<p>
	I then used Model Master IJA light gray enamel on the bottom. Since I had heard
	so many good things about Tamiya paints, I used their IJA dark green on the top.
	I must admit, it went on well. However, I did have to touch up a little, and, as
	others have noted, the Tamiya paint did not brush well.
</p>
<p>
	I used the simplest paint scheme, and fortunately this corresponded to the
	fewest decals. This represents a plane belonging to the 58th Shimbu unit of
	the Special Attack Corps at the Miyakonojo Airfield in Miyazaki Prefecture
	on Okinawa. (This description is straight from the instruction sheet.)
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
