---
layout: build.njk
kit: ACA1664
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    I was not pleased with how this kit turned out - as a matter of fact, I have
    since tossed the build.  I did {{f.linkTo('another build','../../2016/1101/')}}
    of this kit in 2016, and it turned out much better.
</p>
<p>
    I did not make notes of this build, so I don't have any details.  The only
    thing I remember - and it is obvious from the photos - is that decals did
    not adhere to the model well at all.  If I recall correctly, some even
    peeled more after the photos below were taken.  As I am writing this, years
    after the build, I also realize I put the windscreen on upside down.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
