---
layout: build.njk
kit: TAM61063
---
{% import "layouts/macros.njk" as m %}
<p>
    This was an undocumented build.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
