---
layout: build.njk
kit: ARIIA321
---
{% import "layouts/macros.njk" as m %}
<p>
    This was an undocumented build.  This one really didn't turn out too bad.
    Although I have no record, I'm guessing the top is Model Master Enamel
    IJN Green and the yellow is Floquil Reefer Yellow.
</p>
<p>
    My original listing has this as the Otaki boxing, but the boxart I scanned
    is the Arii kit, so I'm assuming that is the one I built.  The plastic is
    the same in either case.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
