---
layout: build.njk
kit: HAS09508
---
{% import "layouts/macros.njk" as m %}
<p>
    Another undocumented build.  I'm not sure what paint I used.  Looking back
    at it for this write-up, I see I forgot to attach the clear cover over the
    light on the front edge of the wing.  Oh, well, too late now.  I had a lot
    of silvering with the decals (as I often do), as the first and second photograph show
    clearly.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
