---
layout: build.njk
kit: TAM61016
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    An undocumented build, but looking at the paint, I think it is Tamiya
    {{f.txf('12')}} JN Grey.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
