---
layout: build.njk
kit: TAM61016
---
{% import "layouts/macros.njk" as m %}
<p>
    An undocumented build, but looking at the paint, I think it is Tamiya
    {{'12'|txf|safe}} JN Grey.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
