---
layout: build.njk
kit: MONO5487
---
{% import "layouts/macros.njk" as m %}
<p>
    I don't remember much about this build, but I don't think it gave me any
    problems.  Unfortunately, I don't have any notes on what paints I used.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
