---
layout: build.njk
kit: TAM61035
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is Tamiya's Spitfire Mk Vb Trop, kit 61035.
</p>
<p>
    This is the third time I've attempted to build this kit. The first two attempts
    ended up in the trash can, as I messed up the paint job badly both times.
    I think this was due to attempting to use hardware store spray paint as a primer.
</p>
<p>
    The bottom surfaces are a rough 50/50 mix of Flat White and Azure Blue from the
    Model Master enamel line. It went on well. I thought the hue was much better than
    Azure Blue straight from the bottle, which is a little dark. I attempted to use
    Tamiya mixes for the upper surfaces, but the paint went on like sandpaper.
    It may have been the Tamiya paint reacting with the primer, as I (once again)
    tried to pinch pennies and use Painter's Touch flat white as a primer. This time,
    I bit the bullet and sanded away the Tamiya. I then used Model Master Enamel
    for the Middlestone and Dark Earth on the top.
</p>
<p>
    The upper camouflage was masked using masking tape, cut to the pattern that
    Tamiya provides in the box. It worked reasonably well, but was somewhat of a pain.
</p>
<p>
    Decals are from the kit. According to the instructions, this represents serial
    number BR487 from No. 417 Squadron. Looking at it now, I realize that I may have
    put the sqadron codes on incorrectly on the starboard side. The instructions
    show the AN-V on the starboard side. Oh, well, I'll have to remember that
    for next time.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
