---
layout: build.njk
kit: HAS09181
---
{% import "layouts/macros.njk" as m %}
<p>
    This kit was built during the period I was not documenting my builds.
    As such, I don't remember too many details.  About the only thing I do
    remember is that I used Floquil CN Gray for the exterior.  In the bottle,
    it looked like it had a slight greenish tint to it, which I thought was
    perfect.  But when I sprayed it, it looked slightly tannish.  Based on
    what I have read, the tannish tint may be more accurate.
</p>
<p>
    The decals came from the kit.
    I can tell by looking at the build that I forgot (or didn't know enough) to
    apply the clear flat coat to the canopy.  It definitely looks darker than
    the rest of the plane.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
