---
layout: build.njk
kit: ACA2224
---
{% import "layouts/macros.njk" as m %}
<p>
    This is the Academy 1/72 Hellcat, kit 2224, done as a {{'F6F-5'|nowrap|safe}},
    using Superscale {{'72-735'|nowrap|safe}} decals.
</p>
<p>
    I really wanted to complete something relatively quickly, so I chose the overall
    Sea Blue scheme. I knew from past experience that Academy decals leave something
    to be desired, to put it mildly, so I went with the Superscale set. There are
    supposed to be white rectangles on the fin and on the outer corners of the
    upper wings. On the upper wings, I made the mistake of putting on the insignia
    first. When I went to apply the rectangles, the overlapped the insignia,
    so I left them off. The ones on the fin didn't fit (I think the decals were made
    for the Hasegawa kit).
</p>
<p>
    The interior was Model Master Enamel US Interior Green. The exterior is Flat Sea Blue
    from the same line. All the paint went on well.
</p>
<p>
    According to the Superscale sheet, this represents an {{'F6F-5'|nowrap|safe}}
    from the {{'VF-17'|nowrap|safe}} on the USS Hornet in February 1945.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
