---
layout: build.njk
kit: TAM61053
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  This kit has been staring at me from my stash for quite a while.  I like the look
  of the Beaufighter, but have never built one.  I decided to go with the Malta
  plane, since I didn't want to deal with radar, and the other two options in the
  kit are nightfighters.
</p>
<p>
  The kit went together reasonably well.  I did have to use a clamp to eliminate
  a large gap between the center section of the wing and the bottom of the fuselage.
  The landing gear was a little tricky to insert into the nacelle as well.
  I had quite a bit of aftermarket to go with this kit (wheels and canopy), but the
  only aftermarket I used was the {{f.linkTo('Ultracast','https://ultracast.ca')}}
  48117 exhausts.
</p>
<p>
  The instructions called for the cowling rings to be painted copper, but some quick research
  on the web convinced me that that wasn't quite right.  I ended up using Tamiya
  {{f.txf('84')}} Dark Iron, which, based on photos I found on the web, looked
  somewhat correct.  I painted the cowlings and exhaust first, them masked them,
  which was quite a pain.  The main exterior colors were Hataka lacquers, Azure
  Blue on the bottom and Middlestone and Dark Earth on the top.  I freehanded the
  Dark Earth using my Badger Renegade Velocity.  I thinned the paint, but instead of
  using low pressure, used about 35 psi.  By keeping the brush not too close to the
  kit, and using the control knob on the Velocity, I was able to get thin lines
  without a lot of splatter.
</p>
<p>
  The rockets were handpainted, also a pain.  Decals came from the kit.  Although
  the camouflage came out well, the primer was a little rough, and some of the decals
  look three-dimensional.  I used Future for both the pre and post decal gloss coats
  and Future mixed with Tamiya Flat Base for the final flat coat.
</p>
<p>
  As is my usual practice, I painted the canopy before attaching it to the plane.
  I don't attach it until the final flat coat has been painted, so it is usually
  the last thing I do.  This plane is a little unusual in the that canopy over
  the cockpit is not all one color - part is Middlestone and part is Dark Earth.
  Unfortunately, I switched the colors on the canopy, so the part of the canopy that
  is Middleston is adjacent to the part of the fuselage that is Dark Earth, and
  vice versa.  Damn.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
