---
layout: build.njk
kit: HAS09363
---
{% import "layouts/macros.njk" as m %}
<p>
  Another bagged 109 kit.  This was actually incomplete - it was missing the
  spinner and the mounting plate for the drop tank.  I used a spinner from a
  Hobbycraft Bf 109K-4 kit and simply left the drop tank off.
</p>
<p>
  I think I was going to try a different brand of paint, but I ended up just
  using Hataka for the {{'76'|rlm|safe}}, {{'75'|rlm|safe}} and {{'74'|rlm|safe}}
  and Ammo for the {{'04'|rlm|safe}}.  The decals came from
  {{'EagleCals 28'|nowrap|safe}}.  There is supposed to be a spiral on the
  spinner, but it came apart with I tried to apply it.  I used an EZ Mask to
  mask the canopy, which fit well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
