---
layout: build.njk
kit: TAM35174
---
{% import "layouts/macros.njk" as m %}
<p>
  This is my second Tamiya Panther, both of which were type G.  This is the steel
  wheel version.  I was undecided between this one of the Late Version, so I looked
  on the web to see which one would be easier to replace if I botched it up (which
  should give you an idea as to how good a modeler I am).  This kit seemed to be
  available on several sites, so I chose it.  After opening the box, I realized that
  this kit also includes the standard wheels, so I think you can build a late G
  if you wish.  This was another bonus in choosing this kit - I didn't have to
  paint the tires, which is a pain on any tank.
</p>
<p>
  For the most part, the kit went together well.  As with my last couple of armor builds, I attached
  all the tools and accessories before painting.  The first trouble I had was
  with the treads.  I thought they were going to break, and there was a gap where
  the two ends attach.  I actually bought Tamiya's separate track link set for this kit
  (Tamiya part number 35171), then I figured out that I could hide the tread
  connection behind the skirts, so I did that.  The track link set will also fit
  the Late Version, as well as the Jagdpanther, so I don't think it will go to
  waste.  The second problem area was the skirts.  I ended up using epoxy to
  secure the mounts to the sides of the hull.
</p>
<p>
  Drawing on the {{ 'last Panther' | linkTo('../../2020/1103/') | safe }} I built,
  I decided to go with all Tamiya paints on this one.  The base color is
  {{'60'|txf|safe}} Dark Yellow, and the camouflage is {{'58'|txf|safe}} Olive Green
  and {{'64'|txf|safe}} Red Brown.  The instructions actually recommended
  {{'61'|txf|safe}} Dark Green, but I thought the Olive Green would look better.
  After painting, I realized it wasn't that different.  All colors were airbrushed.
  For the green and brown, I used my new Tamiya airbrush, with its 02.mm needle/nozzle.
  I put the green and brown on quite heavily, but was pleased with how it turned out.
  I applied an acrylic wash made of water, a little hand soap, and a little
  Vallejo dark brown (I forget which exact color I used).  It did not have that
  much of an impact, but based on past experience, better too litle than too much.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
