---
layout: build.njk
kit: HAS51510
---
{% import "layouts/macros.njk" as m %}
<p>
  Here is the Hasegawa A6M5 kit, in captured markings.  The kit comes with decals
  for one place captured by the USA and one captured by the UK.  I chose the UK
  plane because it was a Mitsubishi-built plane - you can tell by the face that the
  gray on the bottom does not curve up to meet the tailplanes.
</p>
<p>
  This kit was first sold in 1982, according to Scalemates, but it went together
  well.  The only odd thing was that there is a seam right through the center of
  each of the ailerons, similar to the 1/32 Oscar.  I tried to fill it, but did not
  do a great job.  Good thing I don't show photos of the bottom of my builds!
  Since this was a Mitsubishi-built plane, I used {{'12'|txf|safe}} JN Grey on
  the bottom and {{'70'|txf|safe}} on the top.  The cowling was {{'18'|tx|safe}}
  Semi Gloss Black.
</p>
<p>
  The decals are from the kit.  I had to use very hot water, and let them sit in
  the water for much longer than usual - about a full minute.  I used a mask from
  {{ 'EZ Masks'| linkTo('http://www.ezmasks.com/index.html') | safe }} on the canopy, and
  it worked well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
