---
layout: build.njk
kit: TAM61070
---
{% import "layouts/macros.njk" as m %}
<p>
  This is at least the second time I've attempted to build this kit, and I almost gave
  up, just as I did the first time.  I had purchased Xtradecals set
  {{ '48102 Yanks With Roundels part 1' | linkTo('https://www.hannants.co.uk/product/X48102') | safe }},
  some time ago, as I wanted to do a Royal Navy Corsair.  Based on
  {{ 'this post on Hyperscale' | linkTo('https://www.tapatalk.com/groups/hyperscale/faa-f4u-corsair-colors-question-t198316.html') | safe }},
  I purchased some Hataka paint for it.  More on that below.
</p>
<p>
  The kit went together reasonably well, as you expect from Tamiya, but a couple of areas
  were a little tricky.  First, I had difficuly getting the fuselage halves to close
  (as I often do).  Also, attaching the wings extensions is a bit awkward, at least to me,
  as the kit allows you either have the wings folder or extended.  Based on past experience,
  I used epoxy to secure the wings.  It was also a pain to attached the tailwheel doors - it might
  have been easier to attach the doors before attaching the actual tailwheel.
</p>
<p>
  Regard the paints, I first primed with Tamiya Grey Primer, from the 40 mL jar.  Then I sprayed
  Hataka C048 Light Gull Grey (FS36440/ANA620) on the bottom.  That looked fine.  After masking
  I then sprayed Hataka C031 Gunship Grey FS36118/ANA603 on the top, and was very disappointed -
  it had a very purple hue to it.  I ended up overpainting it with Tamiya {{'54'|txf|safe}}
  Dark Sea Grey, which looked much better.  After the experience with the Gunship Grey, I did not
  trust the Hataka Olive Drab I had purchased, so I used my Tamiya mix for Olive Drab for the
  disruptive camouflage.
</p>
<p>
  I painted the propellor with {{'18'|tx|safe}} Semi Gloss Black.  One nice thing about
  this particular Corsair is that the propellor hub is the same color as the blades.  The canopy
  was masked with {{ 'Pmask' | linkTo('http://pmask.eu/') | safe }} Pk48048Y, which fit very well.
  I forgot to put the decals on the
  propellor blades.  As I mentioned, I used Xtradecals 48102, with Microset, and they worked
  beautifully.
</p>
<p>
  There are a couple of historical inaccuracies.  I didn't bother to trim the wing tips
  (Royal Navy Corsairs had their wings clipped so they would fit on British carriers).  Also,
  I followed the kit instructions regarding the antenna mast, and I think the actual plane
  had the mast in front of the cockpit on the starboard side.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
