---
layout: build.njk
kit: HC1522
---
{% import "layouts/macros.njk" as m %}
<p>
  Here is my second Hobbycraft 109.  I can't believe it has been almost five years
  since my {{ 'first one' | linkTo('../../2016/0901/') | safe }}.
  I wanted to do a kit in non-German markings, and this one has a couple of options.
  I chose the Croatian (I think) option, from Italy in 1945.
</p>
<p>
  Assembly was pretty straightforward.  The instructions called out for {{'82'|rlm|safe}}
  and {{'83'|rlm|safe}} on the top, with {{'76'|rlm|safe}} on the bottom.  I found a web
  page (I think it was
  {{ 'this one' | linkTo('http://www.modelersite.com/Oct2010/English/Bf109G_Eng.htm') | safe }})
  that showed a photograph of this plane, and also
  indicated that it was {{'81'|rlm|safe}} and {{'82'|rlm|safe}} on the top, so that is
  what I used.  I primed with my mixture of artists acrylic paint and Future, and painted
  with Vallejo Model Air.  Interestingly, the bottle of {{'82'|rlm|safe}} is labelled
  Light Green, but it is darker than the {{'83'|rlm|safe}} in the same paint line.
  The {{'04'|rlm|safe}} is Tamiya {{'3'|txf|safe}} Flat Yellow.
</p>
<p>
  The spinner was painted AMMO by Mig 047 Satin White.  I was going to try to paint
  the spiral, but chickened out.  I found a set of decals from a Hasegawa
  {{'Bf 109G-6'|nowrap|safe}} that had a suitable decal, so I used it.  The actual
  plane had a black spiral on a white background, so the decal was correct in that
  respect.  The other decals came from the kit, and worked well.  There were no
  stencils in the kit decals - at least, not in my kit - but I'm not complaining,
  as I don't like applying stencils.  The canopy was masked with a mask from
  {{ 'EZ Masks' | linkTo('http://www.ezmasks.com') | safe }}.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
