---
layout: build.njk
kit: TAM61096
---
{% import "layouts/macros.njk" as m %}
<p>
  This is my second build of this kit, and {{ 'the first build' | linkTo('../../2020/1201/') | safe}}
  was less than a year ago.  This one even has the same paint scheme, but I used a different color.
  As a matter of fact, I built this because I wanted to try a different shade of black for the upper color.
</p>
<p>
  There isn't much to say about assembly.  I've built several of the Tamiya 1/48 P-47's, so
  at this point I know what to expect.  Once again, I primed with a mixture of artists acrylic white
  (Liquitex soft body) and Future, about one part paint to three parts Future.  I used this because
  I wanted to see if the NMF on the bottom turned out better with a glossy undercoat.  I used
  Gaia Silver {{'EX-07'|nowrap|safe}}, and it turned out very smooth, if a bit bright.  For the top,
  I used a mixture of Tamiya {{'1'|txf|safe}} Flat Black and {{'3'|tx|safe}} Royal Blue, in a 4:3 ratio.
  I had seen this someone online as a mix for  Mitsubishi Cowling Color, and someone said it might
  make a good choice for P-47M's.  I think it turned out well.
</p>
<p>
  Decals are from the kit.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
