---
layout: build.njk
kit: TAM61037
---
{% import "layouts/macros.njk" as m %}
<p>
  When going through my decal stash, I came across the set of
  {{ 'TigerHead decals' | linkTo('http://www.tigerheaddecals.com/') | safe }} (48008)
  that I had used for {{ 'one of my Tamiya Spitfires' | linkTo('../../2016/0301/') | safe }}
  and saw that it included a Focke-Wulf Fw 190A-3.  I picked up another Tamiya
  kit to use those decals.
</p>
<p>
  There's nothing much to say about the build - typical Tamiya ease of construction.
  It helps that I've built several of the Tamiya Focke-Wulfs.  I was even able to attach
  the landing gear arms without too much trouble, an area that usually gives me
  problems.  The decal instructions specified {{'65'|rlm|safe}} for the bottom
  and {{'02/71'|rlm|safe}} for the top.  I'm not quite sure if these are correct,
  as 190's are usually in {{'74/75'|nowrap|safe}} over 76, but I followed the
  instructions.  I used {{'23'|txf|safe}} Light Blue for the {{'65'|rlm|safe}},
  {{'61'|txf|safe}} Dark Green for the {{'71'|rlm|safe}}, and my mixture for the
  {{'02'|rlm|safe}}.  The {{'61'|txf|safe}} is probably a bit too dark for
  {{'71'|rlm|safe}}, but I figured it was close enough.
</p>
<p>
  The decals went on easily with Microscale solutions.  I was pleased with the fact
  that there were only six of them, as I'll admit I don't like decaling much.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
