---
layout: build.njk
kit: HAS52207
---
{% import "layouts/macros.njk" as m %}
<p>
  This is the Hasegawa A6M3 kit, in the Magnificent Kotobuki boxing.  I believe The
  Magnificent Kotobuki is an anime.  I've picked up a number of these anime/manga
  kits, as I like doing unusual markings.  However, as the photos show, this one is
  in conventional markings.  I had those markings left over from
  {{ 'the old tool Tamiya A6M3' | linkTo('../../2020/0101/') | safe }},
  and decided to save the Kotobuki markings to use on
  {{ 'the new tool Tamiya A6M3' | linkTo('https://www.scalemates.com/kits/tamiya-61108-mitsubishi-a6m3-3a-zero-fighter-zeke--121431') | safe}}.
</p>
<p>
  As with {{ 'the A6M5' | linkTo('../0603/') | safe }}, the build went together well.
  I used Tamiya {{'12'|txf|safe}} JN Grey for the overall color.  Interestingly, the
  instructions for the new tool kit say to use {{'76'|txf|safe}} Gray Green (IJN),
  wshich I think is a bit lighter.  The mottling is {{'11'|txf|safe}} JN Green.
</p>
<p>
  As mentioned above, the markings came from the Tamiya kit.  The hinomarus came
  from Techmod 48038.  All the decals went on well with Microscale solutions.
</p>
<p>
  I didn't realize until after I had taken the photos and was writing this up that
  I forgot to attach the wingtip lights.  I'll have to do that before this one goes
  on the shelf.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
