---
layout: build.njk
kit: TAM35055
---
{% import "layouts/macros.njk" as m %}
<p>
  I kind of lost my modeling mojo this month, so I turned to this kit, which I knew
  would be rather simple.  I had picked up this kit a while back after reading a post
  on {{ 'the ARC forums' | linkTo('http://www.arcforums.com/forums/air/index.php') | safe }}
  that recommended it as a simple kit to rejuvenate one's interests.  It fit the bill
  nicely.
</p>
<p>
  It went together well, even though it is one of Tamiya's earlier efforts.  The main
  issue was deciding what shade of green or olive drab to paint it.  The box art shows
  it as more of a green than an olive.  After giving it some consideration, I used my
  Tamiya mix of FS34102, which is {{'5:3'|txf|safe}} + {{'13:3'|txf|safe}} +
  {{'2:1'|txf|safe}}.  This mix was obtained from the IPMS Dayton Tamiya mix page
  ({{ 'link to my copy' | linkTo('/dayton/') | safe }}).
  In retrospect, I should have used {{'13'|txf|safe}} JA Green, as I think the real
  tank had a darker, more olive finish.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
