---
layout: build.njk
kit: TAM61090
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  My modeling mojo has been low for the last few months, which is why there was no
  completion in November.  I perused my decal stash, and came across the Iliad RAF
  Thunderbolts sheet, so I decided to do another Tamiya P-47D.  Since this subject did
  not have a fillet, I used the Bubbletop kit.  (If it had a fillet, I would have used
  the P-47M kit.)
</p>
<p>
  There were no problems in assembly, at least until the end.  I primed with Brite Touch
  Gray from a rattle can.  This has worked okay in the past.  The white is Auto Borne
  Sealer.  The bottom is Tamiya {{f.txf('20')}} Medium Grey, as a substitute for
  Medium Sea Grey.  I used {{f.txf('72')}} Brown/JGSDF for the Dark Earth and
  {{f.txf('81')}} Dark Green 2 (RAF) for the Dark Green.
</p>
<p>
  The decals went down very well after applying Future.  Attaching the fiddly bits
  after decaling is where things went wrong.  The port gun barrels are not correct -
  the two center barrels protrude by the same amount.  Since my mojo has been low to
  begin with, and after the frustration with the gun barrels, I did not bother to
  attach the gunsight or the rear view mirror - I'll have to remember to attach
  the gunsight when assembling the cockpit in the future.  I also didn't put the
  stencils on the propellor blades.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
