---
layout: build.njk
kit: HAS09079
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
  I think I botched a couple of Hasegawa Spitfires and, as a result, I had a
  bunch of sprues left over that together made a complete kit.  I decided to build
  this as a Mk VIII, since the kit contains all the parts needed to do so.
</p>
<p>
  I followed the advice that Tom Cleaver gave in
  {{f.linkTo('his build','http://www.modelingmadness.com/review/allies/gb/cleaverhspit9.htm')}}
  regarding the cockpit.  I did have to use some filler, but not as much as I
  expected to.
</p>
<p>
  The decals came from SuperScale {{f.nowrap('48-807')}} RAAF {{f.nowrap('HL/LF')}} Mk VIII
  Spitfires.  I decided to do Norm Smithell's plane.  The decal sheet said that his plane
  was in RAAF light green (same FS number as US interior green) and RAF dark green.  The spinner
  was shown as a bright green.  I looked around the web, and the first source said the top was
  dark earth and dark green, the same colors used on {{f.linkTo('the Thunderbolt','../1201/')}}
  I completed earlier this month.  However, I found
  {{f.linkTo('this comment','https://www.britmodeller.com/forums/index.php?/topic/235097606-was-raaf-earth-brown-used-on-aussie-mkviii-spitfires/&do=findComment&comment=4162659')}}
  on the BritModeller forums from Peter Malone, which actually spoke with the pilot of this
  plane, and so went with the normal RAF colors of Ocean Grey and Dark Green over Medium
  Sea Grey.  I used Tamiya {{f.txf('82,')}} {{f.txf('81')}} and {{f.txf('83,')}}
  respectively.  The white (which was painted first) was a {{f.nowrap('50:50')}} mix of
  {{f.txf('2')}} and {{f.tx('2')}}, since I wanted a satin finish.  Also, other profiles
  of this plane showed the spinner in a blue, so I used Humbrol 109 WWWI Blue Matt.  I did
  make one mistake in painting: the camouflage should wrap around the cowling.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{{ m.buildPhotoLink(path, 4) }}
