<div class="noprint">
  <nav class="row-parent w-80">
    <a class="link column" href="/">Home</a>
    <a class="link column" href="/builds">Builds</a>
    <a class="link column" href="/stash">Stash</a>
    <a class="link column" href="/about">About</a>
  </nav>
</div>
