---
layout: build.njk
kit: TAM61025
---
{% import "layouts/macros.njk" as m %}
<p>
    I picked up this kit at a swap meet in November.  This is probably the quickest
    I've ever gotten to building a kit after purchasing it.  This kit dates from the 1970's.
    I have the newer tooled kit (61108) in the stash.  I knew that the old kit had a decal
    option with mottling on it, and I wanted to pick it up to use those markings on the
    newer tooled kit, so when I saw it at the swap meet, I picked it up.
</p>
<p>
    Nothing about the build stuck out.  It is a pretty basic kit, and went together well.
    As with {{ m.linkTo("last month's Spitfire", '../../2019/1201/') }},
    I used Tamiya paints.  The bottom is {{ m.txf('12') }} JN Grey and
    the top is {{ m.txf('70') }} Dark Green 2.  The instructions specified {{ m.txf('13') }} JN Green
    for the top, but the kit was created before Tamiya introduced {{ m.txf('70') }}.
    Since the subject was built by Mitsubishi, and {{ m.txf('70') }} represents Mitsubishi
    Green, that is what I used.  The yellow band at the front of the wings is
    {{ m.mrcolor('58') }} Orange Yellow.  This was the end of that bottle and I won't be
    buying another.  I have not had good results with Mr. Color yellows.
</p>
<p>
    I used Testors Metalizer Sealer for the gloss coat and Dullcote
    for the flat coat.  The decals were from the kit.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{{ m.buildLastModified(stats.mtime) }}
