---
layout: build.njk
kit: TAM61013
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is my second build of this kit.  The
    {{ mymacros.linkTo('first time', '../2006/0801/') }} was over thirteen
    years ago, although I think I tried to build it at
    least once in between, and ended up tossing it.  I built it this time because
    I wanted something to try a NMF on.
</p>
<p>
    It is a pretty simple kit, and did not go together nearly as well as more
    modern Tamiya kits.  Apparently, Tamiya has learned a thing or two since the
    1970's, when this kit was introduced.  I primed with Brite Touch Gray Primer,
    an automotive primer.  The NMF was Gaia EX-07 Silver.  It was definitely too
    bright.  That paint may be suitable for small parts, such as landing gear,
    but it did not work well for an overall color.  Also, I did not do nearly
    enough prep work, as there are numerous rough spots on the surface. The red on the fin was
    {{ mymacros.mrcolor('81') }} Russet, which was recommended somewhere as a substitute for
    the red in RAF roundels.  Since the Japanese insignia appears to me as very similar,
    I thought the red on the fin would match the insignia.  For the antenna and tires,
    I used Auto Borne Sealer Black.
</p>
<p>
    The spinner and propellor blades were painted a Tamiya mix to represent
    FS34102.  The mix I used was XF5:3 + XF13:3 + XF2:1, which I found on
    {{ mymacros.linkTo('this page', 'http://www.ipmsdayton.com/sites/default/files/Tamiya_Mixes.txt') }}.
    I wanted a medium green, based on information on this plane found on
    {{ mymacros.linkTo('this page', 'http://arawasi-wildeagles.blogspot.com/2018/07/nakajima-ki-84-hayate-frank-decals-and_9.html') }}.
    I like the way it turned out.  I did not pain the wing tips red, despite what
    the page on Arawasi's page states, as I was not sure if it should appear on both
    top and bottom.  Also, I was getting tired of this kit.
</p>
<p>
    This kit instructions had you paint the drop tanks aluminum, but, based on a
    brief note on
    {{ mymacros.linkTo('this page', 'http://www.aviationofjapan.com/2009/02/ki-43-iii-ko-colours-part-3.html') }},
    I used AMMO by Mig 125 Gold Yellow (RLM04).  I used the kit decals.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
