---
layout: build.njk
kit: MENGWWT012
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This build was the result of yet another sequence of failed builds.  I was getting
    frustrated, so I chose something simple.
</p>
<p>
    I had had some trouble with the {{ mymacros.linkTo2('Sherman from this series', '../2019/0201/', ',') }}
    but this kit went together well.  I primed with Mr. Surfacer 1000, and used my
    Tamiya mix for U.S. Armor (3 parts {{ mymacros.txf('62') }} to 1 part {{ mymacros.txf('60') }}).  The
    pre-decal gloss coat was Right Step Gloss, and the post-decal flat coat was
    my Future / Tamiya Flat Base mix (about 5 parts Future to 1 part Flat Base).
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
