---
layout: build.njk
kit: HAS09138
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    This build was something of a shelf-of-doom build.  I had started this a few months ago
    and got frustrated with it.  I think it was the spinner and prop, of all things, that
    gave me trouble, although the general fit was not as good as I normally expect from
    Hasegawa.  I put the kit aside for a while, and even looked into getting a replacement.
    At a local swap meet, I found a started kit being sold by a guy who was a car modeler,
    and he sold it to me for $10.  When I got home, I compared it to my build.  He had done
    better work, but I also realized I could salvage this build, so that's what I did.
</p>
<p>
    I use Polly Scale {{f.rlm('79')}} for the cockpit, which is the usual recommended shade,
    although I have read that it is actually incorrect, and that the usual IJAAF shade
    of a light olive was used.  The spinner was difficult to paint.  I first sprayed
    {{f.mrcolor('131')}} Propellor Color over the whole thing.  I tried to paint the white
    by hand, but it turned out bad, so I stripped the paint and started over.  The second
    time, I cut a circle mask using my Silhouette cutter, and then placed that over the
    spinner and sprayed the white.  Not perfect, but much better.
</p>
<p>
    The camouflage was {{f.txf('13')}} JA Green over {{f.mrcolor('8')}} Silver.  I used my Tamiya
    {{f.rlm('04')}} mix for the yellow on the wings, the tips of the propellor blades
    and the drop tanks, although I have since learned that the drop tanks should
    probably be gray.
</p>
<p>
    I used Right Step Gloss as a pre-decal coat.  The decals came from the kit.
    As with {{f.linkTo('my previous build','../../2017/0201/')}}
    of a Ki-100, I had major silvering with the decals on the rear wing, although
    it doesn't show too much in the photos.  I am going to try using Future as
    a decal setting agent at some point to see if I can alleviate this issue.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
