---
layout: build.njk
kit: TAM61047
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is the first time I've build this boxing of the Mustang, although I did
    build the {{ mymacros.linkTo('P-51B boxing', '../2011/0702/') }} a number of years ago.
</p>
<p>
    It went together well.  I did the camouflage freehand, and it turned out rather
    well.  I did mask the top-to-bottom demarcation, though.  Tamiya colors were
    used for the exterior ({{ mymacros.txf('81') }}, {{ mymacros.txf('82') }}, and {{ mymacros.txf('83') }}).  I had decided to use
    the decals for the yellow on the leading edge of the wing.  This proved to be
    a big issue.
</p>
<p>
    When I got ready to decal, I noticed that the kit decals where from Scale Master.
    I was a little apprehensive, as they looked rather thin.  I was able to put on
    the serial numbers, but when I tried to apply the insignia on the bottom of
    the wing, the decal shattered as I was trying to take it off the backing
    sheet.  I did have Aeromaster 48-212, which had the same subject, so I used
    the insignia from that sheet.
</p>
<p>
    At this point I remembered that I had sent a couple of sets of decals from the
    P-51D kit to a fellow in Kansas, and those were Scale Master too.  He had sent
    me photos of his completed build, and it looked great.  I asked him for advice.
    He said he usually leaves the decal in water for a couple of minutes before
    trying to remove it, and always uses a wet finger.  I used hotter water than before,
    although I did not wait two minutes, but the other decals on the sheet worked fine -
    until I got to the yellow on the wings.  Those decals shattered.  I thought, no
    problem, I'll paint them.  It is not too difficult on RAF subjects, since (unlike
    the Japanese), the outer area is the part that is painted.  So I gave the decals
    a coat of Future, masked the leading edge, and painted them Testors Flat Yellow
    (from the 1/4 ounce jar).  When I removed the masking, both upper and lower
    insignia decals came up with the masking tape.  I removed as much of the decals
    as I could be pressing making tape on the decal and lifting.  I then applied
    the upper insignia from the Aeromaster sheet and lower insignia from another
    sheet - I'm not sure where I got them.
</p>
<p>
    As with {{ mymacros.linkTo('my previous build', '0302/') }}, I had major silvering,
    especially on the squadron codes on the port side.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
