---
layout: build.njk
kit: HAS09064
---
{% import "layouts/macros.njk" as m %}
<p>
    This was another of the bagged kits I bought as a bundle.  I was originally
    going to use it as a testbed for Vallejo or AMMO by Mig paints, but I ended up
    using Model Master Enamel.  It was a breeze compared to
    {{ 'my previous build' | linkTo('../0501/') | safe }}.
</p>
<p>
    Having assembled several Hasegawa 109's before, the build process wasn't difficult.
    The kit decals had a pinhole in them, so I used EagleCals 16-48.  (For some reason,
    I have three sets of this decal sheet.)  I am trying to use up my stock of enamel
    paints, so I used WEMCC ACLW02 {{'70'|rlm|safe}} and Model Master Enamel
    {{'21'|rlm|safe}} for the spinner.  Painting the spinner and propellor blades was a bit
    more awkward than it should have been.  I was originally going to use the kit decals,
    and the subject had the spinner and prop blades in {{'70'|rlm|safe}}, so I assembled
    the whole thing and then painted it.  Then I discovered the pinhole in the decals
    and decided on a different subject, so I had to mask and then paint the {{ '21'|rlm|safe }}.
    It ended up looking fine.
</p>
<p>
    For the {{ '04'|rlm|safe }}, I first sprayed
    {{ '113'|mrcolor|safe }} {{'04'|rlm|safe }}, but, as in the past, it had a bit of a green tint to it.
    I need to toss this bottle so I don't inadvertently use it again.
    I ended up covering it with my Tamiya mix for {{ '04'|rlm|safe }}.
</p>
<p>
    The exterior was primed with {{'Mr. Surfacer'|nowrap|safe}} 1200.
    The external colors are Model Master Enamel {{ '76'|rlm|safe }} on the undersides and
    {{ '81'|rlm|safe }} and {{ '83'|rlm|safe }} on the top.  As is well-known in the modeling
    community, Model Master mislabeled {{ '83'|rlm|safe }} as {{ '82'|rlm|safe }}, and vice versa.
    I masked the wings when I painted them, but I freehanded the fuselage, using
    my Badger Velocity airbrush with thin paint and low pressure.  I was very
    pleased with the way it turned out.  As well as looking better, it was actually
    easier than masking.  The mottling may be the best I've ever done.  The decal
    sheet showed the mottling as something of a transparent coat, so that is the
    effect I tried to reproduce.
</p>
<p>
    Although I did not use Vallejo or AMMO paints as planned, I did try something new.
    I routinely have lots of silvering when applying decals.  A fellow I sent some
    decals to mentioned the use of Future as a decal setter.  I have heard of this
    many times of the years, but was always afraid to try it.  I think of Future as
    being rather sticky, and I feared I would not be able to position the decals after
    applying them.  I did a dry run with some old decals, and found I was able to
    move the decal as I usually do, so I used Future for most of the decals on
    this build.  There is still some silvering, particularly under the 22 on the
    port side (although it doesn't show in the photos), but much less than usual.
    Perhaps the reason the 22 silvered was that it is one decal placed on top of
    another, and I didn't use any setting on the second decal, for fear of
    disturbing the first.  Next time I will try using Future on both layers.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
