---
layout: build.njk
kit: MENGWWT004
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    As with previous builds from the World War Toons series, this was done due to
    a desire to get something done quickly.  However, it also gave me a chance to
    try out AMMO primer and AMMO 4BO paint.
</p>
<p>
    I have a few minor issues with these kits
    (yes, even with these kits - I will never win any contests), but this one
    didn't present any difficulties.  As mentioned above, I primed with AMMO by Mig
    Primer.  This was the Surface Primer, A.MIG-2002, not the One Shot Primer.  I had
    picked up some of this and wanted to try it out.  I had heard of the adhesive issues
    associated with acrylic primers, so I wanted to use it on something that didn't need
    masking.  However, when I primed this kit, I also sprayed some primer on some scrap
    plastic.  I let both kit and scrap cure for 24 hours, then tried to lift the primer
    off the scrap plastic.  It did not lift, so at some point, I may try this primer on a model that
    does need masking.
</p>
<p>
    The external color is AMMO 4BO Russian Green A.MIG-019.  It was a bit lighter than
    I was expecting.  After painting a few items by hand, I used Future as a pre-decal
    gloss coat, applied the kit decals, put on another coat of Future, then a mixture
    of Future and Tamiya {{f.txf('21')}} Flat Base as a flat coat.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
