---
layout: build.njk
kit: ACA2155
---
{% import "layouts/macros.njk" as m %}
<p>
    I think this is the fourth time I've tried to build this kit.  The three previous attempts
    all ended up FUBAR.  There is
    {{'a page on ARC' | linkTo('http://www.arcair.com/Gal16/15601-15700/gal15680-P-47-Sarzotti/00.shtm') | safe }}
    with a build of this kit, and the guy who built it says, and I quote, "The kit went together perfectly."
    He is obviously a much better modeler than me.
</p>
<p>
    After assembling the cockpit, using care to remove the seat frame from the sprue (I've broken this part
    in the past), I had to use clamps to get the fuselage to close up.  On the wings, as on previous attempts,
    I had issues with the gun covers on the wing tops and the inserts where the gun barrels protrude.  Both
    fit poorly in my experience, with large gaps.
</p>
<p>
    I have several aftermarket sheets for 1/48 P-47N's.  I was going to do Red-E-Ruth, which was
    stationed on Ie Shima. According to
    {{ "Tom Cleaver's build of the Trumpeter 1/32 P-47N" | linkTo('http://www.modelingmadness.com/review/allies/cleaver/tmc3247n.htm') | safe }},
    the P-47N's used on Ie Shima were P-47N-1's, and so did not have the rocket stubs.  I believe I have
    seen other sites indicate that Red-E-Ruth was a P-47N-5, and so would have the rocket stubs.
    I wish I had sanded them off, as they interfered with the unsided insignia decal.
</p>
<p>
    The exterior was primed with Krylon 8608 2-in-1 Primer.  The exterior was Krylon 1403 Dull Aluminum.
    I had used this same combination - or what I thought was the same combination - on
    {{ 'the 1/32 Oscar' | linkTo('../../2019/1002/') | safe }}, but this
    did not turn out quite as well.  I think I used a different Krylon primer on the Oscar.
    I sprayed samples of several different blues to see if I could match FS35102, which is what
    the Superscale decal sheet says the blue matches.  I ended up using Polly Scale St. Lawrence Blue,
    which is a railroad color.  I think it is a bit too light, and also has a bit of a teal tint to it.
</p>
<p>
    When I went to apply the decals, I decided to go with Lovely Leo from Superscale 48-576, saving
    Red-E-Ruth for a future build.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
