---
layout: build.njk
kit: ARIIA325
---
{% import "layouts/macros.njk" as m %}
<p>
    This is the second time I've tried to build this kit.  The first time was a short
    while ago, when I was building (and getting frustrated with) the Hasegawa kit of this
    subject.  I ended up FUBARing that kit (the Arii, not the Hasegawa).  I was able to
    pick up another of these at a swap meet for a reasonable price.  This time I finished it.
</p>
<p>
    The kit went together pretty well - not as well as a modern Tamiya kit, but pretty well
    nonetheless.  I think I had to use a bit of filler in a couple of places.  The hard part
    was deciding what to use for the exterior color. According to
    {{ 'this post' | linkTo('http://www.aviationofjapan.com/2019/12/kawasaki-ki-100-colours.html') | safe }}
    on the Aviation of Japan blog, the exterior should more like olive than green,
    at least as I interpret it.  I didn't want to use Tamiya {{'13'|txf|safe}}, as that is
    what I used on the {{ 'Hasegawa kit' | linkTo('../0302/') | safe }}.
    I ended up using {{'130'|mrcolor|safe}} Dark Green (Kawasaki), which I was pleased with.
    I used the last of my Tamiya mix for {{'04'|rlm|safe}} for the yellow
    on the leading edges of the wings, and {{'8'|mrcolor|safe}} Silver for the underside.
</p>
<p>
    I used Right Step Gloss as a pre-decal coat and as a
    post-decal sealer, and a Future / Tamiya {{'21'|tx|safe}} Flat Base mix for the flat coat.
    The decals are from the kit.  I tried using
    {{'Mr. Mark'|nowrap|safe}} Softer as a pre-decal softener on the decals on the bottom,
    as I had read about this on
    {{ "Gregg Cooper's article" | linkTo('http://www.hyperscale.com/features/2002/gekkogc_3.htm') | safe}}
    on Hyperscale.  It was a disaster, as the decals wrinkled horribly, looking like peeling
    paint.  For the rest of the decals, I used Microset, which worked well.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
