---
layout: build.njk
kit: HB80357
---
{% import "layouts/macros.njk" as m %}
<p>
    This is the Hobby Boss F8F-1B Bearcat.  I wanted something with a simple paint
    scheme, and this fit the bill.
</p>
<p>
    The kit went together reasonably well, but I had a hard time getting the fuselage
    halves to mate.  I've had this same trouble with modern Airfix and Eduard kits, so
    it is probably an issue with me and modern tooling, although
    {{ 'Matt Dyer' | linkTo('https://mattsmodelsandcomment.blogspot.com/2017/08/grumman-f8f-bearcat-or-why-i-am.html') | safe }}
    seemed to have the same problem.
</p>
<p>
    The entire exterior was painted with Tamiya {{'17'|txf|safe}} Sea Blue.  The
    instructions call out for the landing gear to be silver and the wheel wells to be
    interior green, but most planes I've seen in overall Sea Blue have the landing gear,
    wheels and wheel wells in Sea Blue as well, so that's what I did.  The fact that it
    was easier was icing on the cake.  (That's my story and I'm sticking to it.)
    Attaching the landing gear was a bit of a pain, as it always is for me on kits
    where you have to do more than just stick the landing gear in a hole.  I should
    have attached the landing ear to the plane before attaching the landing gear cover
    to the landing gear - it would have been easier.
</p>
<p>
  I was originally going to go with the Thai option that came with the kit, but
  after struggling with the fuselage, I decided to make it a French plane.  I plan to use
  the Thai decals on a Hobbycraft/Academy Bearcat.  The decals did go on very well
  with just Microset underneath them.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
