---
layout: build.njk
kit: TAM61033
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    Somewhere along the line I picked up the decal sheet and instructions from
    Hasegawa kit 09308, the Spitfire Mk. Vb 'Red Star'.  I must have FUBARed the kit,
    because the decals and instructions were all I had, so I picked up a Tamiya Spitfire
    to use the decals with.
</p>
<p>
    As with most Tamiya kits, there were no problems with the build.  I even remembered
    to check the height of the armor behind the seat so it wouldn't interfere with the
    rear part of the canopy - I think I've had that happen on all previous builds of
    this kit.
</p>
<p>
    The exterior was painted with Tamiya {{f.txf('83')}} Medium Sea Gray 2 (RAF) on the
    bottom and {{f.txf('82')}} Ocean Gray 2 (RAF) and {{f.txf('81')}} Dark Green 2 (RAF) on the top.
    (I find it interesting that Tamiya uses the American spelling of "gray" rather than the
    British spelling for these colors.)  I hand masked the spinner to get the white and red.
    It wasn't perfect but doesn't look too bad.  The Hasegawa instructions showed no Sky band
    on the fuselage, and no yellow on the wing leading edges, so I didn't have to paint those.
    The dark green camouflage was freehanded.
</p>
<p>
  The decals went on with any major issues using just Microset.  I did have to apply some
  {{f.nowrap('Mr. Mark')}} Softener on the insignias on the bottom of the wings, since
  there are major bumps on the bottom of Spitfire wings.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
