---
layout: build.njk
kit: TAM61086
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    My modeling mojo was down, as a result of several FUBARed kits in a row, so
    I reached for something that I had a reasonable chance of completing successfully.
    I had three of these in the stash, so I thought I might as well build one.
</p>
<p>
    It went together pretty easily, especially as I have built several of these - some
    Razorbacks and some Bubbletops - before.  I did use a hot knife to separate the
    seat frame from the sprue, as I have learned that that piece breaks easily if you
    try to cut it off with normal sprue cutters.  I decided to try something different
    on this build, namely putting the flaps in the lowered position.  This actually made
    painting harder, as I had to paint them separate.  Also, the fit wasn't as simple
    as when they are raised.  Based on a post I read somewhere, the flaps were nearly
    always raised when the plane was on the ground, so it isn't really realistic
    either.  Future builds will have them raised.
</p>
<p>
    I also wanted to try AMMO by Mig paints on this build.  I had purchased some from
    {{f.linkTo('Sprue Brothers','https://spruebrothers.com/')}} and thought
    this would be a good test subject.  Also, we had a major heat spell here in
    Southern California in August, so I purchased a spray booth and put it in my
    hobby room.  Before I had to spray in the garage.  However, I only spray alcohol or
    water based paint in the house, and Tamiya and AMMO fall into those categories.
  </p>
  <p>
    I found a subject on Lifelike decals
    {{f.nowrap('48-024')}} to use.  The colors were standard Olive Drab over Neutral Gray,
    but the cowling ring was Sky, rather than white.  (The decal instructions call for
    Duck Egg Green, which I assume is Sky.)  After priming with {{f.nowrap('Mr. Surfacer')}}
    1200, I used {{f.txf('21')}} for the Sky, and AMMO 0239 Neutral Gray for the bottom
    and 0237 FS23070 USAAF Olive Drab for the top.  The decal sheet shows darker areas on
    the fin and horizontal stabilizers where the recognition stripes were over-painted,
    but I didn't try to replicate that.
</p>
<p>
    Future was used for a pre-decal gloss coat.  Most of the decals came from the kit,
    and went on fine.  The only decals from the Lifelike set are the squadron codes,
    the serial numbers, the nose art, and the two decals under the port cockpit window.
    The kit decals went on fine with Microset.  I had used Lifelike decals once before, and
    I remembered I did not have a good experience, but I couldn't remember exactly what I
    didn't like.  The decals are very thin, and very difficult to move once they're on the
    kit.  Also, the serial number on the right side folded over onto itself, and, try as I
    might, I could not get it unfolded.
</p>
<p>
    Future was used for the post-decal gloss coat as well.  I used a fresh mixture of
    Future and Tamiya {{f.tx('21')}} Flat Base mixed 4:1, and that worked very well.
    I sprayed both the Future and the flat coat with a syphon feed airbrush.  The last bit
    to attach was the rear view mirrow, which flew out of my tweezers into the carpet monster's
    mouth, I left it off.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
