---
layout: build.njk
kit: HAS09012
---
{% import "layouts/macros.njk" as m %}
<p>
    After using my spray booth on my
    {{ 'previous build' | linkTo('../0901/') | safe }},
    I decided to try painting a model
    with nothing but alcohol or water based paint.
</p>
<p>
    There was nothing special, either very good or very bad, about assembly.  I did
    have to putty a couple of spots, such as the cowling, but at this point I pretty
    much expect that with every build.  When it came time to prime, I had a dilemma.
    I wanted to use a water based primer, but they often don't stick to plastic that
    well, and I knew I would need to mask this kit.  I have some Badger Stynylrez
    primer, which has a reputation of adhering well.  While perusing
    {{ 'YouTube' | linkTo('https://www.youtube.com/') | safe }} for advice on
    using Stynylrez, I came across a user comment that mentioned using a mixture
    of Future and craft paint as a primer, so I decided to try that.  I mixed some
    Future with some Liquitex Soft Body acrylic paint (Neutral Gray Value 5).  Even
    though the paint is called Soft Body, it is still rather thick, about the
    consistency of mayonnaise, so I used about two parts Future to one part paint.
    It sprayed well.  I let it dry overnight.
</p>
<p>
    After using AMMO paints on my previous build, I decided to try Vallejo on this
    one.  However, I didn't have any Vallejo {{'04'|rlm|safe}}, so I used AMMO for
    that.  The {{'74'|rlm|safe}}, {{'75'|rlm|safe}} and {{'76'|rlm|safe}} were
    Vallejo Model Air.  Although they sprayed fine, I wasn't too thrilled with the
    actual color - I think there should be a bit more contrast betwee the 74 and the 75.
    I used a {{ 'Montex' | linkTo('http://www.montex-mask.com/en/home') | safe }} mask,
    number 48018.  It fit well, but did not stick on the rear
    section, so there was a bit of overspray.
  </p>
  <p>
    Nothing on the kit decal sheet - which is extensive - appealed to me, so I used
    Yellow 9 from EagleCals 65.  I used Future both before and after decals, and a
    mix of Future with Tamiya Flat Base for the final flat coat.  I was rather
    pleased with the way the canopy fit, as I often have trouble with that.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
