---
layout: build.njk
kit: HAS09424
---
{% import "layouts/macros.njk" as m %}
<p>
    Another kit built using water based paint, this time AMMO by Mig.  I picked
    up this kit secondhand.  It had no instructions and no decals, and the J sprue
    was missing.  This is the sprue that has the IXe cannon bay covers.  I picked
    up a set of {{ 'Ultracast' | linkTo('https://www.ultracast.ca/Default.asp') | safe }}
    covers, part number 48092.  As it happens, I had a second copy of the kit that
    had the instructions and decals.
</p>
<p>
    I always seem to have trouble with these Hasegawa Spitfires, although they
    are much easier than the Eduard kits (but not as detailed or as accurate).
    I started this kit earlier this year, and got frustrated with it.  I came
    back to it after being frustrated with an Eduard Spitfire.
</p>
<p>
    The kit was primed with Mr. Surfacer 1200.
    As mentioned, I used AMMO paints on this: 0246 is Medium Sea Grey and 0245 is
    Ocean Grey.  The camouflage was freehanded.
    For the green, I used 0915, which is labeled Dark Green (BS 241).
    I used this because the AMMO cross reference chart showed this as equivalent to
    Tamiya {{'81'|txf|safe}}, which is RAF Dark Green.  I'm not nearly as particular about
    color as many modelers, but even I could see it was off.  It was very green, not olive
    at all, and not as dark as it should have been.  I should have used 0206, which is
    labeled {{'BS 641'|nowrap|safe}} and equivalent to FS34079 and {{'81'|rlm|safe}}.
    I will have to pick up a bottle of that for my next RAF build.
  </p>
  <p>
    I had originally planned to use the decals from the Eduard Weekend Edition of
    this subject, which I had FUBARed, so I built this kit with clipped wings and
    pointed rudder.  This was done
    before the kit got put on the shelf of doom.  Between then and now, I actually
    finished the Eduard Weekend Edition (a second copy), and had used the kit decals
    on it.  So I went searching for different decals.  I have several aftermarket
    sheets that include an IXe, but the ones that looked interesting did not have
    the clipped wings.  So I ended up using one of the options on the decals from
    my second copy of this kit.  I had to use the Canadian subject, due to the wingtips.
    One nice thing is the Canadian plane does not have the Sky band on the fuselage
    or the yellow on the wing edges.  I dislike painting the yellow, so that was
    convenient.
  </p>
  <p>
    I used Future both before and after decals, and a
    mix of Future with Tamiya Flat Base for the final flat coat.  For the first time,
    I tried using Tamiya Mark Fit (regular strength) as a decal setting solution.
    You use this both under and over the decals.  It did soften the decals, but
    also wrinkled them.  I'm not sure if I'll try it again.
  </p>
  <p>
    As is often the case - I'm tempted to say usually - I had trouble even after
    applying the decals.  The cover on the left landing gear strut had fallen off
    before, and it came off again after I had attached the gear to the wing.  I
    used epoxy to attach it this time.  I didn't try to glue on the upward
    identification lamp, part M7. I just put a glob of clear Elmer's glue there.
    The canopy did not fit.  I'm not sure what I screwed up there.  To add insult
    to injury, after I took the photos below, I put the model on the shelf, and
    broke off part of the antenna mast as I was setting it down.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
{{ m.buildPhotoLink(path, 4) }}
