---
layout: build.njk
kit: TAM35170
---
{% import "layouts/macros.njk" as m %}
<p>
  After looking at my stack of unbuilt armor kits, I decided it was time to tackle one.
  I've always liked the look of the Panther, and I had three Tamiyas (early, late, steel
  wheel) in the stash, as well as a few others, so I chose this one.
</p>
<p>
  The wheels were first, and were rather laborious.  I primed, then painted the yellow
  base, using Tamiya {{'60'|txf|safe}} Dark Yellow.  I tried airbrushing AMMO 0002
  RAL6003 Olivgrun 2 and AMMO 0015 RAL8017 Schokobraun, but it did not turn out that
  well, so I went over it with a microbrush.  I then painted the tires by hand, using
  a fine black marker to "paint" the area next to the wheel.
</p>
<p>
  As is typical of Tamiya, the kit went together very well.  I painted the tools before
  attaching them to the hull, but after attaching them, I realized it would have been
  easier to paint them after attaching them.  I used AMMO 0191 Steel for the tools, but
  it was much brighter than I expected - almost silver.  It did brush well though.
</p>
<p>
  As with the wheels, I used a microbrush to apply the green and brown over the
  base yellow.  My patterns aren't quite realistic, as they are splotchy rather
  than the streaks (for want of a better term) on the real thing.
</p>
<p>
  I used Future both before and after decals, and a
  mix of Future with Tamiya Flat Base for the final flat coat.  I tried applying
  an acrylic wash, which didn't really seem to have any effect.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
