---
layout: build.njk
kit: TAM35251
---
{% import "layouts/macros.njk" as m %}
<p>
  I've tried to build Tamiya's regular M4A3 Sherman, kit 35250, twice at FUBARed
  it both times.  I decided to try this one, which turned out quite nicely.
</p>
<p>
  Assembly was straightforward.  Painting the tires was a pain, as it always is
  on armor kits.  I decided to do take a little different approach on this build,
  so I attached all the tools before painting.  Previously, I'd always painted the
  tools separately and then attached them.  Painting them after attaching them was
  easier than I thought it would be, so I will continue to do that.  I also attached
  a lot of baggage on this build.
</p>
<p>
  The exterior was painted with a mix I made to represent US armor.  It is a mix of
  Tamiya {{'62'|txf|safe}} Olive Drab and {{'57'|txf|safe}} Buff, but I did not note
  the ratio.  I actually think it is a bit too light.
</p>
<p>
  Although the build turned out well, there were a couple of hiccups.  This is a small
  trough (for want of a better term) on each side of the rear of the turret.  The one
  on the left fell off just before decaling.  I had attached it with regular model
  cement, perhaps I should have used superglue.  Also, the serial number decal on
  the left rear came off after applying it.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
