{% extends "layout.njk" %}

{% block body %}
{% import "filters.njk" as f %}
  {% include "partials/navbar.njk" %}

  {# This is where we put build-specific stuff. #}
  <div class="build-title-div">
    <h1 class="build-title">{{ title  | safe }}</h1>
  </div>
  {% if scalematesUrl %}
  <div class="build-scalemates-div">
    {{f.linkTo('scalemates.com link',scalematesUrl)}}
  </div>
  {% endif %}
  {% if boxartUrl %}
  <p>
    <img class="boxart" src="{{ boxartUrl }}" alt="boxart">
  </p>
  {% endif %}
  {{ contents | safe }}
  <div class="row-parent">
    <div class="tl column-25">
      {% if previousUrl %}
        {{f.linkTo('Previous',previousUrl)}}
      {% endif %}
    </div>
    <div class="tc column-50">
      Build completed {{ completionDate }}.
    </div>
    <div class="tr column-25">
      {% if nextUrl %}
        {{f.linkTo('Next',nextUrl)}}
      {% endif %}
    </div>
  </div>
{% endblock %}
