{% extends "layout.njk" %}
{% import "macros.njk" as m %}

{% block body %}
  {% include "partials/navbar.njk" %}

  {# This is where we put build-specific stuff. #}
  <div class="build-title-div">
    <h1 class="build-title">{{ title }}</h1>
  </div>
  {% if scalematesUrl %}
  <div class="build-scalemates-div">
    {{ m.linkTo('scalemates.com link', scalematesUrl) }}
  </div>
  {% endif %}
  {% if boxartUrl %}
  <p>
    <img class="boxart" src="{{ boxartUrl }}" alt="boxart">
  </p>
  {% endif %}
  {{ contents | safe }}
  <p>
    Build completed {{ completionDate }}.
  </p>
{% endblock %}
