
{% macro buildPhotoLink(path, number) %}
  {% set imagePath = path.slice(7, 16) + "-" + number + "-1000.jpg" %}
  {% set url = "https://d1dems3vhrlf9r.cloudfront.net/images/builds/" + imagePath %}
  <p>
    <img src={{url}} class="build-photo">
  </p>
{% endmacro %}
