
{% macro linkTo(label, url) %}
  <a href="{{ url }}">{{ label }}</a>
{% endmacro %}

{# This macro exists because Nunjucks adds a newline after each
   macro call.  This macro was created to output a link without any
   whitespace between the following text (suffix).  The suffix is
   usually a period or comma, but can be anything. #}
{% macro linkTo2(label, url, suffix) %}
  <a href="{{ url }}">{{ label }}</a>{{ suffix }}
{% endmacro %}

{% macro rlm(color) %}
  RLM&nbsp;{{ color }}
{% endmacro %}

{% macro txf(color) %}
  <span style="white-space: nowrap">XF-{{ color }}</span>
{% endmacro %}

{% macro tx(color) %}
  <span style="white-space: nowrap">X-{{ color }}</span>
{% endmacro %}

{% macro mrcolor(color) %}
  Mr.&nbsp;Color&nbsp;<span style=\"white-space: nowrap\">C-{{ color }}</span>
{% endmacro %}

{% macro buildPhotoLink(path, number) %}
  {% set imagePath = path.slice(7, 16) + "-" + number + "-1000.jpg" %}
  {% set url = "https://d1dems3vhrlf9r.cloudfront.net/images/builds/" + imagePath %}
  <p>
    <img src={{url}} class="build-photo">
  </p>
{% endmacro %}
