---
layout: build.njk
kit: MONOPA90
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	When I decided to get back into modeling, I visited a local shop to
	pick up a kit and supplies.  When I walked in, I saw a couple of tables
	covered with old models.  The owner told me they were from an estate sale.
	Browsing through them, what should I see but the old Monogram Hawker
	Hurricane in the original blue box.  I must have built this kit four or five
	times when I was young.  I bought two of them.
</p>
<p>
	Unfortunately, I messed up the first one.  When I started the second one, I found
	that the landing gears struts were missing.  I wish I had known that before I
	threw out the first one!  I posted a message on the "Buy and Sell" forum at
	the {{f.linkTo('Aircraft Resource Center','http://www.arcair.com')}},
	and within a
	couple of hours a gentleman in Florida said he had what I needed.  Thanks, Larry!
</p>
<p>
	The kit brought back a lot of fond memories, but in fact it is not a very
	detailed kit.  I decided to make the "Last of the Many" version, serial number PZ865.  That also had
	the advantage of minimizing the number of decals, since that version didn't have
	any squadron markings.  The instructions said that PZ865 didn't carry any armament, but
	there is a photo in the Squadron publication that shows the same 20mm cannon in the wings
	that all the other IIc's had.  I didn't realize this until after I had cut off the cannon
	and filled in the holes.
</p>
<p>
	I used Model Master enamels on this plane, Sea Grey Medium on the bottom and
	Ocean Gray / Dark Green on the top.  I used masking tape to get the hard edge on the
	upper surfaces.  This was my first attempt at a hard edge that was curved.
	(The Me163 also had hard edges, but they were straight - much easier!)
</p>
<p>
	However, after I had finished the camouflage, I purchased an Iwata Revolution gravity-feed
	airbrush.  That, plus the use of Tamiya thinner, allowed me to use acrylics for the
	fuselage band and the spinner and prop blades.  The tips of the prop blades and the edges
	of the wings are Tamiya flat yellow.
</p>
<p>
	I picked up some Techmod decals, since I figured the original decals wouldn't be
	in great shape.  Unfortunately, the roundels for the upper wings on the aftermarket set
	were too large, so I had to use the kit decals.  It took some effort.  The serial numbers
	and the "Last of the Many" labels are also from the original kit.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
