---
layout: build.njk
kit: OT205
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	One of the first kits I picked up was the Otaki Spitfire.  It didn't make it past
	the painting stage, but it was quite a good kit, with good fit and a reasonable
	amount of detail.  I decided to pick up some other Otaki kits.  (Note that these
	kits were also boxed under the Arii brand.  The Arii box art is shown.  It is
	indentical to the Otaki except for the brand name.)
</p>
<p>
	This Oscar went together pretty well, but I had to sand the cowling to get it to
	fit over the engine.  That could have been due to my skill, or lack thereof.
</p>
<p>
	The decals were not in great shape, plus they only included one version, even
	though the box showed three options.  I learned that finding aftermarket decals for
	Japanese aircraft is not easy (the exception might be the Frank).  I did find one
	Aeromaster set (48-381, "Ki-43 IJAAF Falcons") that fit the bill and ordered it
	from {{f.linkTo('Squadron','http://www.squadron.com')}}.
	I then learned they were out of stock,
	and that set was no longer being made.  I eventually ordered it from
	Sandle Hobbies in Australia (now defunct).  The decals
	cost me about $11, but the phone call to order them cost about $13.
</p>
<p>
	I chose aircraft 1 on the decal sheet, partially because the paint scheme seemed
	simplest.  I used a custom mix for the gray-green underside, about 4 parts flat white
	to 1 part RAF interior green.  I have since learned that Tamiya now makes the gray-green.
	I used IJN green, which was gloss, for the top.  Looking back at this many years later,
	I should have used IJA green, since the Oscar is an Army aircraft.
</p>
<p>
	I bought an aftermarket vacuform canopy.  It turned out okay, but I forgot to apply
	a coat of clear flat after painting it.  That means the canopy is gloss while the rest
	of the plane is flat.
</p>
<p>
	According to the Aeromaster decal sheet, this plane was flown by 1st Lt. Saburo Nakamura,
	2nd Chutai leader of the 64th Hiko-Sentai in Burma in Febrary of 1942.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
