---
layout: build.njk
kit: REV5225
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	Here is Revell's Me109G.
	{{f.linkTo('Scalemates','https://www.scalemates.com/')}} shows this
	as being a Monogram kit.
</p>
<p>
	This was my first attempt at mottling.  I don't think it came out too well.
	Hopefully, I'll do better next time.
</p>
<p>
	I was rather pleased with the way the decals went on.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
