---
layout: build.njk
kit: OT224
---
{% import "layouts/macros.njk" as m %}
<p>
	This is the old Otaki/Arii Spitfire.  I did this in the RAAF markings of Clive Caldwell.
</p>
<p>
	The decals went on horribly.  Also, I can't remember how many things I screwed up on this kit.
</p>
<p>
	Edit: Looking at this several years later (May 2015), I note that the fuselage band
	and spinner are Sky.  They should be white, to match the leading edge of the wings.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
