---
layout: build.njk
kit: OT225
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	Here is Otaki's Me109G. (The box art image is from the Arii boxing of this kit.)
	I have a whole bunch of these in my stash, courtesy of a bundle I bought from another modeler.
</p>
<p>
	It is finished in the common {{f.rlm('74/75/76')}} scheme. The
	{{f.rlm('76')}} is Model Master Enamel; the 75 and 74 are Polly Scale acrylics.
	I used Liquitex airbrush medium to thin the Polly Scale, which worked very well.
	For a flat coat, I used Future mixed with Tamiya Flat Base, about 70/30. This
	also worked well.
</p>
<p>
	I used CA in a couple of places. This was my first experience using CA, as I am
	very clumsy and have been paranoid about gluing my fingers together (which,
	from what I've read, is not unheard of). It worked well, and I will be using
	more in the future.
</p>
<p>
	After my experience with the Spitfire decals, I decided to use Eagle Cal decals
	number EC28 instead of the kit decals. They went on very well. I discovered
	there was some silvering on the fuselage. I am thinking that I need to figure
	out a way to hold the model so that the fuselage is horizontal when appying
	decals to it. I was going to put on the swastikas on the tail, but that meant
	putting one decal on top of another. Like an idiot, I tried to do this while
	the bottom decal was still wet. I will know better in the future. Also, the
	number of stencils was overwhelming. I will save them for a better kit.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
