---
layout: build.njk
kit: OT214
---
{% import "layouts/macros.njk" as m %}
<p>
	Another build that I did not document.  The NMF is a little dull, but otherwise
	OK.  The decals seem to have gone on pretty well (by my standards).
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
