---
layout: build.njk
kit: OT227
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
	Another build that I did not document.  I think the Sea Blue is Tamiya
	{{f.txf('17')}} Sea Blue, but I'm not sure about the other colors.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
