---
layout: build.njk
kit: REV04164
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is Revell's Spitfire Mk Vb, kit 04164.
</p>
<p>
    I started this kit some time ago (a couple of years). I had done most of the
    building, but had been frustrated by the fact that some putty was needed.
    The kit did not go together well where the rear of the wing meets the back
    of the fuselage. I don't know if it was the kit or me who was at fault.
    I have the ProModeller boxing of the same kit, so perhaps I'll find out one day.
</p>
<p>
    The main paints were WEM enamels, thinned with lacquer thinner. They went on well.
    I also had to touch up a couple of areas (the pitot tube and cannon broke off),
    and was pleasantly surprised to find out the brush-painted area matched
    the airbrushed area very closely.
</p>
<p>
    I used liquid mask for the camo. It worked pretty well, but I had a tough time
    trying to get some of it off.
</p>
<p>
    Decals are from the kit and represent the plane flown by S/L Jeff Northcott
    of the 402 Squadron stationed at Duxford in 1943. Obviously, my decalling
    skills need work.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
