---
layout: build.njk
kit: HAS09728
---
{% import "layouts/macros.njk" as m %}
<p>
    This is Hasegawa's Ki43-II Hayabusa, kit 09728.
</p>
<p>
  I've done three Oscars, first the Otaki and then two Hasegawas, and had issues with all of
  them.  I had a lot of trouble with the landing gear on this one.  Although it doesn't show
  in the photos, the landing gear covers are severely misaligned.  One is up against the
  bottom of the wing; the other is about an eighth of an inch below the wing.
</p>
<p>
  Also, when I attempted to apply the first decal, a hinomaru on the botton of the wing, I
  realized the decals were too thick and were not going to go on well.  I found a set from
  Aeromasters 48-011 Ki-43 Hayabusas that matched the painting I had already done, since I
  didn't want to repaint anything.  There were only six decals to apply, which I appreciated,
  as I don't enjoy decalling.
</p>
<p>
  The main color is Testors Silver from their automotive lacquer line.  I primed with Winter Gray
  from Painters Touch, purchased at Home Depot.  I did not have to apply a gloss coat prior to
  decalling, which was also nice, since I don't get great results with Future.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
