---
layout: build.njk
kit: REV04165
---
{% import "layouts/macros.njk" as m %}
<p>
    This is Revell's Fw90A-8, kit 04165.
</p>
<p>
  This kit can be built as either a straight A-8 or as an A-8/R-11.  I chose the former.
  The A-8 in the kit was RLM 76 all over.  I used decals from Eagle Strike 72053, which I
  painted in a typical 76/75/74 scheme.  I think the 74 was actually supposed to be 83.
  I didn't bother with the stencils, except on the drop tank.
</p>
<p>
  Model Master enamels were used.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
