---
layout: build.njk
kit: ACA2133
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is Academy's Bf109E, kit 2133.
</p>
<p>
    I built this kit as an E-4 (it can also be built as an E-3). The reason for that
    is that I had aftermarket decals for an E-4, and I knew from experience I did not
    want to use the kit decals. I used decals from Third Group 72-005. The decals worked
    very well. I did not put on any stencils. I hate applying decals in general,
    and in 1/72 scale the stencils are difficult to see anyway.
</p>
<p>
    I did screw up in a couple of places. I forgot to put the armored headrest in.
    I also did not get the antenna right - it sticks out a little more than it should,
    although I don't think you can tell by the photos. The canopy was not wide enough,
    but that could have been my assembly of the fuselage. I also broke one of the
    hozizontal stabilizer struts, so I used Evergreen strips, epoxied in.
</p>
<p>
    Tamiya paints were used. I used {{ mymacros.txf('23') }} Light Blue for the {{ mymacros.rlm('65') }}, a custom mix
    of roughly 50/50 {{ mymacros.txf('2') }} Flat White and {{ mymacros.txf('22') }} RLM Grey for the {{ mymacros.rlm('02') }},
    and {{ mymacros.txf('13') }} JA Green for the {{ mymacros.rlm('71') }}. The JA Green looked a little too dark at
    first, but I was happy with the end result. I did the mottling by hand,
    but I thought it came out pretty good.
</p>
<p>
    I used Krylon Fusion Dover White Satin for the primer. It worked okay,
    but I still need to find a primer I'm happy with.
</p>
<p>
    I used Eduard masks, which fit much better than on previous models.
</p>
<p>
    For the clear coats, I used First-Step varnishes. I thinned the gloss with
    windshield washer fluid and the flat with Testors Acryl thinner. I thought
    the Acryl thinner worked a little better, but the gloss turned out very well.
    I had no trouble putting on the decals using Microset.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
