---
layout: build.njk
kit: TAM61042
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is Tamiya's 1/48 North American P-51B, kit 61042.
</p>
<p>
    Built out of the box. Although reviews on the web seem to indicate that
    this kit is a true shake-and-bake, I had some fit issues. I had a devil
    of a time getting the bottom wing half to fit (this kit has you glue the
    bottom of the wing to the fuselage, and then glue the tops of the wings on).
    At the end of the kit, I had trouble with the drop tanks, the light cover
    on the wing, and the canopy. I think the canopy fit is bad because the
    gunsight is not seated all the way down.
</p>
<p>
    I used Krylon Flat White for the primer. I was not pleased, as the texture
    was very rough. The search for a good primer continues. Tamiya acrylics were
    used for the exterior. {{ mymacros.txf('62') }} Olive Drab was used for the olive drab. I used
    {{ mymacros.txf('66') }} Light Grey for the bottom. I was going to use {{ mymacros.txf('53') }} Neutral Grey, but it
    looked too dark. Even the Light Grey was much darker than I would have preferred.
    Also, the red on the spinner is lighter than the red on the nose. This is
    because the nose was painted over the Light Grey, whereas the spinner was
    painted over white. In the future, I must remember to use the same primer
    for red.
</p>
<p>
    Decals are from the kit. They went on reasonably well, given the roughness
    of the paint, even after a couple of coats of clear gloss. I put the stencils
    on the prop blades (first time I've done that). I also added an antenna made
    of thread. It isn't quite as taut as I'd like, but it's okay for a first try.
    One of my resolutions on ARC was to add an antenna to a model this year, so
    I'm glad I got that out of the way!
</p>
<p>
    I used EZ Masks, which fit well.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
