---
layout: build.njk
kit: HAS00621
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is Hasegawa's 1/72 Kawasaki Ki61-I Tei HIEN, Allied code name Tony, kit number 00621.
    The same plastic, with different decals, is available as kit A003. The instructions
    that came with this kit say A003, but there is a supplemental sheet showing the
    painting and decal placement.
</p>
<p>
    Built out of the box. I pretty much built this to try a different primer. I used
    Ace Hardware white primer in a rattle can. It worked quite well. I did learn that
    two coats of primer make for a smoother finish. I originally gave it one coat of
    primer, then painted the yellow IFF bands on the front of the wings. I used
    Floquil Reefer Yellow for the bands, since it has a slight orange tint to it.
    I masked the yellow, and then gave it another coat of primer, out of fear that
    the yellow overspray would show through. The areas that got a second coat
    of primer came out better.
</p>
<p>
    The bottom was painted Floquil Old Silver, a railroad paint. I've had trouble with
    this paint not sticking, so I added some glaze (which is effectively binder).
    The silver did not come up with Tamiya masking tape, although it did come up with
    generic blue masking tape.
</p>
<p>
    I did not want to mask such a small canopy, so I painted the frames in about six steps,
    first doing the horizontal frames, then the vertical, and so forth. It came out okay,
    but this technique prevented me from covering it with a flat coat, so the frames
    don't match the body of the plane. Also, I used generic green masking tape, and the
    edge did not turn out as sharp as I would have preferred, although the tape worked well
    in all other respects. The green was Model Master enamel JA Green. It went on well,
    but the bottle dried out by the time I was finished.
</p>
<p>
    The orange for the drop tanks was Floquil Reefer Yellow, with a touch of Floquil Signal
    Red added. I later realized the tanks are supposed to be the same color as the IFF bands,
    so I should have used straight Reefer Yellow. Also, I had used a dark gray primer on the
    tanks, so they turned out a little darker than I would have liked.
</p>
<p>
    Pre-decal clear coat was Right Step gloss clear, which worked well. Decals are from
    the kit. They went on well. I did not use any of the stencils, as I hate decaling and
    they really aren't noticeable in 1/72 scale. Flat coat was Right Step matte clear,
    which worked as well as the gloss.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
