---
layout: build.njk
kit: TAM61027
---
{% import "layouts/macros.njk" as m %}
<p>
  This is Tamiya's old A6M5c, kit number 61027.  I believe it was originally released in the 1970's.
</p>
<p>
  Built out of the box.  I wanted to get something done rather quickly, and this fit the bill.
  I used Ace primer on it, but it did not work as well as it did on the
  {{ 'Hasegawa Hien' | linkTo('../0901/') | safe }}.
  The paint turned out rather rough, and it took
  several coats to cover.  It looked splotchy, as if the primer absorbed some of the top coat.
  Nearly all paints were Tamiya.  I did use Floquil Reefer Yellow for the bands on the wings.
  I painted them first, then masked, then painted the bottom IJN Gray and the top IJN Green.
  I used Semi-Gloss Black for the cowling.
</p>
<p>
  I was rather pleased with the landing gear, as I often have trouble, especially with the A6M.
  I epoxied the wheel to the strut, then the strut to the cover, then the top piece to the strut,
  then the strut inside the wheel.  Unfortunately, I did not get the inner doors quite right.
</p>
<p>
  I started to use an old Black Magic mask for the canopy, but the mask was quite thick and
  would not stay down on the curved surface.  I ended up using the mask as a pattern to cut
  out masking tape, which I then used.
</p>
<p>
  The antenna is thread.  This is only my second attempt at adding an antenna, the first
  being my {{ 'Tamiya P-51B' | linkTo('../0702/') | safe }}.  It turned out
  much better this time.  I drilled a small hole at the top of the rudder, and then enlarged
  it using a heated pin.  I epoxied one end of the thread to the rudder.  When that was dry,
  I then pulled the thread to the mast over the cockpit and wrapped it around the mast.
  While holding that with one hand, I applied a touch of CA, waited a few seconds, and I
  was done.
</p>
<p>
  Pre-decal clear coat was Right Step gloss clear, which worked well.  Decals are
  from the kit.  They went on well.
  Flat coat was Right Step matte clear, which worked as well as the gloss.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
