---
layout: build.njk
kit: TAM35142
---
{% import "layouts/macros.njk" as m %}
<p>
    Here's another old Tamiya kit, the KV-1B. One of my modeling goals for this year
    was to complete at least one piece of Soviet armor. This is the second time I've
    tried to complete this kit. In addition to messing up my first attempt at one
    of these, I also managed to FUBAR a Dragon SU-100.
</p>
<p>
    Like the {{ 'Tamiya A6M5c' | linkTo('../1101/') | safe }}, this was built out of the box.
    Also like the A6M5c,
    I used Ace primer on it, and had the same problem with the top coat being
    absorbed by the primer. I ended up using Rustoleum Satin Spruce Green enamel
    as my top coat. It went on rather thick, but the color was exactly what I was
    looking for - something like a darker version of RAF interior gray-green.
    It did dry glossy enough for me to decal without applying a gloss coat.
    I used Krylon Satin Black Fusion for the tracks. It worked well, but chipped
    just a bit when I was putting the tracks on. The only other colors were
    Model Master Metallizer Burnt Iron for the exhaust, Metallizer Gun Metal
    for the machine guns, and silver for the lamp.
</p>
<p>
    This is only my second armor kit, and tried to weather it. I put a wash of
    Burnt Sienna over the top. The wash was a bit too thick, so there is a bit
    more Burnt Sienna than I would have liked. I then tried to dry-brush using
    a light grey. That turned out horribly. I don't know whether it was the paint,
    which was a craft paint, or the brush, which was a Micro-Mark drybrush.
    I will not use that combination again. I then applied some pastel dust,
    which was easier than I thought it would be..
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
