---
layout: build.njk
kit: TAM61035
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    Here is my second Tamiya Spitfire Mk Vb Trop, kit 61035.  The first time I completed
    this kit, it was done as an RAF plane in tropical camouflage.  Since all the schemes
    included with the kit are in that same scheme, I decided to use aftermarket decals
    this time.  I used TigerHead decals 'Spitfires and Wurgers of the Turkish Air Force'
    (decal set 48008).
</p>
<p>
    As with {{ mymacros.linkTo('the previous build', '../2010/0801/') }}, I used a
    50/50 mix of Model Master Enamel Flat White and Azure Blue for the bottom.
    In an interesting twist on my previous build of this kit, I attempted to use Model
    Master Enamel for the Middlestone, but it went on badly.  So I lightly sanded it,
    and then used a Tamiya mix, which worked better.  I then used another Tamiya mix
    for the Dark Earth.
</p>
<p>
    Again, the upper camouflage was masked using masking tape, cut to the pattern that Tamiya provides in
    the box.  Again, it worked reasonably well, but (again) was somewhat of a pain.
</p>
<p>
    I used Polly Scale Pacemaker Red for the spinner, the rudder and the small areas
    covering the wing machine guns.  I intended it to be a match for the red used
    in RAF roundels, and it's pretty close.  However, I think the red on the rudder
    should have been lighter, and it should match the insignia on the bottoms of the
    wings.  Also, I painted over the camouflage on the rudder - I should have either
    painted the red first, or shot a coat of light grey over the rudder before painting
    the red.
</p>
<p>
    As I mentioned, the decals are from
    {{ mymacros.linkTo('TigerHead decals', 'http://www.tigerheaddecals.com/148-decal-sheets') }}.
    The decals were quite thin, but not so thin as to be fragile.  However, I had a devil
    of a time making the insignia on the bottom of the wings to conform to the surface.
    I was lucky in that those were the only insignia on the aircraft, and the other
    decals went over relatively flat surfaces.  After the struggle with the insignia,
    I decided to forgo applying the stencils (especially since I don't enjoy applying
    decals!).
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
