---
layout: build.njk
kit: TAM61086
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    This is Tamiya's 1/48 P-47D Razorback, kit 61086.  This is the second time I've attempted
    to build this kit.  The first attempt ended up FUBAR, and this one almost met
    the same fate.  It went together well, as Tamiya kits usually do, but I messed
    up the cowling assembly.  When I inserted the B19/B40 vent assembly, I did not
    push it all the way to the front of the cowling.  When I tried to insert the
    engine, it did not fit.  At that point I put the kit aside, and figured I would
    have to make a third attempt.  However, after a few weeks, I decided I had
    nothing to lose by trying to remove the vent.  I was able to do that, and then
    re-glued it properly.  After that, it was pretty smooth sailing.
</p>
<p>
    The cockpit was painted Tamiya XF-36 Deep Green, and I used Tamiya XF-4 Yellow Green
    for the Yellow Zinc Chromate areas.  The engine was Tamiya XF-56 Metallic Gray
    and the crankcase was Tamiya XF-53 Neutral Gray.  The red step on the wing was
    Tamiya XF-7 Flat Red.  I'm not sure painting the steps was a good idea - the
    decal of the stencil has the red on it, so my build does not have any writing
    on the step.
</p>
<p>
    I used Brite Touch light gray primer in a rattle can that I bought at Pep Boys
    as a primer.  It worked quite well.  The yellow around the cowling and on the
    rudder is Tamiya Flat Yellow.  The underside is Mr. Color C&#8209;13 Neutral Gray and
    the top is Mr. Color C-12 Olive Drab (1).
</p>
<p>
    The landing gear, spinner and drop tank are Testor's Silver Lacquer 28003.  The prop
    blades were Gaia 012 Flat Black.  The tires are Tamiya XF-85 Rubber Black, which
    is quite convincing.  The guns are Mr. Color C-28 Steel.
</p>
<p>
    When I was going through my decal stash to find a set of decals for my
    {{ mymacros.linkTo('previous build', '0401/') }},
    I found that I had the same subject in 1/48, on Aeromaster 48-659,
    so that's what I decided to use.  The decal notes mention that the rudder
    was painted yellow at some point, so I did.  Interestingly, the Aeromaster
    notes showed the area underneath the horizontal stabilizers are olive drab,
    so that's how I painted it.  That fact that it was easier to do it this way
    was icing on the cake.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
