---
layout: build.njk
kit: HAS09147
---
{% import "layouts/macros.njk" as m %}
<p>
    Here is my second Hasegawa Bf 109G-6, although the first of this boxing.  I
    originally chose this kit to use some aftermarket decals for Eric Hartmann,
    but I decided to use the kit decals instead and use this as an experiment
    in mottling.
</p>
<p>
    I used Model Master Enamel Engine Gray for the cockpit, and my trusty
    Tamiya mix for the {{'02'|rlm|safe}}.  I first painted the spinner and propellor blades
    with Tamiya {{'27'|txf|safe}} Black Green, but, as in the past, it really did not adhere
    that well.  I always have trouble with that Tamiya color.  I ended up digging
    a spare prop assembly from the spares box and using {{'18'|mrcolor|safe}} {{'70'|rlm|safe}}
    Black Green.  It worked much better.  The tires were Tamiya {{'85'|txf|safe}} Rubber
    Black.  This color is excellent for tires.
</p>
<p>
    I used Tamiya light gray primer from the 40 ml bottle.  The white around
    the tail was Tamiya {{'2'|txf|safe}} Flat White.  The bottom was {{'117'|mrcolor|safe}}
    {{'76'|rlm|safe}}, and the top was painted Mr. Hobby Color
    {{'H-69'|nowrap|safe}} {{'75'|rlm|safe}} and
    {{'H-68'|nowrap|safe}} {{'74'|rlm|safe}}.
</p>
<p>
    The first round of mottling was done by using a hobby knife to punch a few
    random holes in a piece of index card, and then positioning that over the
    fuselage.  I also tried punch some holes in masking tape the same way and
    just applying the tape to the fuselage.  These worked okay, but I realized
    the kit needed more, so I applied some by hand.  I found that the trick to
    applying by hand is (1) to use a microbrush and (2) to remove most of the
    paint from the microbrush before applying the paint to the model, almost
    like drybrushing.  As I was applying, I didn't think the mottle would
    turn out that well, but in the end I was pleased.
</p>
<p>
    For the first time, I used Model Master Acryl Gloss Clear as a pre-coat for
    the decals, and it worked much better than Future.  Many modelers swear by
    Future, but I have never gotten it to spray that well.  I used the kit decals
    to build the plane flown by Alfred Grislawski.  I used Mr. Mark Setter, and
    it worked very well.  I used Model Master Acryl Flat Clear as the final coat,
    and I was pleased with it as well.
</p>
<p>
    I learn something about building the Hasegawa late model 109's every time I
    try to build one.  This time I learned to attach the moveable surfaces to the
    wings before attaching the wings to the fuselage.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
