---
layout: build.njk
kit: TAM61061
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    After struggling with the past few kits, I wanted something easy to paint,
    and I decided that a F4U-1D would fit the bill.  It has the reputation of
    assembling very easily, but as usual I had some issues.
</p>
<p>
    I used Model Master Enamel FS34151 Interior Green for the cockpit.  I
    found the cockpit a bit fiddly to get together, as the Corsair has a
    tubular cockpit, much like a Spitfire or a Hurricane.  I used Testors
    Flat Gun Metal for the engine, and Tamiya XF-53 Neutral Grey for the
    crankcase.  The propellor tips are Tamiya XF-3 Flat Yellow, and the
    blades are Gaianotes EX-02 Black.  I often have trouble with black not
    adhering that well, and I knew I was going to mask the blades in order
    to paint the spinner, but the EX-02 adhered well.  I didn't make a note
    of what I used for the spinner itself - I think it was Gaianotes EX-07
    Silver.
</p>
<p>
    The exterior was simple: everything, including the wheel wells, was
    painted Model Master Enamel Flat Sea Blue.  I believe that sometimes the
    landing gear was also painted that color, but just for contrast, I
    painted them silver.  The tires are Tamiya XF-85 Rubber Black.
</p>
<p>
    As with my {{ mymacros.linkTo('previous build', '0601/') }},
    I used Model Master Acryl Gloss Clear to get a gloss coat before
    applying the decals.  Regarding the decals,
    I wanted something a little different, so I used Rising Decals 48-004
    Fighting Kiwis.  The decals worked well, with no solvent needed.
    The instructions indicated that this plane did not have an arrestor
    hook, so I cut it off.
</p>
<p>
    As is my usual practice, I waited until after decaling to attach the
    landing gear.  Unfortunately, as I was attaching the landing gear, I
    inadvertently rubbed off part of the writing on the forward part of the
    starboard fuselage.  It should say "Tutae Wera".  I debated removing all
    of it, but decided to leave the remnants on.  Speaking of the landing
    gear, I had to struggle to attach them.
</p>
<p>
    One big mistake I made in building this kit was to not open the various
    mounting holes.  I should have looked through the instructions prior to
    starting assembly.  I did not intend to attach the rockets (the kit comes
    with underwing rockets), but I did intend to attach the drop tanks.  It
    wasn't until I had assembled them that I realized you have to open the
    holes in the wings before putting the wings together.  I also forgot to
    open the holes for the support rods in the wings.  There is also supposed
    to be a small piece that attaches to the front edge of the starboard
    wing, but you need to open a hole for it.  Yep, I forgot that one too.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
