---
layout: build.njk
kit: TAM61044
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    I decided it was time to brave another natural metal finish (NMF), so I built
    the Tamiya F-51D boxing of the P-51D.  This kit has everything the P-51D
    boxings have, plus additional underwing armament.  This kit also has both
    kinds of canopies, standard and Dallas, and two kinds of props.  I knew I
    didn't want to do a Korean War plane, so I searched through my decal
    stash and found Aeromaster 48-657 Yellow Nose Mustangs of the 361st FG
    part 3.  I thought Death's Angel would do nicely, since the paint
    scheme was pretty simple, just a yellow nose and an olive drab anti-glare
    panel.
</p>
<p>
    As with {{ mymacros.linkTo('the Corsair', '0701/') }}, I used Model Master
    Enamel FS34151 Interior Green for the cockpit.  The propellor blade tips
    were Tamiya XF-3 Flat Yellow and the propellor blades themselves were
    Gaianotes Ex-02 Flat Black.  I knew I was going to use Alclad II for the
    exterior, so I used Gaianotes Ex-07 Silver for the landing gear and the
    wheels, as I like to have a bit of contrast.
</p>
<p>
    For the exterior, I started by painting the yellow on the nose using Tamiya
    XF-3 Flat Yellow.  I used Tamiya XF-62 Olive Drab for the anti-glare
    panel.  I usually use Tamiya Khaki Drab to represent Olive Drab on US
    aircraft, as I think it looks a bit better, but since the area to be
    painted was so small I used actual Olive Drab.
</p>
<p>
    Now came the critical moment - painting the NMF.  I primed with Gaianotes
    Silver EVO Surfacer, thinking that using silver for a primer would make
    painting the Alclad easier.  Unfortunately, the Silver EVO Surfacer was
    quite grainy.  I used EVO in other colors before, and been satisfied with
    it, but I don't know that I'll be using the silver again.  I gave the kit
    a slight sanding, then applied the Alclad Aluminum.  It turned out okay,
    not great, but okay.  I think the next time I use a gloss black primer
    and double check for defects.
</p>
<p>
    I used Model Master Acryl Clear Gloss for my decal undercoat.  The Alclad
    was pretty glossy as it was, but some of the decals went over the yellow
    areas, so I had to apply the clear coat.  The Aeromaster decals went on
    well, using Microset and a little bit of Microsol.  I actually applied
    nearly all the stencils on this build, something I usually don't do.
    I used Future after
    applying the decals and attaching the landing gear, drop tanks, propellor
    and pitot tube, then used Acryl Clear Flat.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
{{ mymacros.buildLastModified(stats.mtime) }}
