---
layout: build.njk
kit: HC1538
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    Yet another 109...  This is a kit that I had tried to build once before
    and ended up in the trash.  I think I got frustrated by the poor fit.
    The fit was not perfect by any means, but I pushed my way through it,
    so perhaps my patience is increasing a little.
</p>
<p>
    The cockpit was painted with Floquil SP Lark Dark Gray, which I think is
    very close to {{f.rlm('66')}}.  The propellor blades were to be {{f.rlm('70')}}.  In the past,
    I've had issues with Tamiya {{f.txf('27')}} Black Green, namely that it does not
    adhere well (not an issue I usually have with Tamiya flats), so I decided
    to prime with {{f.nowrap('Mr. Surfacer')}} 1200.  The {{f.txf('27')}} adhered fine to that.
</p>
<p>
    The white on the spinner, wing tips, rudder and fuselage band was Model
    Master Enamel {{f.rlm('21')}}.  The
    underside was White Ensign Models (WEM) {{f.rlm('78')}}, and the top was Model Master
    Enamel {{f.rlm('79')}}.  I had intended to use Model Master Enamel for the {{f.rlm('78')}},
    but discovered that paint had dried in the bottle.  This is a problem I
    often have with Testors paints.  All of these enamels were thinned with
    Ronsonol, and all sprayed well.
</p>
<p>
    The tires were {{f.mrcolor('137')}} Tire Black., the guns were Tamiya {{f.tx('10')}}
    Gun Metal, and the wheels were Tamiya {{'18'|tx|safe}} Semi Gloss Black.  The exhaust
    was Tamiya {{f.txf('84')}} Dark Iron, which I wasn't terribly pleased with.  In my
    experience, Tamiya metallics don't work that well.  For the landing gear
    and wheel wells, I started with Model Master Enamel {{f.rlm('02')}}, but that
    didn't spray well, probably due to the age of the paint (see the {{f.rlm('78')}}
    above).  So I switched to WEM {{f.rlm('02')}}.
</p>
<p>
    I decided to try something a little different this time.  My understanding
    is that the mottling was applied at the unit level, which means it would
    have been applied after the insignia.  So I applied a gloss coat of Future,
    and then applied the decals, using Microset.  I had to use some Solvaset
    to get them to snuggle down to the surface, but all in all I was pleased
    with them.  I then applied the mottling, using Tamiya {{f.txf('58')}} Olive Green.
    I thinned it a bit and then used a microbrush.  It didn't turn out perfect,
    but I was happy enough with the results - much better than I could have
    accomplished with an airbrush!  I then used Right Step Matte Clear for
    the final flat coat.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
