---
layout: build.njk
kit: HAS09571
---
{% import "layouts/macros.njk" as mymacros %}
<p>
    Like {{ mymacros.linkTo('my previous build', '0901/') }}, this is a kit that I
    had tried to build before - twice before, as a matter of fact (although in
    a different boxing).
    Again I had to force myself to complete it, as this kit used a lot of putty.
    In the end, though, it turned out rather nice.
</p>
<p>
    The cockpit was painted with a Tamiya mix for RAF Interior Green.  I've had
    the mix for a while, so I don't remember the details, but I probably used
    the Tamiya recommendation of XF5:1 + XF21:3 + XF65:1.  I painted the seat
    Tamiya XF-64 Red Brown.  The exhaust was Tamiya XF-84 Dark Iron.  It was
    quite grainy.
</p>
<p>
    I primed with Brite Touch primer from Pep Boys.  The underside was my usual
    mix of Model Master Enamel Azure Blue and Flat White in equal proportions.
    The upper surfaces were Polly Scale Middlestone and Dark Earth.  They
    reminded me why I don't like spraying water-based acrylics.  I had to
    touch up the starboard side of the cowling by hand due to some overspray,
    and the color did not quite match.  The rudder was
    Polly Scale Pacemaker Red (from the railroad line).  The spinner and propellor
    blades were Model Master Enamel Flat Black.
</p>
<p>
    As mentioned above, I had tried to build this kit twice before, but those
    attempts came from a different boxing, namely the 09105/Jt5 boxing.  That boxing
    had decals for a Turkish Spitfire, similar to the
    {{ mymacros.linkTo('the one I built using the Tamiya kit', '0301/') }}, but with
    a black spinner and black codes on the side.  I decided to use the Turkish
    decals, partially because there weren't that many markings!  After gloss
    coating with Future, I used Mr. Mark
    Setter, and the decals went on well.  However, there was some white residue
    on the kit after the decals dried.  Some of that I was able to get rid of
    by putting a little bit of Future over it, but some was underneath the
    decal (particularly on the port side of the rudder).  I had to use Solvaset
    to soften the decal to get rid of that.  Model Master Acryl Flat Clear was
    used to seal the decals.
</p>
<p>
    A bit of a postscript: it wasn't until I took the photos that I noticed
    that the starboard side of the canopy doesn't fit right.  Apparently, I
    need to be a bit more careful about that in the future.
</p>
{{ mymacros.buildPhotoLink(path, 1) }}
{{ mymacros.buildPhotoLink(path, 2) }}
{{ mymacros.buildPhotoLink(path, 3) }}
