---
layout: build.njk
kit: ACA1664
---
{% import "layouts/macros.njk" as m %}
{% import "layouts/filters.njk" as f %}
<p>
    Athough I sold most of my 1/72 kits, I kept this one.  I had
    {{f.linkTo('built it','../../2010/0201/')}} a
    number of years ago, but that one did not turn out well, particularly the
    decals.  I was determined to do a better job this time around, and was
    rather pleased with how it turned out.
</p>
<p>
    Construction did not present any major problems.  Although I've learned to
    avoid using Academy decals, in my experience their kits go together quite well.
    Before starting construction, I looked through my aftermarket decals to find
    a set to use for
    this build, knowing that I had several Typhoon sheets.  When I looked closely,
    I realized that all my aftermarket sheets were for car-door Typhoons,
    whereas this kit represents a bubble top.
</p>
<p>
    I found
    {{f.linkTo('a review','http://www.hyperscale.com/2013/reviews/decals/x72179reviewpm_1.htm')}}
    of an Xtradecal sheet dedicated to the Typhoon, but I didn't want to spend
    thirteen bucks or so for a kit that was about ten.  I noticed that one of
    the subjects on the sheet, HF-S, had no special markings and was personally
    inspected by King George VI.  The lack of special markings meant I would not
    have to paint any invasion or identification stripes, a chore in 1/72 and
    something I wanted to avoid.
    I also figured such a plane would not have any
    underwing stores, another plus, so I decided that would be the plane I
    would model.  I had {{f.linkTo('Techmod','https://techmod.pl/')}}
    sheet 72042, which did not have those exact
    codes, but by splicing different codes I could come up with the right
    squadron markings.  I did not get the serial number though - I used DN421,
    whereas the actual plane was MN454.
</p>
<p>
    I primed with Tamiya Grey Primer, from the 40 ml bottle, thinned with
    Mr. Leveling Thinner.  It sprayed very well.  For the yellow on the front of
    the wings, I used Model Master Enamel {{f.rlm('04')}}, which is somewhat close to
    RAF Trainer Yellow (I believe that is the actual color).  The fuselage
    band and spinner were painted Tamiya {{f.txf('21')}} Sky.  I used Tamiya RAF colors
    for the exterior - {{f.txf('83')}} Medium Sea Gray 2 for the bottom, and {{f.txf('82')}} Ocean
    Gray 2 and {{f.txf('81')}} RAF Dark Green 2 for the top.  I used Eduard {{f.nowrap('CX-061')}} mask
    to mask the canopy.
</p>
<p>
    For the pre-decal gloss coat, I used Future, cut with denatured alcohol
    with a bit of glycerin added as a retarder.  Although many folks spray
    Future right from the bottle (and usually insist that everyone else do the
    same), I have never gotten great results that way.  This method worked a bit
    better for me.  As mentioned above, I used Techmod decals.  They only needed
    about eight seconds in hot water to come free, and went on well.  I used
    Micro Set as a setting solution.  I used Micro Sol on most spots where the
    decal needed softening, but in a couple of spots, such as the port fuselage,
    I had to use Solvaset.  I was afraid it might hurt the decals, as it is
    rather strong, but it didn't.
</p>
<p>
    Once the decals were dry, I attached the landing gear and the pitot tube.
    I then gave the model another gloss clear coat to ensure that everything had
    an even sheen.  I then sprayed Model Master Acryl Flat Clear as a post-decal
    coat.  The landing lights were attached, and then the windscreen and canopy.
    After attaching the canopy, I realized that I had the windscreen on upside
    down.  I was able to remove it, turn it around, and re-glue it.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
