---
layout: build.njk
kit: MONO5258
---
{% import "layouts/macros.njk" as m %}
<p>
    What do you know - two Typhoons in a row.  Actually, I started this while I
    was working on the {{ 'Academy Typhoon' | linkTo('../1101/') | safe }}, thinking it
    might be kind of interesting to work of two models of the same subject
    (although in different scale) at the same time.  It really wasn't that
    different than building two different subjects.
</p>
<p>
    The cockpit was painted with Model Master Enamel RAF Interior Green, although
    I think I read somewhere that many Typhoon cockpits were black.  That was
    pretty much the only interior item to paint - the rest is exterior.
</p>
<p>
    I looked over the decal options with the kit, and also my decal stash, to
    find a subject.  I wanted to avoid stripes, but decided to bite the bullet
    and use one of the subjects from the kit decals.  However, I decided to paint
    the invasion stripes and the fuselage stripe.  It was rather laborious, but
    not too difficult, although after I was done I noticed that the stripes on
    the fuselage bottom are not quite perpendicular to the fuselage - they slant
    a bit.
</p>
<p>
    The invasion stripes were painted with Tamiya XF-2 Flat White and XF-1 Flat
    Black.  The Flat Black was also used for the spinner, the rockets and the
    wing walkways.  It goes on a bit
    chalky (for want of a better term) and doesn't adhere as well as I'd like.
    The fuselage band was Tamiya XF-21 Sky.  For the camouflage, I used Model
    Master Enamels: RAF Medium Sea Gray, RAF Ocean Gray and RAF Dark Green.
    The tires were painted Model Master Enamel Flat Black.  I did try something
    a little different by using Apple Barrel craft paint for the exhaust
    (Pavement) and the area behind the cockpit (Black).  These were painted by
    hand.
</p>
<p>
    For the pre-decal gloss coat, I used Future, cut with denatured alcohol
    with a bit of glycerin added as a retarder, as I did with the Academy
    kit.  As mentioned above, the decals were from the kit.  I used Mr. Mark
    Setter for the first few.  This has worked well, but often leaves a white
    residue.  I switched to MicroSet for the remaining, and it worked well.
    The only surprise I had was that the serial number was part of a decal that
    also included the fuselage band and invasion stripes, which I had already
    painted.  I trimmed as close as I could to the serial number, but if you
    look closely, you can see that the background behind the serial number
    doesn't quite match the rest of the band.
</p>
{{ m.buildPhotoLink(path, 1) }}
{{ m.buildPhotoLink(path, 2) }}
{{ m.buildPhotoLink(path, 3) }}
