---
title: About Uncle Uncool
layout: body.njk
---

<h3>
  The domain
</h3>
<p>
  I am a member of {{ 'ARC' | linkTo("http://www.arcair.com/") | safe }},
  where my user name is zeus60.
  There was another member whose user name is Uncle Uncool. I was so impressed
  by his moniker that I asked him if he had a web site, and, if not, if he would
  mind if I used his user name as a domain name. He did not have a web site and was gracious enough
  to let me use the name. Since I am an uncle, and not a dad, and am very uncool,
  I thought it fitting.
</p>
<h3>
  The web site
</h3>
<p>
  This is a static web site, created with <a href="https://metalsmith.io/">Metalsmith</a>,
  a static site generation tool written in Javascript.
  The source code for this site is available on
  {{ 'github' | linkTo("https://github.com/brothertoad/uncle-metalsmith") | safe }}.
  The web pages themselves are hosted on
  {{ "Google's Firebase" | linkTo('https://firebase.google.com') | safe }},
  the images are hosted on
  {{ 'Amazon S3' | linkTo('https://aws.amazon.com/s3/') | safe }},
  and the email is handled by
  {{ 'Zoho Mail' | linkTo('https://www.zoho.com/mail/') | safe }}.
  The web pages are written in
  {{ 'Nunjucks' | linkTo('https://mozilla.github.io/nunjucks/') | safe }}
  and the stylesheets are written in
  {{ 'Sass' | linkTo('https://sass-lang.com/') | safe }}.
</p>
<p>
  This site was originally created using
  {{ 'Middleman' | linkTo('https://middlemanapp.com/') | safe }}.  It was migrated
  to Metalsmith in June 2020.  The source code for the Middleman
  version of this website is
  {{ 'here' | linkTo('https://github.com/brothertoad/uncle') | safe }}.
  Note that this source code is no longer updated.
<p>
  You can contact me at uncleATuncleuncoolDOTnet.
</p>
