---
title: About Uncle Uncool
layout: body.njk
---
{% import "layouts/macros.njk" as mymacros %}

<h3>
  The domain
</h3>
<p>
  I am a member of <a href="http://www.arcair.com/">ARC</a>,
  where my user name is zeus60.
  There was another member whose user name is Uncle Uncool. I was so impressed
  by his moniker that I asked him if he had a web site, and, if not, if he would
  mind if I used his user name as a domain name. He did not have a web site and was gracious enough
  to let me use the name. Since I am an uncle, and not a dad, and am very uncool,
  I thought it fitting.
</p>
<h3>
  The web site
</h3>
<p>
  This is a static web site, created with <a href="https://metalsmith.io/">Metalsmith</a>,
  a static site generation tool written in Javascript.
  The source code for this site is available on github. The web pages themselves
  are hosted on <a href="https://aws.amazon.com/s3/">Amazon S3</a>,
  and the email is handled by
  <a href="https://www.zoho.com/mail/">Zoho Mail</a>. The web pages
  are written in <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
  and the stylesheets are written in
  <a href="https://sass-lang.com/">Sass</a>.
</p>
<p>
  You can contact me at uncleATuncleuncoolDOTnet.
</p>
