---
title: "Uncle Uncool: The Builds"
banner: The Builds
layout: body.njk
---
{% import "layouts/filters.njk" as f %}
<p>
  Here is a list of my completions. Note that I do say 'completions',
  as for each one I've completed, several have ended up as FUBAR, although
  my batting average is improving.
</p>
<p>
  The vast majority are WWII aircraft, which is my main focus. I've done a
  few armor subjects as well. I have a large stash, which includes not only
  aircraft and armor, but cars, motorcycles, animals and figures (both styrene
  and resin) as well. The only thing I don't have yet is a ship.
</p>
<p>
  Note that a few of the entries in the table don't have links.  These are builds
  that either I don't have photos of (and have tossed the kits), or simply are too
  horrendous to include.
</p>
<table class="build-table">
  <thead>
    <th>Date</th>
    <th>Manufacturer</th>
    <th>Scale</th>
    <th>Description</th>
    <th>Kit Number</th>
  </thead>
  <tbody>
    {% for b in builds %}
    <tr>
      <td>{{ b.date }}</td>
      <td>{{ b.brand }}</td>
      <td>{{ b.scale }}</td>
      {% if b.url %}
      <td>{{f.linkTo(b.name,b.url)}}</td>
      {% else %}
      <td>{{ b.name | safe }}</td>
      {% endif %}
      <td>{{ b.number }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
  Build count: {{ builds.length }}
</p>
