---
title: Uncle Uncool
banner: Uncle Uncool
layout: body.njk
---
{% import "layouts/macros.njk" as mymacros %}

<div class="motto">The uncoolest guy on the planet...</div>

<p>
  I'm Uncle Uncool.  Welcome to my web site!  It is primarily devoted to my
  plastic models, but I may add other uncool stuff at some point.
  I built models as a boy, and took up the hobby again
  in April of 2006.
</p>
<p>
  If you've visited other plastic model sites on the web, you've
  probably seen some fantastic work.  I know I have.  Sorry to say, you won't
  see anything like that here.  Although I'm a very enthusiastic
  modeler, and enjoy it tremendously, I'll be the first to admit that
  I'm not all that great at it, even after fourteen years back at it as of
  this writing.  I am also a very casual modeler.  It is rare that I do
  any more research into a subject than reading the kit instructions,
  and I still haven't tried to weather any of my airplanes (although I
  do attempt to weather my armor builds).
</p>
<p>
  You can peruse my completions on my {{ 'builds page' | linkTo('builds/') | safe }}.
</p>
<p>
  Here are a couple of photos of my workbench.  The first was taken right after I
  cleaned it, which I do every two weeks.  The second shows a work in progress.
</p>
<p>
  <img src="https://d1dems3vhrlf9r.cloudfront.net/images/workbench-20160616-clean.jpg" class="build-photo">
</p>
<p>
  <img src="https://d1dems3vhrlf9r.cloudfront.net/images/workbench-20160616.jpg" class="build-photo">
</p>
