---
title: "Uncle Uncool: The Stash"
banner: The Stash
layout: body.njk
---

<p>
  Like many modelers, I've built up quite a collection of unbuilt kits
  (known as 'the stash' to those in the hobby). Here are some pictures I took
  in April 2021. This is not the entire stash, but it is most of it.  I counted
  it and I have roughly 550 kits, and this doesn't count the 140 I've picked out
  to sell.
</p>
{% for image in [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 ] %}
  <p>
    {% set target = "https://d1dems3vhrlf9r.cloudfront.net/images/stash-2021-04-10/" + ( image | make3digits ) + "-1000.jpg" %}
    <img src="{{ target }}" class="build-photo">
  </p>
{% endfor %}
